<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i  class="fas fa-car" style="font-size:24px;"></i></div>
                    <h4 class="card-title">{{'vehicleRegistration.title' | translate }}</h4>
                </div>

                <div class="card-body">
                    <!--  Success Message Starts -->
                    <div *ngIf="saveSuccess">
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                        <div class="float-right" style="margin-top:20px; margin-right: 20px;">
                            <button mat-raised-button class="btn btn-primary" (click)="goHome()">
                                <i class="material-icons">done</i>&nbsp; {{'ok' | translate}}
                            </button>
                        </div>
                    </div>
                    <!--  Success Message ends-->
                    
                    <!-- Error Message Starts -->
                    <div *ngIf="saveFailure">
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{message}}</span>
                        </div>
                    </div>
                    <!-- Error Message Ends -->

                    <div *ngIf="!saveSuccess">
                        <!-- <div class="alert alert-danger" *ngIf="saveFailure">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>Unable to import Vehicle Registration. Please try again or contact administrator.</span>
                        </div> -->
                        <div class="col-md-12">
                            <h5>{{'vehicleRegistration.vehicleRegistrationDetails' | translate }}</h5>
                        </div>
                        </br>
                         <div *ngIf="display">
                        <form [formGroup]="vehicleRegForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <mat-radio-group formControlName="selectedOption">
                                        <div *ngIf="!editMode">
                                            <mat-radio-button value="form">{{'vehicleRegistration.vehicleRegistrationForm' | translate }}</mat-radio-button>
                                            <mat-radio-button value="file">{{'vehicleRegistration.uploadJsonFile' | translate }}</mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                   <!-- <div *ngIf="editMode">Vehicle Registration Form</div> -->
                                </div>
                             <br/>
                            <div [ngSwitch]="vehicleRegForm.controls['selectedOption'].value">
                                <div class="col-md-12" *ngSwitchCase="'file'">
                                    <div class="col-md-8">
                                    <div class="row mb-4">
                                        <label style="padding-top: calc(0.4375rem + 1px) !important; padding-bottom: calc(0.4375rem + 1px) !important;"
                                            class="col-md-3 col-2 col-form-label">{{'vehicleRegistration.uploadFile' | translate }}</label>
                                        <div class="col-md-4 col-4">
                                            <div>
                                                <input type="file" accept=".json" (change)="onRegistrationDetailsChange($event)">
                                                <mat-error class="materror" *ngIf="regDetailsError">
                                                   {{'vehicleRegistration.validation.jsonFileError' | translate }}
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngSwitchCase="'form'">
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.vin' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="vin">
                                                <mat-error *ngIf="vehicleRegForm.controls['vin'].hasError('required')">
                                                    {{'vehicleRegistration.validation.required' | translate: {field: 'vehicleRegistration.vin' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.make' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="make">
                                                <mat-error *ngIf="vehicleRegForm.controls['make'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.make' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.year' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="year">
                                                <!-- <mat-select formControlName="dateOfSale">
                                                    <mat-option *ngFor="let option of options" [value]="option">
                                                        {{ option }}
                                                    </mat-option>
                                               </mat-select>   -->
                                                <mat-error *ngIf="vehicleRegForm.controls['year'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.year' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.model' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="model">
                                                <mat-error *ngIf="vehicleRegForm.controls['model'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.model' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.color' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="color">
                                                <mat-error *ngIf="vehicleRegForm.controls['color'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.color' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.licensePlateNumber' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="licensePlateNumber">
                                                <mat-error *ngIf="vehicleRegForm.controls['licensePlateNumber'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.licensePlateNumber' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.capacity' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="capacity">
                                                <mat-error *ngIf="vehicleRegForm.controls['capacity'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.capacity' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.dateOfSale' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <!-- <input matInput formControlName="dateOfSale"> -->
                                                <input matInput formControlName="dateOfSale" [matDatepicker]="picker" placeholder="Choose a date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <mat-error *ngIf="vehicleRegForm.controls['dateOfSale'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.dateOfSale' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.dealerName' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="dealerName">
                                                <mat-error *ngIf="vehicleRegForm.controls['dealerName'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.dealerName' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.dealerLicenseNumber' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="dealerLicenseNumber">
                                                <mat-error *ngIf="vehicleRegForm.controls['dealerLicenseNumber'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.dealerLicenseNumber' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.dealerInvoiceNumber' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="dealerInvoiceNumber">
                                                <mat-error *ngIf="vehicleRegForm.controls['dealerInvoiceNumber'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.dealerInvoiceNumber' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.ownerName' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="ownerName">
                                                <mat-error *ngIf="vehicleRegForm.controls['ownerName'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.ownerName' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.ownerAddress' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="ownerAddress">
                                                <mat-error *ngIf="vehicleRegForm.controls['ownerAddress'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.ownerAddress' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.policyNumber' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="policyNumber">
                                                <mat-error *ngIf="vehicleRegForm.controls['policyNumber'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.policyNumber' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.insuranceCompanyName' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="insuranceCompanyName">
                                                <mat-error *ngIf="vehicleRegForm.controls['insuranceCompanyName'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.insuranceCompanyName' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'vehicleRegistration.insuranceAgentName' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput formControlName="insuranceAgentName">
                                                <mat-error *ngIf="vehicleRegForm.controls['insuranceAgentName'].hasError('required')">
                                                        {{'vehicleRegistration.validation.required' | translate : {field: 'vehicleRegistration.insuranceAgentName' | translate } }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="float-right saveCancelBtns">
                                <button class="btn btn-primary" style="background-color: white;color:black;" (click)="goHome()">{{'cancel' | translate}}</button>
                            	<button class="btn btn-primary" [jhiSubmitIfValid]="vehicleRegForm" (valid)="saveVehicleRegistration()">{{'register' | translate}}</button>
                             </div>
                        </form>
                         </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>