<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">phone_android</i></div>
                    <h4 class="card-title">{{'pairMobileService.heading' | translate: {serviceApp: serviceApp} }}</h4>
                </div>
                <div  class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="descripAndSteps">
                                        <div>
                                            <!-- <h5 *ngIf="onboardSelfService === 'false'">{{'pairMobileDevice.description' | translate}}</h5> -->
                                            <!-- <h5 *ngIf="onboardSelfService === 'true'">{{'pairMobileDevice.description_me' | translate}}</h5> -->
                                            <h5>{{'pairMobileService.step1' | translate: {serviceApp: serviceApp} }} <a href="{{pairMobileDeviceConfig.googlePlayStoreAppUrl}}"><img src="../../content/images/from_android.png" style="width:150px;height:50px" ></a>
                                                {{'pairMobileDevice.and' | translate}} <a href="{{pairMobileDeviceConfig.appleAppStoreAppUrl}}"><img src="../../content/images/from_ios.png" style="width:150px;height:50px"></a></h5>
                                            <h5>{{'pairMobileService.step2' | translate: {serviceApp: serviceApp} }}</h5>
                                            <h5>{{'pairMobileDevice.step3' | translate}}</h5>
                                        </div>
                                
                                        <div class="row footerNoteRow">
                                            <div class="col-md-12 footerNote">
                                                <h5>{{'pairMobileService.footer.step1' | translate}}</h5>
                                                <h5>{{'pairMobileDevice.footer.url' | translate}}: {{pairMobileDeviceConfig.pairMobileDeviceUrl}}</h5>
                                                <!-- <h5>{{'pairMobileDevice.footer.secretKey' | translate}}: {{pairMobileDeviceConfig.secretKey}}</h5> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 text-center">
                                    <!-- <h5 class="expiryTime"><span>{{'pairMobileDevice.qrCodeExpiring' | translate}}</span> <br> <span>{{countDown | async | formatTime}}</span></h5> -->
                                    <!-- *ngIf='!expiryQrcode' -->
                                    <div class="img-responsive qrCode" >
                                        <img src="data:image/png;base64,{{pairMobileDeviceConfig.qrCode}}" alt="QR Code" title="QR Code">
                                        <h5 class="invisible">{{'pairMobileDevice.successMessage' | translate}}</h5>
                                    </div>

                                    <div *ngIf='false'>
                                        <div class="successQrCode">
                                            <i class="material-icons text-white refresh">done</i>
                                        </div>
                                        <h5>{{'pairMobileDevice.successMessage' | translate}}</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="row footerVideo" *ngIf='pairMobileDeviceConfig.enableDemoVideo === true'>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <h4 class="text-center">Demo Video</h4>
                                    <video width="100%" height="400px" controls>
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
