.refresh:hover {
    cursor: pointer;
}

.logoIcon {
    width: 75px;
    height: 75px;
    background-color: #ff9800;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.logoIcon img {
    width: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.refreshQrCode {
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
    text-transform: uppercase;
}

.refreshQrCode div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.refreshQrCode div i {
    font-size: 2em;
}

.refreshQrCode div p {
    font-weight: 400;
}

.successQrCode {
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 50%;
    margin: auto;
}

.descripAndSteps {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.descripAndSteps h5:first-child {
    font-weight: 400;
}

.expiredQrCode {
    opacity: 0.3 !important;
}

.successQrCode i {
    font-size: 7em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.successQrCode ~ h5 {
    margin-top: 2em;
}

.footerNote {
    background-color: #f6f8f8;
}

.footerVideo {
    // background-color: #f6f8f8;
    // padding-top: 2em;
    padding-bottom: 2em;
}

.footerNote h5:first-child {
    margin-top: 15px;
}

.expiryTime {
    margin-bottom: 0px !important;
}

.card-body {
    padding-bottom: 0px !important;
}

.footerNoteRow {
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.dispalyDots1 {
    display: block;
    // width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}