<div>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>        
    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
            <h4 class="card-title" style="float:left;">{{'home.stats.headers.pendingIssuance' | translate }}</h4>
      
            <mat-form-field class="dateRight" appearance="outline" style="width:21%;">
              <input style="color: black;" matInput [max]="maxDate" [matDatepicker]="picker" (keyup)="onKeyUp(2,$event)" (dateChange)="onChangeDate('endDate', $event)" placeholder="{{'home.chooseEndDate' | translate}}"  [formControl]="endDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                <div *ngIf="endDateValidationPattern"><small>{{'monitor.validation.invalidDate' | translate}}</small></div>
                <div *ngIf="todayDateValidation && !endDateValidationPattern"><small>{{'monitor.validation.endDate' | translate}}</small></div>
                 <div *ngIf="dateValidationError"><small>{{'monitor.validation.endDateError' | translate}}</small></div>
             </mat-error>
            </mat-form-field>
      
            <mat-form-field class="dateLeft" appearance="outline" style="width:21%;">
              <input style="color: black;" matInput [max]="maxDate" [matDatepicker]="picker1" (keyup)="onKeyUp(1,$event)" (dateChange)="onChangeDate('startDate', $event)" placeholder="{{'home.chooseStartDate' | translate}}" [formControl]="startDate" >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error>
                <div *ngIf="startDatevalidationPattern"><small>{{'monitor.validation.invalidDate' | translate}}</small></div>
                <div *ngIf="todayDateValidation && !startDatevalidationPattern"><small>{{'monitor.validation.startDate' | translate}}</small></div>
                <div *ngIf=dateValidationError><small>{{'monitor.validation.startDateError' | translate}}</small></div>
             </mat-error>
            </mat-form-field>
        </div>
        <div class="card-body">
            <table mat-table [dataSource]="data" matSort matSortDisableClear matSortDirection="desc">
                    <!-- Request Type Column -->
                    <ng-container matColumnDef="requestType">
                        <mat-header-cell *matHeaderCellDef class="text-primary"> {{'home.stats.pendingIssuance.requestType' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">{{'home.stats.status.issuance' | translate }}</mat-cell>
                    </ng-container>
            
                    <!-- Requested By Column -->
                    <ng-container matColumnDef="requestedBy">
                        <mat-header-cell *matHeaderCellDef> {{'home.stats.pendingIssuance.requestedBy' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">{{userEntity.enrolledBy | translate }}</mat-cell>
                    </ng-container>
            
                    <!-- Requested For Column -->
                    <ng-container matColumnDef="requestedFor">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'home.stats.pendingIssuance.requestedFor' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">{{userEntity.firstName}}</mat-cell>
                    </ng-container>
            
                    <!-- Requested Date Column -->
                    <ng-container matColumnDef="requestedDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'home.stats.pendingIssuance.requestedDate' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">{{userEntity.createdDate}}</mat-cell>
                    </ng-container>
            
                    <!-- Current Status Column -->
                    <ng-container matColumnDef="currentStatus">
                        <mat-header-cell *matHeaderCellDef >{{'home.stats.pendingIssuance.currentStatus' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">{{'home.stats.status.awaiting' | translate }}</mat-cell>
                    </ng-container>
            
                    <!-- Actions Column --> 
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> {{'home.stats.pendingIssuance.actions' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let userEntity">
                            <button mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.issueIdentity' | translate}}" class="btn btn-info btn-link paddingBtn" (click)="issueUser(userEntity)">
                                    <i class="material-icons">contacts</i>
                                </button>
                                <button mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.enrollmentDetails' | translate}}" class="btn btn-success btn-link paddingBtn" (click)="displayEnrollmentDetails(userEntity)">
                                    <i class="material-icons">wysiwyg</i>
                                </button>
                                <!-- [disabled]="userEntity.isFederated"  -->
                                <button mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.deleteUser' | translate}}" data-toggle="modal" data-target="#deleteEnrolledUser" class="btn btn-danger btn-link paddingBtn"  (click)="setDeleteEnrolledUser(userEntity)">
                                    <i class="material-icons">delete</i>
                                </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell  *matFooterCellDef>{{'home.stats.noRecordsFound' | translate}}</mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(data.length==0)}"></mat-footer-row>
                </table>
                <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <br/>
</div>
<!-- Modal Starts -->
<div class="modal fade" id="deleteEnrolledUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">{{'searchUser.deleteUser' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" margin-left: auto; margin-right: auto;">
                <p style="text-align: center">{{'searchUser.confirmDeleteUser' | translate: {username: userFirstName_tbd} }}</p>
            </div>
            <div class="text-center">
                <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="deleteEnrolledUser()" data-dismiss="modal">{{'yes' | translate}}</button>
                <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
            </div>
        </div>
    </div>
</div>