
  <div class="content table-responsive">
    <table class="table">
      <tbody>
          <tr>
          <th>Time Stamp</th>
          <th>User</th>
          <th>Method</th>
          <th>IP Address</th>
          <th>Location</th>
          <th>Result</th>
        </tr>
          <tr *ngFor="let row of data.dataRows">
            <td>
                {{row[0]}}
            </td>
            <td>
                {{row[1]}}
            </td>
            <td>
                {{row[2]}}
            </td>
            <td>
                {{row[3]}}
            </td>
            <td>
                <div class="flag">
                    <img [src]="'./../../../content/images/flags/' + row[4] + '.png'" alt="flag">
                </div>
                {{row[5]}}
            </td>
            <td>
                {{row[6]}}
            </td>
          </tr>
      </tbody>
    </table>

  </div>
