<div class="main-content" style="padding: 35px 15px">
  <div class="container-fluid">
    <div class="card">

      <div class="card-header card-header-primary card-header-text">
        <div class="card-text">
          <h4 class="card-title">{{'manageIdentiyDevices.reissue' | translate}}</h4>
        </div>
      </div>

      <div class="card-body">

        <h4 style = "margin: 30px 0px 40px;">{{'manageIdentiyDevices.reissueVerifyMsg' | translate}}</h4>
        
        <table style="width:70%">
          <tr>
            <td><label>{{'manageIdentiyDevices.currentPin' | translate}} :</label> </td>
            <td>
              <mat-form-field style="width:300px">
                <input matInput placeholder="{{'manageIdentiyDevices.devicePin' | translate}}" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </td>
          </tr>

          <tr>
              <td></td>
              <td>
                  <mat-form-field style="width:300px">
                      <mat-select multiple placeholder="Connected Identity Device">
                          <mat-option>Option1</mat-option>
                          <mat-option>Option2</mat-option>
                          <mat-option>Option3</mat-option>
                      </mat-select>
                  </mat-form-field>
              </td>
            </tr>
        </table>

        <div style="float: right;">
            <button mat-raised-button class="btn  btn-primary"><i class="material-icons">done</i> {{'ok' | translate}}</button>
            <button mat-raised-button class="btn btn-primary" routerLink="../manageIdentityDevices"><i class="material-icons">close</i> {{'cancel' | translate}}</button>
        </div>

      </div>
    </div>
  </div>
</div>