<div class="main-content">
  <div class="container-fluid">
    <div class="mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div class="card">
        <div class="card-header card-header-primary card-header-text">
          <div class="card-icon">
            <svg-icon  style="width: 33px;height:35px"  src="../../content/images/icons/smart_card_reader_ic.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)','padding-left.px': 5,'width.px':35}"></svg-icon>
          </div>
          <h4 class="card-title">{{'idreader.title' | translate}}</h4>
        </div>
        <div class="card-body" *ngIf="display">
          <!-- Error Message Starts -->
          <div *ngIf="errorDisplay">
            <div class="alert alert-danger">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>{{errorMsg}}</span>
            </div>
          </div>
          <!-- Error Message Ends -->
          <!-- <h4>Description</h4> -->
          <form [formGroup]="idReaderForm">
            <div class="col-md-12">
              <div class="row">
                <label for="perso" class="col-md-2 col-2 col-form-label">{{'issuance.connected' | translate}}
                  {{'issuance.cardReader' | translate}}</label>
                <div class="col-md-5 col-5">
                  <mat-form-field>
                    <mat-select formControlName="identityDevice">
                      <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                        {{cardReader.cardReaderName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="idReaderForm.controls['identityDevice'].hasError('required')">
                      {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-5" style="margin-bottom: 1.5em;">
                  <label>{{'issuance.authenticatorDevice' | translate}} : </label> <span style="font-weight: bold">{{selectedCardName}}</span>
                </div>
              </div>

              <div class="row" [hidden]="!showPIN">
                <label for="perso" class="col-md-2 col-2 col-form-label">{{'manageIdentiyDevices.pin' | translate}}</label>
                <div class="col-md-5 col-5">
                  <mat-form-field>
                    <input jhiNumbersOnly matInput type="password" [type]="pinHide ? 'password' : 'text'"
                      formControlName="pin">
                    <mat-icon matSuffix (click)="pinHide = !pinHide">{{pinHide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="idReaderForm.controls['pin'].hasError('required')">{{'issuance.validations.pin.required' | translate}}</mat-error>
                    <mat-error *ngIf="idReaderForm.controls['pin'].hasError('pattern')">{{'issuance.validations.lengthError' | translate}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- [hidden]="!showDeviceProfile || deviceProfiles.length == 1" -->
              <div class="row" *ngIf="showDeviceProfile && (deviceProfiles.length != 1 && deviceProfiles.length != 0)" >
                <label for="perso" class="col-md-2 col-2 col-form-label">{{'idreader.deviceProfile' | translate}}</label>
                <div class="col-md-5 col-5">
                  <mat-form-field>
                    <mat-select formControlName="deviceProfile">
                      <mat-option *ngFor="let deviceProfile of deviceProfiles" [value]="deviceProfile">{{deviceProfile.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="idReaderForm.controls['deviceProfile'].hasError('required')">
                      {{'createWorkflow.validations.required' | translate: {field: 'createWorkflow.general.deviceProfile' | translate } }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div> <br />

            <div class="saveCancelBtns float-right">
              <button mat-raised-button class="btn  btn-primary" [jhiSubmitIfValid]="idReaderForm"
                (valid)="verifyPinAndGetDetails()">{{'ok' | translate}}</button>
              <button mat-raised-button class="btn btn-primary" routerLink="../dashboard">{{'cancel' | translate}}</button>
            </div>
          </form>

          <div *ngIf="dispalyDetails" style="margin-top: 80px;">
            <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
            <div id="demo" class="collapse out">ASDF
            </div> -->
            <div class="card">
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showDeviceInfo" (click)="showDeviceInfo = !showDeviceInfo">{{'idreader.deviceInfo' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showDeviceInfo, 'fa-angle-down': showDeviceInfo}"></i>
                </button>
              </div>
              <div class="card-body" id="showDeviceInfo" class="collapse show">
                <div class="col-md-12" style="display: flex; margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.atr' | translate}}</label>
                        <span class="summaryInfoValue">{{atr}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.modelOfCard' | translate}}</label>
                        <span class="summaryInfoValue">{{selectedCardName}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.cardSerialNo' | translate}}</label>
                        <span class="summaryInfoValue">{{cardSerialNumber}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.cardBelongsTo' | translate}}</label>
                        <span class="summaryInfoValue" *ngIf="showPIN">{{userDetails.username}}</span>
                        <span class="summaryInfoValue" *ngIf="!showPIN">{{rfidBasicIDTagBean.cardHolderFirstName}} {{rfidBasicIDTagBean.cardHolderLastName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- showPIn = false for RFID(as RFID cards like mifare, desfire dont have PIN) card-->
            <div class="card" *ngIf="!showPIN" style="margin-top: 50px;">
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showUserInfo" (click)="showUserInfo = !showUserInfo">{{'idreader.userInfo' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showUserInfo, 'fa-angle-down': showUserInfo}"></i>
                </button>
              </div>
              <div class="card-body" id="showUserInfo" class="collapse show">
                <div class="col-md-12" style="display: flex; margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderContactInfoEmailId !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.email' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderContactInfoEmailId}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.orgName !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.organization' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.orgName}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderAddress !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.address' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderAddress}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardTypeName !== null">
                      <div style="margin-bottom: 10px">  
                        <label style="width: 160px">{{'idreader.cardType' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardTypeName}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.bloodGroup !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.bloodGroup' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.bloodGroup}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issueDateDay !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuedDate' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issueDateDay}}-{{rfidBasicIDTagBean.issueDateMonth}}-{{rfidBasicIDTagBean.issueDateYear}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardTypeName === 'Driving Licence' ">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.donar' | translate}}</label>
                        <span class="summaryInfoValue" *ngIf="rfidBasicIDTagBean.donar">{{'yes' | translate}}</span>
                        <span class="summaryInfoValue" *ngIf="!rfidBasicIDTagBean.donar">{{'no' | translate}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderContactInfoMobNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.contactNumber' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderContactInfoMobNo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.sex !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.gender' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.sex}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderContactInfoFaxNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.faxNo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderContactInfoFaxNo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderContactInfoLanNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.lanNo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderContactInfoLanNo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardHolderContactInfoWeb !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.web' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardHolderContactInfoWeb}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.expiredDateDay !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.expiryDate' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.expiredDateDay}}-{{rfidBasicIDTagBean.expiredDateMonth}}-{{rfidBasicIDTagBean.expiredDateYear}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.cardSrNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuedCardIdNo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.cardSrNo}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="!showPIN" style="margin-top: 50px;">
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showIssuerInfo" (click)="showIssuerInfo = !showIssuerInfo">{{'idreader.issuerInfo' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showIssuerInfo, 'fa-angle-down': showIssuerInfo}"></i>
                </button>
              </div>
              <div class="card-body" id="showIssuerInfo" class="collapse show">
                <div class="col-md-12" style="display: flex; margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="row" *ngIf="rfidBasicIDTagBean.orgName !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuerName' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.orgName}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerAddress !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuerAddress' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerAddress}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuerContactInfo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfoFaxNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.faxNo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfoFaxNo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfoWeb !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.web' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfoWeb}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfoMobNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.contactNumber' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfoMobNo}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfoEmailId !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.email' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfoEmailId}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="rfidBasicIDTagBean.issuerContactInfoLanNo !== null">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.lanNo' | translate}}</label>
                        <span class="summaryInfoValue">{{rfidBasicIDTagBean.issuerContactInfoLanNo}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showPIN">
            <div class="card" style="margin-top: 50px;" >
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showChuidInfo" (click)="showChuidInfo = !showChuidInfo">{{'idreader.chuidInfo' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showChuidInfo, 'fa-angle-down': showChuidInfo}"></i>
                </button>
              </div>
              <div class="card-body" id="showChuidInfo" class="collapse show">
                <div class="col-md-12" style="display: flex; margin-top: 10px;" *ngIf="chuidContainerBean !== null && chuidContainerBean !== undefined">
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.fasc-n' | translate}}</label>
                        <span class="summaryInfoValue">{{chuidContainerBean.fascn}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.orgIdentifier' | translate}}</label>
                        <span class="summaryInfoValue">{{chuidContainerBean.organizationID}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.duns' | translate}}</label>
                        <span class="summaryInfoValue">{{chuidContainerBean.duns}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.guid' | translate}}</label>
                        <span class="summaryInfoValue">{{chuidContainerBean.guid}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.expiryDate' | translate}}</label>
                        <span class="summaryInfoValue">{{chuidContainerBean.expirationDate}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header card-header-primary card-header-text">
                        <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                          data-target="#showFascn" (click)="showFascn = !showFascn">{{'idreader.fasc-n' | translate}}
                          <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showFascn, 'fa-angle-down': showFascn}"></i>
                        </button>
                      </div>
                      <div class="card-body" id="showFascn" class="collapse show">
                        <div class="col-md-12" style="display: flex; margin-top: 10px;">
                          <div class="col-md-6">
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.agencyCode' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnAgencyCode}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.sysCode' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnSystemCode}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.credentialNo' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnCredentialNumber}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.cs' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnCs}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.ici' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnICI}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 130px">{{'idreader.person' | translate}}</label>
                                <span class="summaryInfoValue">{{chuidContainerBean.fascnPI}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" style="margin-top: 50px;" >
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showPrintedInfo" (click)="showPrintedInfo = !showPrintedInfo">{{'idreader.printedInfo' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showPrintedInfo, 'fa-angle-down': showPrintedInfo}"></i>
                </button>
              </div>
              <div class="card-body" id="showPrintedInfo" class="collapse show">
                <div *ngIf="piConatinerBean !== null && piConatinerBean !== undefined">
                <div class="col-md-12" style="display: flex; margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.expiryDate' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.expirationDate}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.affiliation' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.empAffiliation}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="display: flex; ">
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.agencyCardSerialNo' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.agencyCardSerialNo}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.issuerIdentification' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.issuerID}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="display: flex; ">
                  <div class="col-md-6" *ngIf="piConatinerBean.orgAffiliation1 != null">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.orgLine1' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.orgAffiliation1}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="piConatinerBean.orgAffiliation2 != null">
                    <div class="row">
                      <div style="margin-bottom: 10px">
                        <label style="width: 160px">{{'idreader.orgLine2' | translate}}</label>
                        <span class="summaryInfoValue">{{piConatinerBean.orgAffiliation2}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <div class="card" style="margin-top: 50px;" >
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showCerts" (click)="showCerts = !showCerts">{{'idreader.certs' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showCerts, 'fa-angle-down': showCerts}"></i>
                </button>
              </div>
              <div class="card-body" id="showCerts" class="collapse show">
                <div *ngIf="userCertificates.length == 0">
                  <div class="col-md-12" style="margin-bottom: 10px; text-align: center;">{{'idreader.noCertsPresentMsg' | translate}}</div>
                </div>
                <div class="row" style="display: flex; margin-left: auto; margin-right: auto">
                  <div class="col-md-6" *ngFor="let userCertificate of userCertificates; let i = index">
                    <div class="card" [ngStyle]="{ 'margin-top': (i == 0 || i == 1) ? '40px': '10px'}">
                      <div class="card-header card-header-primary card-header-text">
                        <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                          [attr.data-target]="'#' + userCertificate.idName" (click)="userCertificate.check = !userCertificate.check">{{userCertificate.name}}
                          <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': userCertificate.check, 'fa-angle-down': !userCertificate.check}"></i>
                        </button>
                      </div>
                      <div class="card-body" [id]="userCertificate.idName" class="collapse show" >
                        <div class="col-md-12" style="display: flex; margin-top: 10px;">
                          <div class="col-md-2"></div>
                          <div class="col-md-10">
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.serialNo' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.serialNumber}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.commonName' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.commonName}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.organization' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.organizationName}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.organizationUnit' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.organizationUnit}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.country' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.country}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.email' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.userEmail}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.signingAlg' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.signAlg}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.validFrom' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.validFrom}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div style="margin-bottom: 10px">
                                <label style="width: 150px">{{'idreader.validTo' | translate}}</label>
                                <span class="summaryInfoValue">{{userCertificate.validTo}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
            <div class="card" style="margin-top: 50px;" >
              <div class="card-header card-header-primary card-header-text">
                <button type="button" class="btn btn-info card-icon" data-toggle="collapse" aria-expanded="true"
                  data-target="#showUserBiometrics" (click)="showUserBiometrics = !showUserBiometrics">{{'idreader.userBiometrics' | translate}}
                  <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showUserBiometrics, 'fa-angle-down': showUserBiometrics}"></i>
                </button>
              </div>
              <div class="card-body" id="showUserBiometrics" class="collapse show">
                <div class="col-md-12" style="display: flex; margin-top: 10px; margin-bottom: 10px;" >
                  <div class="col-md-3" *ngIf="facialUserBioInfoBean !== null && facialUserBioInfoBean !== undefined; else elseBlockFace">
                    <div>
                      <h5 class="text-info font-weight-bold">{{'idreader.photo' | translate}}</h5>
                      <div *ngIf="facialUserBioInfoBean !== null && facialUserBioInfoBean !== undefined; else elseBlockFace">
                        <img *ngIf="facialUserBioInfoBean.facialImage !== null; else elseBlockFace1" src="data:image/jpeg;base64,{{facialUserBioInfoBean.facialImage}}" width="180" height="300" class="img-responsive img-thumbnail summaryPhoto" />
                      </div>
                      <ng-template #elseBlockFace>
                        <div>{{'idreader.noFaceData' | translate}}</div>
                      </ng-template>
                      <ng-template #elseBlockFace1>
                        {{'idreader.noFaceData' | translate}}
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-5" *ngIf="(fpContainerBean !== null && fpContainerBean !== undefined); else elseBlockFp ">
                    <h5 class="text-info font-weight-bold">{{'idreader.fingerPrints' | translate}}</h5>
                    <div class="table-responsive">
                      <table class="table table-bordered text-center summaryFps">
                        <tr class="rfp_names">
                          <td><span class="text-info font-weight-bold">{{'idreader.primaryFingerPrint' | translate}}</span></td>
                          <td><span class="text-info font-weight-bold">{{'idreader.secondaryFingerPrint' | translate}}</span></td>
                        </tr>
                        <tr style="height: 120px; width: 120px;">
                          <td>
                            <div>
                              <i class="material-icons" style="font-size: 70px;">fingerprint</i>
                            </div>
                          </td>
                          <td>
                            <div>
                              <i class="material-icons" style="font-size: 70px;">fingerprint</i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="height: 2.2em !important;">
                              <div *ngIf="fpContainerBean !== null && fpContainerBean !== undefined; else elseBlockFp">
                                <i *ngIf="fpContainerBean.primaryFingerPresent" class="material-icons" style="border-radius: 50%; background:#4ccb6d; color: white;">check</i>
                                <i *ngIf="!fpContainerBean.primaryFingerPresent" class="material-icons" style="border-radius: 50%; background:#d62424; color: white;">close</i>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div style="height: 2.2em !important;">
                              <div *ngIf="fpContainerBean !== null && fpContainerBean !== undefined; else elseBlockFp">
                                <i *ngIf="fpContainerBean.secondaryFingerPresent" class="material-icons" style="border-radius: 50%; background:#4ccb6d; color: white;">check</i>
                                <i *ngIf="!fpContainerBean.secondaryFingerPresent" class="material-icons" style="border-radius: 50%; background:#d62424; color: white;">close</i>
                              </div>
                            </div>
                          </td>
                          <ng-template #elseBlockFp>
                            <div *ngIf="fpContainerBean === null">
                              <i class="material-icons" style="border-radius: 50%; background:#d62424; color: white;">close</i>
                            </div>
                          </ng-template>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockFace>
                  <div class="col-md-3">
                    <h5 class="text-info font-weight-bold">{{'idreader.photo' | translate}}</h5>
                    <div>{{'idreader.noFaceData' | translate}}</div>
                  </div>
                </ng-template>
                <ng-template #elseBlockFp>
                  <div class="col-md-5">
                    <h5 class="text-info font-weight-bold">{{'idreader.fingerPrints' | translate}}</h5>
                    <div>{{'idreader.noFpDataMsg' | translate}}</div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>