<div class="main-content">
    <div class="container-fluid">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
                <h4 class="card-title"> {{'issuance.title' | translate}} </h4>
            </div>
         <div class="card-body">
            <div *ngIf="!userEnrolled && !isLoadingResults">
                <div *ngIf="!isSelfService">
                    <h4 style="text-align: center"> {{'issuance.notenrolled' | translate}}</h4>
                    <div style="text-align: center"> <h4><a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.register' | translate}}</a></h4></div>
                </div>
                <div *ngIf="isSelfService">
                    <div *ngIf="isEnrollmentEnabled" style="text-align: center">
                        <h4  style="text-align: center">{{'issuance.usernotenrolled_1' | translate}} <a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.usernotenrolled_2' | translate}}</a> {{'issuance.usernotenrolled_3' | translate}}</h4>
                    </div>
                    <h4 *ngIf="!isEnrollmentEnabled" style="text-align: center">
                        {{'issuance.notenrolledMsgForUser' | translate}}
                    </h4>
                </div>
            </div>
            <div *ngIf="userEnrolled">
                <span *ngIf="isPendingApproval">
                    <h4 style="text-align: center"> {{'issuance.enrollmentHasNotBeenApproved' | translate}}</h4>
                </span>
            </div>            

            <div *ngIf="permissionError && (isSelfService || isOperator)">
                <h4 style="text-align: center"> {{'issuance.permissionError' | translate}}</h4>
            </div>
            <div *ngIf="permissionError && !isSelfService && !isOperator">
                <h4 style="text-align: center"> {{'issuance.permissionErrorForAdmin' | translate}}</h4>
            </div>
            <!-- <div *ngIf="userFirstName && userEnrolled && !permissionError && issuanceAllowed" style="margin-bottom: 1.5em;">
                {{'issuance.forUser' | translate}} : <span style="font-weight: bold">{{userFirstName}}</span>
            </div> -->
            <div style="margin-bottom: 1.5em;" class="row" *ngIf="userEnrolled && !permissionError && issuanceAllowed">
                <div class="col-md-4" *ngIf="!isSelfService && userFirstName">
                    <span (mouseover)="check('fn', 'userFirstAndLastName')" id="userFirstAndLastName" class="dispalyDots1"
                        [matTooltip]="showToolTip ? userFirstAndLastName: null">{{'issuance.forUser' | translate}} : <strong
                            class="userTBE">{{userFirstAndLastName}}</strong></span>
                </div>
                <div class="col-md-3" *ngIf="groupName !== undefined">
                    <span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
                        [matTooltip]="showToolTip ? groupName: null">{{'searchUser.searchUserResult.group' | translate}} : <strong
                            class="userTBE">{{groupName}}</strong></span>
                </div>
                <div class="col-md-3" *ngIf="identityType !== undefined">
                    <span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
                        [matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}} :
                        <strong class="userTBE">{{identityType}}</strong></span>
                </div>
            </div>
            <div *ngIf="notSupportedCard">
                <h4 style="text-align: center; color:orange ">{{'issuance.validations.notSupportedDevice1' | translate}} <u (click)="showSupportedDevices()" style="cursor: pointer">{{'issuance.validations.notSupportedDevice2' | translate}}</u> {{'issuance.validations.notSupportedDevice3' | translate}}</h4>
            </div>
             <div *ngIf="display && userEnrolled && !permissionError && issuanceAllowed">
                <!--  Error Message Starts-->
                <div *ngIf="error">
                    <div class="alert alert-danger">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span> {{errorMsg}} </span>
                    </div>
                </div>
                <!--  Error Message ends -->
                <br>
                <h5 class="text-primary">{{'issuance.actionMessage' | translate}}</h5>
                <!-- (ngSubmit)="issue()" -->
                <form [formGroup]="persoIdentityDeviceForm">
                    <div class="col-md-12" style="margin-bottom: 1em">
                        <div class="row">
                                <!-- (change)="issuanceRadioSelectionChange($event)" -->
                            <mat-radio-group formControlName="selectedAction" (change)="issuanceRadioSelectionChange($event)">
                                <mat-radio-button style="margin-right:20px" *ngFor="let action of actions" [value]="action.value"
                                [disabled]= 'action.disabled'>
                                    <label class="form-check-label">{{action.name | translate}}</label>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div [ngSwitch]="persoIdentityDeviceForm.controls['selectedAction'].value">
                            <div class="col-md-12" *ngSwitchCase="'perso'">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label for="perso">{{'issuance.connected' | translate}} {{'issuance.cardReader'| translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="identityDevice">
                                            <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                                                {{cardReader.cardReaderName}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['identityDevice'].hasError('required')">
                                            {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5" style="margin-bottom: 1.5em;">
                                    <label>{{'issuance.authenticatorDevice' | translate}} : </label> <span style="font-weight: bold">{{selectedCardName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngSwitchCase="'persoAndprint'">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label for="persAndprint">{{'issuance.connected' | translate}} {{'issuance.cardPrinter'| translate}} </label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="cardPrinter">
                                            <mat-option *ngFor="let cardPrinter of cardPrinters" [value]="cardPrinter">{{cardPrinter.printerName}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['cardPrinter'].hasError('required')">
                                                {{'issuance.validations.cardPrinter.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label for="persAndprint">{{'issuance.connected' | translate}} {{'issuance.cardReader' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="identityDevice">
                       					 <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                         				   {{cardReader.cardReaderName}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="persoIdentityDeviceForm.controls['identityDevice'].hasError('required')">
                                                {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="selectedCardName !== '' &&  selectedCardName !== undefined" class="col-md-5" style="margin-bottom: 1.5em;">
                                    <label>{{'issuance.authenticatorDevice' | translate}} : </label> <span style="font-weight: bold">{{selectedCardName}}</span>
                                </div>
                            </div>
                             <div class="row" style="display: none">
                                <div class="col-md-2 col-form-label">
                                    <label for="persAndprint">{{'issuance.visualTemplates' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="selectedVisualTemplateConfig">
                       					 <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate">
                                             {{credentialTemplate.visualTemplateName}}</mat-option>
                   						 </mat-select>
                   						 <mat-error *ngIf="persoIdentityDeviceForm.controls['selectedVisualTemplateConfig'].hasError('required')">
                    					    {{'issuance.validations.visualTemplate.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngSwitchCase="'print'">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label for="persAndprint">{{'issuance.connected' | translate}} {{'issuance.cardPrinter'| translate}} </label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="cardPrinter">
                                            <mat-option *ngFor="let cardPrinter of cardPrinters" [value]="cardPrinter">{{cardPrinter.printerName}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['cardPrinter'].hasError('required')">
                                                {{'issuance.validations.cardPrinter.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="col-md-2 col-form-label">
                                    <label for="print">{{'issuance.visualTemplates' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="selectedVisualTemplateConfig">
                                                <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate">
                                                    {{credentialTemplate.visualTemplateName}}</mat-option>
                                        </mat-select>
                                    <mat-error *ngIf="persoIdentityDeviceForm.controls['selectedVisualTemplateConfig'].hasError('required')">
                                            {{'issuance.validations.visualTemplate.required' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                           <div class="col-md-12" *ngIf="!disablePINS && persoIdentityDeviceForm.controls['selectedAction'].value != 'print' && 
                            persoIdentityDeviceForm.controls['selectedAction'].value != null ">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'issuance.newPin' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input jhiNumbersOnly matInput placeholder="{{'issuance.enterPin' | translate}}" [type]="pinHide ? 'password' : 'text'"
                                            formControlName="pin">
                                        <mat-icon matSuffix (click)="pinHide = !pinHide">{{pinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['pin'].hasError('required')">
                                            {{'issuance.validations.pin.required' | translate}}</mat-error>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['pin'].hasError('pattern')">
                                            {{'issuance.validations.lengthError' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 20px; margin-top: 18px">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'issuance.confirmPin' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input jhiNumbersOnly matInput [type]="confirmPinHide ? 'password' : 'text'" formControlName="confirmPin"
                                            placeholder="{{'issuance.confirmYourPin' | translate}}">
                                        <mat-icon matSuffix (click)="confirmPinHide = !confirmPinHide">{{confirmPinHide ? 'visibility_off' :
                                                                                    'visibility'}}</mat-icon>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['confirmPin'].hasError('required')">
                                            {{'issuance.validations.confirmPin.required' | translate}}</mat-error>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['confirmPin'].hasError('compare')">
                                            {{'issuance.validations.confirmPin.compare' | translate}} </mat-error>
                                        <mat-error *ngIf="persoIdentityDeviceForm.controls['confirmPin'].hasError('pattern')">
                                            {{'issuance.validations.lengthError' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-2 col-form-label"></div>
                                <div class="col-md-10">
                                    <ul style="padding-left:0px;">
                                        <li>{{'issuance.pinPolicies.pinLength' | translate}}</li>
                                        <li>{{'issuance.pinPolicies.notContSeqDigits' | translate}}</li>
                                        <li>{{'issuance.pinPolicies.noRepeatedDigits' | translate}}</li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="saveCancelBtns float-right">
                    <button *ngIf="!isSelfService" mat-raised-button class="btn btn-primary" style="background-color: white;color:black;"
                        (click)="goSearchPage()">{{'back' | translate}}</button>
                    <button
                        *ngIf="persoIdentityDeviceForm.controls['selectedAction'].value == 'persoAndprint' && isCardinChipEncodePosition"
                        mat-raised-button class="btn btn-primary" style="margin-left: 20px;" (click)="ejectCardFromPrinter1()">{{'ejectCard' | translate}}</button>
                    <button
                        *ngIf="persoIdentityDeviceForm.controls['selectedAction'].value == 'perso' || persoIdentityDeviceForm.controls['selectedAction'].value == 'persoAndprint'"
                        mat-raised-button class="btn btn-primary" style="margin-left: 20px;" [jhiSubmitIfValid]="persoIdentityDeviceForm"
                        (valid)="issue('perso')">
                        {{'perso' | translate}}<i class="material-icons">keyboard_arrow_right</i>
                    </button>
                    <button *ngIf="persoIdentityDeviceForm.controls['selectedAction'].value == 'persoAndprint'" mat-raised-button
                        class="btn btn-primary" style="float: right; margin-left: 20px;" [jhiSubmitIfValid]="persoIdentityDeviceForm"
                        (valid)="issue('persoAndprint')">
                        {{'persoAndprint' | translate}}<i class="material-icons">keyboard_arrow_right</i>
                    </button>
                    <button *ngIf="persoIdentityDeviceForm.controls['selectedAction'].value == 'print'" [jhiSubmitIfValid]="persoIdentityDeviceForm"
                        (valid)="printVisualID(persoIdentityDeviceForm.controls['selectedVisualTemplateConfig'].value)" mat-raised-button
                        class="btn btn-primary" style="float: right; margin-left: 20px;">
                        {{'issuance.printID' | translate}}<i class="material-icons">keyboard_arrow_right</i>
                    </button>
                   </div>
            </form>
            </div>
            <div *ngIf="isIssuanceLimitExceeded">
                <h4 style="text-align: center">{{ message }}</h4>
                <div class="saveCancelBtns float-right">
                    <button mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goSearchPage()">{{'back'
                        | translate}}</button>
                </div>
            </div>

            <div  *ngIf="!display">
            <div class="card-body">
                <div class="card" [hidden]='success || failure'>
                    <div class="card-body">
                        <div>
                            <div class="progress">
                                <div [class]="progressClass" class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':width + '%'}"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{width}}%</div>
                            </div>
                            <div style="text-align: center;">{{message}}</div>
                        </div>
                    </div>
                </div>
        
                <div *ngIf="success">
                    <div class="card-body">
                        <div class="card text-black alert alert-success" *ngIf="message !== '' ">
                            <div class="card-body">{{message}}</div>
                        </div>
                        <div *ngIf="(persoIdentityDeviceForm.controls['selectedAction'].value == 'persoAndprint'
                            || persoIdentityDeviceForm.controls['selectedAction'].value == 'print') && isCardinChipEncodePosition && isPrintingStarted" >
                            <span>{{'issuance.pleaseWaitWhilePrinting' | translate}}</span>
                            <mat-progress-bar style="margin-top:10px;" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="card-footer saveCancelBtns" style="float: right;">
                        <button class="btn btn-primary"  routerLink='../dashboard' mat-raised-button>{{'issuance.home' | translate}}</button>
                    </div>
                </div>
        
                <div *ngIf="failure">
                    <div class="card-body">
                        <div class="card text-black alert alert-danger"  *ngIf="message !== '' ">
                            <div class="card-body">{{message}} <div style="display: inline;"  *ngIf=errorCode>-{{stageSpecificError}} (Error Code: {{errorCode}})</div></div>
                        </div>
                    </div>
                    <div class="card-footer saveCancelBtns" style="float: right;">
                        <button *ngIf="(persoIdentityDeviceForm.controls['selectedAction'].value == 'persoAndprint'
                                 || persoIdentityDeviceForm.controls['selectedAction'].value == 'print')&& isCardinChipEncodePosition" 
                                class="btn btn-primary" (click)="ejectCardFromPrinter1()">{{'ejectCard' | translate}}</button>
                        <button  class="btn btn-primary" (click)="refresh()"  style="margin-left: 20px;"> {{'retry' | translate}}</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>
</div>
