<div class="main-content" *ngIf="!readyForPrint">
    <div class="container-fluid">
        <div class="card" >
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
                <h4 class="card-title"> {{'issuance.title' | translate}} </h4>
            </div>

            <div class="card-body" style="margin-top:50px; margin-bottom:50px;">
                <span>{{'issuance.pleaseWaitWhilePrinting' | translate}}</span>
                <mat-progress-bar style="margin-top:10px;" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>

<div *ngIf="readyForPrint" >
    <div class="row" style="margin-left:50px; margin-bottom:50px;">
        <img  src="data:image/png;base64,{{frontBase64Str}}" width="800" height="500" alt="Loading Front Card.." >
    </div>
    <div class="row" style="margin-left:50px;">
        <img  src="data:image/png;base64,{{backBase64Str}}" width="800" height="500" alt="Loading Back Card.." >
    </div>
</div>