<h1 mat-dialog-title>Supported Devices</h1>
<div mat-dialog-content>
   <ul *ngFor = "let device of data.devices">
       <li>{{device}}</li>
   </ul>
</div>
<div class="text-center saveCancelBtns">
    <button class="btn btn-primary" (click)="onNoClick()">{{'ok' | translate}}</button>
</div>