.navbar {
    margin-left: 4em;
    margin-right: 4em;
}

.wizard {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1.5em;
}

.nav-progress {
    position: absolute;
    width: 100%;
    height: 0.4em !important;
    background-color: #e3e1e2;
    top: 34%;
}

.navline {
    background-color: #00bcd4;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
    box-shadow: none;
    cursor: default;
}

.btn.active {
    background-color: #00bcd4;
    border: 4px solid #00bcd4;
}

.wizardIcons {
    fill: none;
    stroke: #fff;
    width: 4em;
}

.wBtn span {
    font-size: 2em;
}

.hideEnrollNumber {
    display: none;
}
