<div mat-dialog-content>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row" class="text-center">
    <h4 style="font-weight: 700;">{{'manageIdentiyDevices.addIdentityDevice.name' | translate}}</h4>
  </div>
  <div class="row" class="text-center">
    <h4 style="font-weight: 500;">{{'manageIdentiyDevices.addIdentityDevice.description' |
      translate}}</h4>
  </div>
  <div>
    <div *ngFor="let deviceProf of devProfiles">
      <div class="row" style="margin-left: 65px;margin-top: 7px;">
      <div>
        <div class="box"
          [ngStyle]="{'height':deviceProf.deviceProfileConfig.isMobileId ? '131px' : (deviceProf.configValueCategory.value === 'MIFARE DESFire' || deviceProf.deviceProfileConfig.isPlasticId ? '108px' : '108px')}"
          style="width: 700px;
        height: 176px;
        border: 2px solid #00bcd4;">
          <div class="row">
            <div class="col-md-2" style="margin-left: auto;margin-right: auto;margin-top: auto;margin-bottom: auto;max-width: 11%;">
              <div>
                <div *ngIf="deviceProf.deviceProfileConfig.isMobileId">
                  <img src="../../content/images/smartphone.png" class="img-responsive img-thumbnail"
                    style="position:relative;" style="background-color: transparent; border: 0;
                    border-radius: 0;
                    margin-left: 9px;
                    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
                    max-width: 61%;">  
                </div>
                <div *ngIf="!deviceProf.deviceProfileConfig.isMobileId">
                  <div *ngIf="deviceProf.configValueSupplier.value === 'Yubico'">
                    <img src="../../content/images/yubikey.png" class="img-responsive img-thumbnail"
                      style="position:relative;" style="background-color: transparent; border: 0;
                border-radius: 0;
                box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                  </div>
                  <div *ngIf="deviceProf.configValueSupplier.value !== 'Yubico'">
                    <div
                      *ngIf="deviceProf.configValueProductName.value !== 'MIFARE Classic 1k' && deviceProf.configValueProductName.value !== 'DESFire EV1/EV2'">
                      <div *ngIf="deviceProf.configValueSupplier.value === 'IDEMIA'">
                        <img src="../../content/images/horizontal_card.png" class="img-responsive img-thumbnail"
                        style="position:relative;" style="background-color: transparent; border: 0;
                  border-radius: 0;
                  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                      <div *ngIf="deviceProf.configValueSupplier.value === 'Giesecke+Devrient'">
                        <img src="../../content/images/chip-card-ic-3.png" class="img-responsive img-thumbnail"
                        style="position:relative;" style="background-color: transparent; border: 0;
                  border-radius: 0;
                  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                      <div *ngIf="deviceProf.configValueSupplier.value === 'Unifyia'">
                        <img src="../../content/images/smart-card5.png" class="img-responsive img-thumbnail"
                        style="position:relative;" style=" background-color: transparent; border: 0;
                  border-radius: 0;
                  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                      <div *ngIf="deviceProf.configValueSupplier.value === 'Thales'">
                        <img src="../../content/images/thales.png" class="img-responsive img-thumbnail"
                        style="position:relative;" style="background-color: transparent; border: 0;
                  border-radius: 0;
                  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                      <div *ngIf="deviceProf.configValueSupplier.value !== 'Thales' && deviceProf.configValueSupplier.value !== 'Unifyia' && deviceProf.configValueSupplier.value !== 'Giesecke+Devrient'
                      && deviceProf.configValueSupplier.value !== 'IDEMIA'">
                        <img src="../../content/images/vertical_card.png" class="img-responsive img-thumbnail"
                        style="position:relative;" style="background-color: transparent; border: 0;
                  border-radius: 0;
                  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                    </div>
                    <div>
                      <div *ngIf="deviceProf.configValueProductName.value === 'DESFire EV1/EV2'">
                        <img src="../../content/images/desfire.png" class="img-responsive img-thumbnail"
                          style="position:relative;" style="background-color: transparent; border: 0;
                          border-radius: 0;
                          box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                      <div *ngIf="deviceProf.configValueProductName.value === 'MIFARE Classic 1k'">
                        <img src="../../content/images/mifare.png" class="img-responsive img-thumbnail"
                          style="position:relative;" style="background-color: transparent; border: 0;
                          border-radius: 0;
                          box-shadow: 0 0px 0px rgb(0 0 0 / 0%);">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row" style="margin-top: 6px;
                color: hsl(197, 97%, 47%);">
                <h4 style="font-weight: 600;">{{deviceProf.name}}</h4>
              </div>

              <div>
                <div *ngIf="deviceProf.deviceProfileConfig.isMobileId">
                  <div class="row" style="margin-right: 30px;">
                    <p>{{'manageIdentiyDevices.addIdentityDevice.mobileWalletDescription' | translate}} 
                      {{deviceProf.configValueProductName.value}} 
                      {{'manageIdentiyDevices.addIdentityDevice.mobileWalletDescription1' | translate}}
                      {{deviceProf.configValueSupplier.value}} 
                      {{'manageIdentiyDevices.addIdentityDevice.mobileWalletDescription2' | translate}}
                    </p>
                  </div>
                </div>
                <div *ngIf="!deviceProf.deviceProfileConfig.isMobileId && !deviceProf.deviceProfileConfig.isPlasticId">

                  <div *ngIf="deviceProf.configValueSupplier.value === 'Yubico'">
                    <div class="row" style="margin-right: 30px;">
                    <p>{{'manageIdentiyDevices.addIdentityDevice.yubikeyDescrition' | translate}}</p>
                    </div>
                  </div>
                  <div *ngIf="deviceProf.configValueSupplier.value !== 'Yubico'">
                    <div class="row" style="margin-right: 30px;">
                      <p>{{'manageIdentiyDevices.addIdentityDevice.personalize' | translate}}
                        {{deviceProf.configValueCategory.value}} {{'manageIdentiyDevices.addIdentityDevice.card' |
                        translate}}
                        {{deviceProf.configValueProductName.value}} {{'manageIdentiyDevices.addIdentityDevice.from' |
                        translate}} {{deviceProf.configValueSupplier.value}}.</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="!deviceProf.deviceProfileConfig.isMobileId && deviceProf.deviceProfileConfig.isPlasticId">
                  <div class="row" style="margin-right: 30px;">
                    <p>{{'manageIdentiyDevices.addIdentityDevice.print' | translate}}
                      {{deviceProf.configValueCategory.value}}
                      {{'manageIdentiyDevices.addIdentityDevice.card' | translate}}
                      {{deviceProf.configValueProductName.value}} {{'manageIdentiyDevices.addIdentityDevice.from' |
                      translate}} {{deviceProf.configValueSupplier.value}}.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button  type="button" style="margin-top: -41px;"class="btn btn-primary pull-right"
            [disabled]=!isIssuancePermissionEnabled
            [mat-dialog-close]="deviceProf">{{'manageIdentiyDevices.addIdentityDevice.select' |
            translate}}</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>