<div class="main-content">
    <div class="container-fluid">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="card" >
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon"><i class="material-icons">assignment</i></div>
                <h4 class="card-title" style="float:left;">{{'manageIdentiyDevices.title' | translate }}</h4>
                <br />
                <div>
                    <button *ngIf="userEnrolled && isIssuanceEnabled && !isPendingApproval && display"  style="float: right;" class="btn btn-primary"
                        (click)="openAddIdentityDeviceDialog()">
                        <mat-icon>add</mat-icon>{{'manageIdentiyDevices.addIdentityDevices' | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="!userEnrolled && pageLoaded">
                <div *ngIf="!isSelfService">
                    <h4 style="text-align: center"> {{'issuance.notenrolled' | translate}}</h4>
                    <div style="text-align: center"> <h4><a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.register' | translate}}</a></h4> </div>
                </div>
                <div *ngIf="isSelfService">
                    <div>
                        <div *ngIf="isPendingApproval" style="text-align: center">
                            <h4  style="text-align: center">{{'manageIdentiyDevices.pendingApproval' | translate}} </h4>
                            <br>
                        </div>
                        <div *ngIf="isEnrollmentEnabled" style="text-align: center">
                            <h4  style="text-align: center">{{'issuance.usernotenrolled_1' | translate}} <a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.usernotenrolled_2' | translate}}</a> {{'issuance.usernotenrolled_3' | translate}}</h4>
                        </div>
                        <h4 *ngIf="!isEnrollmentEnabled" style="text-align: center">
                            {{'issuance.notenrolledMsgForUser' | translate}}
                        </h4>
                    </div>
                </div>
                    <!-- <h4 *ngIf="!hasUserRoleWithOtherRoles" style="text-align: center"> {{'issuance.notenrolledMsgForUser' | translate}}
                    </h4>
                    <h4 *ngIf="hasUserRoleWithOtherRoles" style="text-align: center">
                        {{'issuance.notenrolledMsgForOperator' | translate}}</h4> -->
            </div>
            <div *ngIf="!isPendingApproval">
                <div *ngIf="pageLoaded && userMappedDevices.length === 0 && userEnrolled && !isIssuanceEnabled"><h4 style="text-align: center">{{'manageIdentiyDevices.noIssuancePermission' | translate}}</h4></div>
                <div *ngIf="pageLoaded && userMappedDevices.length === 0 && userEnrolled && isIssuanceEnabled"><h4 style="text-align: center">{{'manageIdentiyDevices.noDevicesFound' | translate}}</h4></div>
            </div>
            <div *ngIf="isPendingApproval && isSelfService">
                <h4 style="text-align: center; margin-top: 15px;">{{'manageIdentiyDevices.pendingApproval' | translate}}</h4>
            </div>
            <div *ngIf="error" class="card alert alert-danger marginTop20">
                <div class="card-body">{{message}}
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=false">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
            <div class="card-body" *ngIf="display; else elseBlock1">
                <!-- <div > -->
                <div *ngIf="userFirstName || isSelfService && userEnrolled && userMappedDevices.length !== 0 ">
                    <div class="row" *ngIf="!isSelfService">
                        <div class="col-md-3">
                            <span (mouseover)="check('fn', 'userFirstAndLastName')" id="userFirstAndLastName" class="dispalyDots1"
                        [matTooltip]="showToolTip ? userFirstAndLastName: null">{{'user' | translate}} : <strong style="font-weight: bold">{{userFirstAndLastName}}</strong></span>
                        </div>
                        <div class="col-md-2">
                            <span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
                            [matTooltip]="showToolTip ? groupName: null" style="margin-left: 25px; margin-right: 25px;">{{'searchUser.searchUserResult.group' | translate}}: <strong class="userTBE">{{groupName}}</strong></span>
                        </div>
                        <div class="col-md-3">
                            <span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
                            [matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}}: <strong class="userTBE">{{identityType}}</strong></span>
                        </div>

                        <div class="col-md-4">
                            <span *ngIf="userEnrolled">{{'manageIdentiyDevices.maxAllowedDevices' | translate}} {{maxAllowedDevices}}</span>
                            <span *ngIf="userEnrolled" style="padding-left: 30px;">{{'manageIdentiyDevices.issuedDevices' | translate}} {{issuedDevices}}</span>
                        </div>
                        <!-- <div class="col-md-2" *ngIf="userEnrolled" style="padding-left: 60px;">{{'manageIdentiyDevices.maxAllowedDevices' | translate}} {{maxAllowedDevices}}</div> -->
                        <!-- <div class="col-md-2" *ngIf="userEnrolled" style="padding-left: 10px;">{{'manageIdentiyDevices.issuedDevices' | translate}} {{issuedDevices}}</div> -->
                    </div>
                     <div class="row" *ngIf="isSelfService">
                        <div class="col-md-3">
                            <span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
                            [matTooltip]="showToolTip ? groupName: null" style="margin-left: 25px; margin-right: 25px;">{{'searchUser.searchUserResult.group' | translate}}: <strong class="userTBE">{{groupName}}</strong></span>
                        </div>
                        <div class="col-md-3">
                            <span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
                            [matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}}: <strong class="userTBE">{{identityType}}</strong></span>
                        </div>
                        <div class="col-md-3" *ngIf="userEnrolled" style="padding-left: 60px;">{{'manageIdentiyDevices.maxAllowedDevices' | translate}} {{maxAllowedDevices}}</div>
                        <div class="col-md-3" *ngIf="userEnrolled" style="padding-left: 10px;">{{'manageIdentiyDevices.issuedDevices' | translate}} {{issuedDevices}}</div>
                    </div>
                </div>
                <!-- <h4><span></span>  <span>Total issued devices: {{issuedDevices}}</span></h4> -->
                <div *ngIf="userMappedDevices.length > 0 ">
                
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#showCredentials" style="margin-top: 10px;"
                           (click)="showCredentials = !showCredentials">{{'manageIdentiyDevices.userCredentials' | translate}}
                        <i class="fa" style="color: white;" [ngClass]="{'fa-angle-up': !showCredentials, 'fa-angle-down': showCredentials}"></i>
                    </button>

                    <div id="showCredentials" class="collapse out" style="border: 1px solid #e1e0e0;">
                        <table mat-table #table [dataSource]="dataSource"  >
                            <!-- matSortDirection="desc" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)" -->
                            
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <mat-header-cell *matHeaderCellDef> {{'manageIdentiyDevices.position' | translate}} </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i= index" class="td-actions">
                                    <button mat-raised-button *ngIf="i != 0; else elseBlock1" [ngStyle]="{ 'cursor': i == 0  ? null: 'pointer' }"
                                        class="btn btn-info" (click)="arrowUpEvent(i, element)">
                                        <i class="material-icons" style="padding: 10px;">keyboard_arrow_up</i>
                                    </button>
                                    <button mat-raised-button *ngIf="i != dataSource.length-1; else elseBlock1" class="btn btn-info" [ngStyle]="{ 'cursor': i == dataSource.length-1  ? null: 'pointer' }" 
                                        (click)="arrowDownEvent(i, element)">
                                        <i class="material-icons" style="padding: 10px;">keyboard_arrow_down</i>
                                    </button>
                                    <ng-template #elseBlock1>
                                        <button mat-raised-button style="visibility: hidden;" class="btn btn-info" >
                                        <i class="material-icons" style="padding: 10px;">keyboard_arrow_up</i>
                                    </button>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>
                
                            <!-- Name Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef> {{'manageIdentiyDevices.type' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                            </ng-container>
                
                            <!-- Description Column -->
                            <ng-container matColumnDef="userLabel">
                                <mat-header-cell *matHeaderCellDef> {{'manageIdentiyDevices.userLabel' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.userLabel}} </mat-cell>
                            </ng-container>
                
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <!-- cdkDrag [cdkDragData]="row" -->
                            <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                        </table>
                
                        <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                            showFirstLastButtons></mat-paginator> -->
                    </div>
                
                    <div class="row">
                            <!-- style="display: inline-block" -->
                        <div *ngFor="let device of devices" fxFlex="0 1 calc(20% - 20px)"  >
                                <!-- class="col-md-3 padd" -->
                            <div *ngIf="!isMobileSelected">
                                <mat-card class="shadowclass"  fxLayout="column" style="margin-top: 20px; border-radius: 1em" class="product" >
                                    <div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="material-icons text-warning" *ngIf="device.type === 'Smart Card' || device.type === 'PIV Token' || device.type === 'Plastic Card'" style="vertical-align: top">picture_in_picture_alt</i>
                                                <i class="material-icons text-warning" *ngIf="device.type === 'Mobile'"  style="vertical-align: top">phone_android</i>
                                                <h5 *ngIf="device.id !== editRowId" (mouseover)="check('fn', device.idForToolTip)" [id]="device.idForToolTip" class="dispalyDots" [matTooltip]="showToolTip ? device.friendlyName: null"
                                                        style="display: inline-block; color: #000; font-weight: 400; vertical-align: top;"
                                                        [ngStyle] = "{ 'width': isSelfService ? '95px': '174px'}">{{device.friendlyName}}
                                                </h5>

                                                <button *ngIf="device.id !== editRowId && role.toLowerCase() == 'role_user'" mat-icon-button matTooltip="Edit" matTooltipPosition="after"
                                                    (click)="edit(device)">
                                                    <mat-icon style="vertical-align: top">edit</mat-icon>
                                                </button>
                                                <input *ngIf="device.id === editRowId" style=" width: 45%;" type='text' [formControl]='currentFriendlyName'>
                                                <span *ngIf="device.id === editRowId">
                                                    <button mat-icon-button matTooltip="Save" class="btn btn-success buttonSize" (click)="saveFriendlyName(device)">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button mat-icon-button matTooltip="Cancel" class="btn btn-danger buttonSize" (click)="cancelEdit(device)">
                                                        <i class="material-icons">clear</i>
                                                    </button> </span>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="material-icons float-right" [ngStyle]="{'color':getColor(device.health)}" [matTooltip]="getTooltipMsg(device.health)">lens</i>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-card-content fxFlex>
                                        <div *ngIf="!isMobileSelected"  [ngStyle]="{'cursor': device.type === 'Mobile' ? 'pointer' : null }"
                                        (click)="device.type === 'Mobile'? onMobileSelected(device): null"
                                        [matTooltip]="device.type === 'Mobile' ? ('manageIdentiyDevices.clickToSeeCredentials' | translate): null">
                                        <div class="subHead" *ngIf="device.type === 'Smart Card' || device.type === 'PIV Token' ">
                                            <div class="row">
                                                <div class="col-md-12" style="min-height: 5.2em;">
                                                    <span class="text-warning" style="font-weight: 600">{{device.deviceManufacturerName}}</span> <br />
                                                    <span>{{device.productName}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="text-warning" style="font-weight: 600">{{device.uniqueIdentifier}}</span> <br />
                                                    <span>{{'manageIdentiyDevices.serialNumber' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="subHead" *ngIf="device.type === 'Plastic Card' ">
                                            <div class="row">
                                                <div class="col-md-12" style="min-height: 5.2em;">
                                                    <span class="text-warning" style="font-weight: 600">{{device.cardType}}</span> <br />
                                                    <span>{{device.type}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="text-warning" style="font-weight: 600">{{device.uimsId}}</span> <br />
                                                    <span>{{'manageIdentiyDevices.serialNumber' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="subHead" *ngIf="device.type === 'Mobile'">
                                            <div class="row">
                                                <div class="col-md-12" style="min-height: 5.2em;">
                                                    <span class="text-warning" style="font-weight: 600">{{device.appVersion}}</span> <br />
                                                    <span>{{'manageIdentiyDevices.meetidentityMobileID' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="text-warning" style="font-weight: 600">{{device.deviceModelName}}</span> <br />
                                                    <span>{{'manageIdentiyDevices.device' | translate }}</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="text-warning" style="font-weight: 600">{{device.operatingSystem}} {{device.osVersion}}</span>
                                                    <br />
                                                    <span>{{'manageIdentiyDevices.os' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </mat-card-content>
                                    <mat-card-actions fxFlexAlign="end">
                                        <div class="row">
                                            <div class="subHead col-md-6" >
                                                <p [id]='device.id' style="font-weight: bold; padding-left: 10px; padding-top: 15px;" [ngStyle]="{'color':device.connection === ('Connected' || 'Online') ? '#17d6e0' : 'orange'}" >{{device.connection}}</p>
                                            </div>
                                            <div class="col-md-6 dropdown" style="padding-left: 10px;">
                                                <button mat-raised-button class="btn btn-round btn-warning " data-toggle="dropdown" style="text-transform:capitalize">
                                                    <i class="material-icons">swap_horiz</i> {{'manageIdentiyDevices.actions' | translate}} </button>
                                                <ol style="cursor: pointer;" class="dropdown-menu dropdown-menu-left actionsMenu">
                                                    <li style="width: 181px;" *ngFor="let action of device.actions">
                                                        <a (click)="onClick(device, null, action)"> {{action | translate }}</a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                        <div *ngIf="isMobileSelected">
                                <div *ngFor="let mobileCredential of selectedDevice.mobileCredentials" style="display: inline-block">
                                    <div class="col-md-3 padd">
                                        <mat-card class="card_width shadowclass" style="margin-top: 20px; border-radius: 1em">
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <i class="material-icons text-warning" style="vertical-align: top">picture_in_picture_alt</i>

                                                        <h5 (mouseover)="check('fn', mobileCredential.mobileCredIdToolTip)" [id]="mobileCredential.mobileCredIdToolTip"
                                                            class="dispalyDots" [matTooltip]="showToolTip ? mobileCredential.friendlyName: null"
                                                            style="display: inline-block; color: #000; font-weight: 400; vertical-align: top; width: 152px;">{{mobileCredential.friendlyName}}
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="material-icons float-right" [ngStyle]="{'color':getColor(mobileCredential.status)}"
                                                            [matTooltip]="getTooltipMsg(mobileCredential.status)">lens</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-card-content>
                                                <div class="row" style="margin-bottom: 1em">
                                                    <div class="col-md-7">
                                                        <span class="text-warning" style="font-weight: 600">{{mobileCredential.visualIdNumber}}</span> <br />
                                                        <span>{{'manageIdentiyDevices.visual' | translate }}</span>
                                                    </div>
                                                    <div class="col-md-5" *ngIf="mobileCredential.softOTP;else elseBlock">
                                                        <!-- <span class="text-warning" style="font-weight: 600">{{mobileCredential.otpCode}}</span> <br /> -->
                                                        <span (mouseover)="check('fn', mobileCredential.softOTPToolTipId)" [id]="mobileCredential.softOTPToolTipId"
                                                        class="dispalyDots" [matTooltip]="showToolTip ? mobileCredential.otpCode: null"
                                                        style="display: inline-block; color: #000; font-weight: 600; vertical-align: top; width: 100px; color: #00bcd4!important;">
                                                       {{ (mobileCredential.otpCode != null && mobileCredential.otpCode != '' &&  mobileCredential.otpCode != undefined) ? mobileCredential.otpCode : '- -' }}
                                                   </span><br />
                                                        <span>{{'manageIdentiyDevices.otp' | translate }}</span>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 1em">
                                                    <div class="col-md-7" *ngIf="mobileCredential.pkiCertificatesEnabled;else certElseBlock">
                                                        <span class="text-warning" style="font-weight: 600">{{mobileCredential.noOfCertificates}}
                                                            {{mobileCredential.noOfCertificates > 1 ? 'Certificates' : 'Certificate'}}</span> <br />
                                                        <span>{{'manageIdentiyDevices.pki' | translate }}</span>
                                                    </div>
                                                    <div class="col-md-5" *ngIf="mobileCredential.pushVerify;else elseBlock">
                                                        <span (mouseover)="check('fn', mobileCredential.pushVerifyToolTipId)" [id]="mobileCredential.pushVerifyToolTipId"
                                                             class="dispalyDots" [matTooltip]="showToolTip ? mobileCredential.pushVerifyNumber: null"
                                                             style="display: inline-block; color: #000; font-weight: 600; vertical-align: top; width: 100px; color: #00bcd4!important;">
                                                            {{ (mobileCredential.pushVerifyNumber != null && mobileCredential.pushVerifyNumber != '' &&  mobileCredential.pushVerifyNumber != undefined) ? mobileCredential.pushVerifyNumber : '- -' }}
                                                        </span><br />
                                                        <span>{{'manageIdentiyDevices.pushVerify' | translate }}</span>
                                                    </div>
                                                </div>
                                                <ng-template #elseBlock>
                                                    <div class="col-md-5" style="display: none">
                                                        <span class="text-warning" style="font-weight: 600;">--</span> <br />
                                                        <span>--</span>
                                                    </div>
                                                </ng-template>
                                                <ng-template #certElseBlock>
                                                    <div class="col-md-7" style="visibility: hidden">
                                                        <span class="text-warning" style="font-weight: 600;">--</span> <br />
                                                        <span>--</span>
                                                    </div>
                                                </ng-template>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6" style="padding-left: 10px;">
                                                        <div class="dropdown">
                                                            <button mat-raised-button class="btn btn-round btn-warning" data-toggle="dropdown"
                                                                style="text-transform:capitalize"> <i class="material-icons">swap_horiz</i>
                                                                {{'manageIdentiyDevices.actions' | translate }}</button>

                                                            <ol style="cursor: pointer;" class="dropdown-menu dropdown-menu-left actionsMenu">
                                                                <li style="width: 181px;" *ngFor="let action of mobileCredential.actions">
                                                                    <a (click)="onClick(selectedDevice, mobileCredential, action)">
                                                                        {{action | translate }}</a>
                                                                </li>
                                                                <!-- <li *ngIf="mobileCredential.softOTP" style="width: 181px;" >
                                                                    <a (click)="onClick(selectedDevice, mobileCredential, 'Reset OTP')">
                                                                        {{'Reset OTP' | translate }}</a>
                                                                </li> -->
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div style="float: right; " *ngIf="isMobileSelected && !isLoadingResults">
                        <button mat-raised-button class="btn btn-primary" (click)="onBackClick()">{{'back'| translate}}</button>
                    </div>
                    <div *ngIf="!isSelfService && !isMobileSelected" class="float-right">
                        <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()">{{'back' | translate}}</button>
                    </div>
                </div>
              <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock1>
    <div class="card-body">
    <div class="alert alert-success">
        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="refresh()">
            <i class="material-icons">close</i>
        </button>
        <span>{{message}}</span>
    </div>
    <div class="float-right">
        <button mat-raised-button class="btn btn-primary" (click)="refresh()">{{'done' | translate}}</button>
    </div>
</div>
</ng-template>
