.container {
    background: lightblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

.product {
    width: 296px;
    height: 275px;
    margin-left: 15px;
    // text-align: center;
    margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
}
  
table {
    width: 100%;
}
table mat-header-cell {
    // border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
}
 .td-actions button {
   padding: 12px 0px !important;
}
.card_width {
    width: 270px;
}
/* Column Widths */
.mat-column-position {
    max-width: 200px;
}

.dot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    display: inline-block;
    right: 2%;
    top: 1%;
}

.deviceDot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    // background-color: orange;
    position: absolute;
    display: inline-block;
    right: 10%;
    top: -5%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.subHead p {
    margin-bottom: 0px !important;
    font-size: 12px !important;
}
.headerSize {
    font-size: 1rem;
}

.buttonSize {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    border-radius: 0%;
}

.margin_Left {
    margin-left: 0px;
}
.margin {
    margin-left: 0px;
    margin-top: 2em;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
.success {
    background-color: #55b559;
}

.failure {
    background-color: salmon;
}

.actionsMenu a {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.mobileDevice1,
.mobileDevice2,
.mobileDevice3,
.pivCard {
    position: relative;
}

.mobileDevice1 > img:hover,
.mobileDevice2 > img:hover,
.mobileDevice3 > img:hover {
    cursor: pointer;
}

.mobileCardWidth {
    position: absolute;
    left: 29%;
    width: 41%;
    height: auto;
    max-width: 41%;
}
.cardTop1 {
    top: 20%;
}

.cardTop2 {
    top: 25%;
}

.cardTop3 {
    top: 30%;
}

.cardTop4 {
    top: 35%;
}

.cardTop5 {
    top: 40%;
}

.mobileLabelMargin {
    margin: 10px 0px 10px 0px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginTop20 {
    margin-top: 20px;
}

.editAlign {
    vertical-align: text-bottom;
    font-size: 20px;
}

.addIdentityDevicePopUpBtn {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.device {
    width: 71%;
}

.paddingSides10 {
    padding: 0px 10px 0px 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.verticalDeviceDot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    right: 27%;
    top: 3%;
}
.userTBE {
    font-weight: bold;
}
.dispalyDots1 {
    display: block;
    // width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}