<div mat-dialog-content>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button></p>
  <div>{{msg}}</div>
  <div *ngIf="showComments">
    <mat-form-field style="width:300px;  margin-top: 25px">
      <input matInput [formControl]="comments" placeholder='{{"appointment-scheduler.reason" | translate}}'>
      <mat-error>
          <div *ngIf="comments.hasError('required')">
              <small>{{'appointment-scheduler.validations.required' | translate: {field: ('appointment-scheduler.reason' | translate) } }}</small>
          </div>
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button *ngIf="!showComments"mat-raised-button class="btn btn-primary" mat-dialog-close="OK">
    <i class="material-icons"> done</i> &nbsp; {{'ok' | translate}}
  </button>
  <button *ngIf="showComments" [disabled]="!comments.valid" mat-raised-button class="btn btn-primary" [mat-dialog-close]="comments.value">
    <i class="material-icons"> done</i> &nbsp; {{'ok' | translate}}
  </button>
  <button mat-raised-button class="btn btn-primary" (click)="onNoClick()" *ngIf="!isShowPUK">
    <i class="material-icons"> close</i> &nbsp; {{'cancel' | translate}}
  </button>
</div>