<div [style.background-color]="color">
<div class="logo" style="margin-left: auto; margin-right: auto; padding-bottom: 30px;" >
    <!-- <a class="simple-text logo-mini" href="{{'organization.url' | translate}}"> -->
            <a class="simple-text logo-mini" href="javascript:void(0)" style="cursor: default;">
        <div class="logo-img">
        <img src="{{organizationBrandingInfo.sidebarLogo}}" alt="{{organizationBrandingInfo.displayName}}" [ngStyle]="logoStyle" />
         <!-- <img src="../../../content/images/organization_header_image_GTO.png" style="width:40px;height:40px"> -->
        <!--<img src="../../../content/images/nextgenid_logo_white_transparent.png" style="width:200px;height:40px"> -->
    </div>
    </a>
    <!-- <a class="simple-text logo-normal" href="{{'organization.url' | translate}}"> {{'organization.name' | translate}} </a> -->
    <a class="simple-text logo-normal" href="javascript:void(0)" style="padding-top: 10px; cursor: default;"> {{organizationBrandingInfo.displayName}} </a>
    <!-- <a class="simple-text logo-normal" href=""> {{'organization.title' | translate}} </a> -->
</div>

<div class="sidebar-wrapper">
    <!-- <div class="user">
        <ul class="nav leftMenu">
            <li class="nav-item text-center">
                <span > {{'Logged_in_User' | translate}}</span>
                <span >{{ loggedInUser }}</span>
            </li>
        </ul>
    </div> -->
    <div class="user" style="padding-bottom: 5px;margin: 10px auto 0">
                <div class="photo">
                	<span *ngIf="userImage !== null && userImage !== undefined" style="padding: 5px 0px">
                    	<img [src]="userImage" width="30" height="30" class="img-responsive img-thumbnail-uia " />
	                </span>
                	<span *ngIf="userImage === null || userImage === undefined" style="padding: 5px 0px">
                    	<img src="/content/images/faces/default-avatar.png" width="30" height="30" class="img-responsive img-thumbnail-uia " />
	                </span>
                </div>
                <div class="user-info">
                    <!-- <a data-toggle="collapse" href="#collapseExample" -->
                    <div class="collapsed" style="padding: 0.5rem 12px !important" >
                        <span style="margin-top: -5px;">
                            {{loggedInUserFirstName}} {{loggedInUserLastName}}
                        </span>
                            <!-- <b class="caret" style="top: 15px;"></b> -->
                    </div>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <!-- <span class="sidebar-mini">MP</span> -->
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                   <!--  <span class="sidebar-mini">EP</span> -->
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    <!-- <span class="sidebar-mini">S</span> -->
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    <!-- <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="{{'search.placeholder | translate'}}">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons-outlined">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="#pablo">
                    <i class="material-icons-outlined">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons-outlined">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pablo">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div> -->
   
    <div class="selfservice" *ngIf="(isOperator || isAdmin) " >
        <div class="selfservice" *ngIf="hasApplicantRole" >
            <form [formGroup]="selfServiceForm" name="selfServiceForm" class="nav leftMenu ssenable  text-center" style="margin-left:auto;margin-right:auto">
                <span class="togglebutton">
                    <label style="font-size: 0.9rem">
                        <input type="checkbox" [checked]="false"  formControlName="enabledStatus" (click)="togglefunction($event)">
                        <span class="toggle"></span>
                    </label>
                </span>
                <!-- {{selfServiceForm.get('enabledStatus').value}} -->
                <span class="nav-item text-center" *ngIf="selfServiceForm.get('enabledStatus').value" >{{'Enabled_Self_Service' | translate}}</span>
                <span class="nav-item text-center" *ngIf="!selfServiceForm.get('enabledStatus').value" >{{'Disabled_Self_Service' | translate}}</span>
            
            </form>
        </div>
        <div class="selfservice" *ngIf="!hasApplicantRole" >
            <form [formGroup]="selfServiceForm" name="selfServiceForm" class="nav leftMenu ssenable  text-center" style="margin-left:auto;margin-right:auto">
                <span class="togglebutton" style="display: none">
                    <label >
                        <input type="checkbox" [checked]="false"  formControlName="enabledStatus" (click)="togglefunction($event)" disabled>
                        <span class="toggle"></span>
                    </label>
                </span>
                <!-- {{selfServiceForm.get('enabledStatus').value}} -->
                <!-- <span class="nav-item text-center" *ngIf="selfServiceForm.get('enabledStatus').value" >{{'Enabled_Self_Service' | translate}}</span> -->
                <span class="nav-item text-center" *ngIf="!selfServiceForm.get('enabledStatus').value" >{{'Disabled_Self_Service' | translate}}</span>
            
            </form>
        </div>
    </div>
     <!-- Menu for Operator / Admin -->
    <div class="selfservice" *ngIf="!eflag" >
    <ul class="nav leftMenu">
        <!-- <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item"> -->
        <li  *ngFor="let menuitem of menuItems" class="nav-item">
            <!--If is a single link-->
            
            <div *jhiHasAnyAuthority="menuitem.permission">

                <span *ngIf="menuitem.title === 'Log_out'">
                            <a (click)="logout()" id="logout" class="nav-link active" routerLinkActive="activate" href="javascript:void(0)">
                                <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                                <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                                <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                                <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                                <p class="d-inline-block">{{menuitem.title | translate}}</p>
                            </a>
                </span>
                <span *ngIf="menuitem.title !== 'Log_out'">
                            <a (click)='navigate(menuitem)' [routerLink]="[menuitem.path]" routerLinkActive="activate" [routerLinkActiveOptions]="{exact:true}" *ngIf="menuitem.type === 'link' && !menuitem.hide &&  (menuitem.visibleTo === 'all' || menuitem.visibleTo === 'privileged')" class="nav-link ">
                                <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                                <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                                <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                                <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                                <p class="d-inline-block">{{menuitem.title | translate}}</p>
                            </a>

                            <!--If it have a submenu-->
                            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub' &&   (menuitem.visibleTo === 'all' || menuitem.visibleTo === 'privileged') " (click)="updatePS()" class="nav-link">
                                <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                                <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i>
                                <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                                <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                                <p>{{menuitem.title  | translate }}<b class="caret"></b></p>
                            </a>
                </span>
            
                    <!--  <a (click)='navigate(menuitem)' [routerLink]="[menuitem.path]" routerLinkActive="activate" [routerLinkActiveOptions]="{exact:true}" *ngIf="menuitem.type === 'link' && !menuitem.hide" class="nav-link ">
                        <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                        <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                        <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                        <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                
                        <p class="d-inline-block">{{menuitem.title | translate}}</p>
                    </a>

                    If it have a submenu
                    <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" class="nav-link">
                        <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                        <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i>
                        <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                        <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                
                        <p>{{menuitem.title  | translate }}<b class="caret"></b></p>
                    </a> -->
            </div>

            <!--Display the submenu items-->
            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                        <div *jhiHasAnyAuthority="childitem.permission">
                                <a (click)='navigate(childitem)' [routerLink]="[childitem.path]" routerLinkActive="activate"  class="nav-link" style="padding-right: 5px;" *ngIf="!childitem.hide">
                                            <i class="material-icons-outlined" *ngIf="childitem.icontype === 'material'">{{childitem.icon}}</i>
                                            <i class="fa {{childitem.icon}}"  *ngIf="childitem.icontype === 'fa'"></i>
                                            <svg-icon [applyCss]="true"  [src]="childitem.svgIconPath"  class="svgIconSidebar" *ngIf="childitem.icontype === 'svg'"></svg-icon>  
                                            <!-- <i class="far {{childitem.icon}}"  *ngIf="childitem.icontype === 'far'"></i>                 -->
                                            <p class="sidebar-normal d-inline-block">{{childitem.title  | translate }}</p>
                                </a>
                              
                                <!-- <a (click)='navigate(childitem)' [routerLink]="[childitem.path]" routerLinkActive="activate"  class="nav-link">
                                <i class="material-icons-outlined" *ngIf="childitem.icontype === 'material'">{{childitem.icon}}</i>
                                <i class="fa {{childitem.icon}}"  *ngIf="childitem.icontype === 'fa'"></i>
                                <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                                <i class="far {{childitem.icon}}"  *ngIf="childitem.icontype === 'far'"></i>                
                                <p class="sidebar-normal d-inline-block">{{childitem.title  | translate }}</p>
                            </a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    </div>
    <!-- Menu for Applicant -->
    <div class="selfservice" *ngIf="eflag" >
        <ul class="nav leftMenu">
            <!-- <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item"> -->
            <li  *ngFor="let menuitem of menuItems" class="nav-item">
                <!--If is a single link-->
                
                <div *jhiHasAnyAuthority="menuitem.permission">
                    <span *ngIf="menuitem.title === 'Log_out'">
                        <a (click)="logout()" id="logout" class="nav-link active" routerLinkActive="activate" href="javascript:void(0)">
                            <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                            <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                            <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                            <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                            <p class="d-inline-block">{{menuitem.title | translate}}</p>
                        </a>
                    </span>
                    <span *ngIf="menuitem.title !== 'Log_out'">
                                <a (click)='navigate(menuitem)' [routerLink]="[menuitem.path]" routerLinkActive="activate" [routerLinkActiveOptions]="{exact:true}" *ngIf="menuitem.type === 'link' && !menuitem.hide  &&  (menuitem.visibleTo === 'all' || menuitem.visibleTo === 'selfService') " class="nav-link ">
                                    <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                                    <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                                    <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                                    <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                                    <p class="d-inline-block">{{menuitem.title | translate}}</p>
                                </a>
    
                                <!--If it have a submenu-->
                                <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub' && (menuitem.visibleTo === 'all' || menuitem.visibleTo === 'selfService')  " (click)="updatePS()" class="nav-link">
                                    <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                                    <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i>
                                    <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                                    <!-- <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                 -->
                                    <p>{{menuitem.title  | translate }}<b class="caret"></b></p>
                                </a>
                    </span>
                
                        <!--  <a (click)='navigate(menuitem)' [routerLink]="[menuitem.path]" routerLinkActive="activate" [routerLinkActiveOptions]="{exact:true}" *ngIf="menuitem.type === 'link' && !menuitem.hide" class="nav-link ">
                            <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                            <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i> 
                            <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>   
                            <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                
                            <p class="d-inline-block">{{menuitem.title | translate}}</p>
                        </a>
    
                        If it have a submenu
                        <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" class="nav-link">
                            <i class="material-icons-outlined" *ngIf="menuitem.icontype === 'material'">{{menuitem.icon}}</i>
                            <i class="fa {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'fa'"></i>
                            <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                            <i class="far {{menuitem.icon}}"  *ngIf="menuitem.icontype === 'far'"></i>                
                            <p>{{menuitem.title  | translate }}<b class="caret"></b></p>
                        </a> -->
                </div>
    
                <!--Display the submenu items-->
                <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                            <div *jhiHasAnyAuthority="childitem.permission">
                                    <a (click)='navigate(childitem)' [routerLink]="[childitem.path]" routerLinkActive="activate"  class="nav-link" style="padding-right: 5px;">
                                                <i class="material-icons-outlined" *ngIf="childitem.icontype === 'material'">{{childitem.icon}}</i>
                                                <i class="fa {{childitem.icon}}"  *ngIf="childitem.icontype === 'fa'"></i>
                                                <svg-icon [applyCss]="true"  [src]="childitem.svgIconPath"  class="svgIconSidebar" *ngIf="childitem.icontype === 'svg'"></svg-icon>  
                                                <!-- <i class="far {{childitem.icon}}"  *ngIf="childitem.icontype === 'far'"></i>                 -->
                                                <p class="sidebar-normal d-inline-block">{{childitem.title  | translate }}</p>
                                    </a>
                                  
                                    <!-- <a (click)='navigate(childitem)' [routerLink]="[childitem.path]" routerLinkActive="activate"  class="nav-link">
                                    <i class="material-icons-outlined" *ngIf="childitem.icontype === 'material'">{{childitem.icon}}</i>
                                    <i class="fa {{childitem.icon}}"  *ngIf="childitem.icontype === 'fa'"></i>
                                    <svg-icon [applyCss]="true"  [src]="menuitem.svgIconPath"  class="svgIconSidebar" *ngIf="menuitem.icontype === 'svg'"></svg-icon>  
                                    <i class="far {{childitem.icon}}"  *ngIf="childitem.icontype === 'far'"></i>                
                                    <p class="sidebar-normal d-inline-block">{{childitem.title  | translate }}</p>
                                </a> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
   
    <div *ngIf="isAuthenticated()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <!--If no authorities for user-->
            <li *ngIf="isNoAuthorities && logoutMenuItem" class="nav-item">
                <a (click)="logout()" id="logout" class="nav-link active" routerLinkActive="activate" href="javascript:void(0)">
                    <i class="material-icons-outlined" *ngIf="logoutMenuItem.icontype === 'material'">{{logoutMenuItem.icon}}</i>
                    <i class="fa {{logoutMenuItem.icon}}" *ngIf="logoutMenuItem.icontype === 'fa'"></i>
                    <svg-icon [applyCss]="true" [src]="logoutMenuItem.svgIconPath" class="svgIconSidebar" *ngIf="logoutMenuItem.icontype === 'svg'"></svg-icon>
                    <p class="d-inline-block">{{logoutMenuItem.title | translate}}</p>
                </a>
            </li>
        </ul>
    </div>
     <!-- <div class="user"></div> -->
     <div class="text-center version">
        <div *ngIf="deviceServiceStatus === 'active'">
            <div *ngIf="deviceServiceVersion != '--'">
                <div class="versionExists">
                    <div *ngIf="compareVersionState === 0">
                        <button mat-raised-button class="btn update">            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="statusIcon"><i class="material-icons text-success">power_settings_new</i></div>
                                    </div>
                                    <div class="col-md-9 textBlock">
                                        <div class="deviceService">{{deviceClientName}}</div>
                                        <div class="upadteVersionTexts">
                                            <span class="float-left updateText text-success">{{'online' | translate}}</span>
                                            <span class="float-right versionText">{{deviceServiceVersion}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div *ngIf="compareVersionState > 0">
                        <button mat-raised-button class="btn update">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="statusIcon"><i class="material-icons text-warning">system_update_alt</i></div>
                                        </div>
                                        <div class="col-md-9 textBlock">
                                                <div class="deviceService">{{deviceClientName}}</div>
                                                <div class="upadteVersionTexts">
                                                    <span class="float-left updateText text-warning">{{'update' | translate}}({{deviceServiceVersion_server}})</span>
                                                    <span class="float-right versionText">{{deviceServiceVersion}}</span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </button>
                    </div>
                    <div *ngIf="compareVersionState < 0">
                        <button mat-raised-button class="btn update">            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="statusIcon"><i class="material-icons text-success">power_settings_new</i></div>
                                    </div>
                                    <div class="col-md-9 textBlock">
                                        <div class="deviceService">{{deviceClientName}}</div>
                                        <div class="upadteVersionTexts">
                                            <span class="float-left updateText text-success">{{'online' | translate}}</span>
                                            <span class="float-right versionText">{{deviceServiceVersion}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="deviceServiceVersion === '--'">
                <button mat-raised-button class="btn update">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="statusIcon"><i class="material-icons text-success">power_settings_new</i></div>
                                </div>
                                <div class="col-md-9 textBlock">
                                    <div class="deviceService">{{deviceClientName}}</div>
                                    <div class="upadteVersionTexts">
                                        <span class="float-left updateText text-success">{{'online' | translate}}</span>
                                        <span class="float-right versionText">{{deviceServiceVersion}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </button>
            </div>
        </div>
        <div *ngIf="deviceServiceStatus != 'active'">
            <button mat-raised-button class="btn update">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="statusIcon"><i class="material-icons text-danger">power_settings_new</i></div>
                        </div>
                        <div class="col-md-9 textBlock">
                                <div class="deviceService">{{deviceClientName}}</div>
                                <div class="upadteVersionTexts"><span class="float-left updateText text-danger">{{'offline' | translate}}</span>
                                    <span class="float-right versionText">{{deviceServiceVersion}}</span></div>
                        </div>
                    </div>
                </div>
        </button>
        </div>
    </div>
</div>
</div>