.user {
    // margin: 0px !important;
    color: #b3b3b3;
}

.sidebar .user {
    padding-bottom: 5px;
    margin: 10px auto 0;
    position: relative;
}

.img-thumbnail-uia {
    /* padding: 0.25rem; */
    /* background-color: #fafafa; */
    /* border: 1px solid #dee2e6; */
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    max-width: 100%;
    height: auto;
}

.arrowBg {
    width: 2em;
    height: 2em;
}

.nav {
    margin-left: 10px;
    color: #fff;
}

.update {
    background-color: #c8c8c833;
    width: 94%;
    border-radius: 6em 0em 0em 6em;
    padding: 12px 0px !important;
    margin-right: -14px !important;
    margin-top: 1em;
}

.deviceService {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 15px;
}

.upadteVersionTexts {
    margin-top: 10px;
}

.textBlock {
    padding: 0px 0px;
}

.updateText {
    font-size: 16px;
    font-weight: 100;
    margin-left: 1em;
}

.versionText {
    margin-top: 3px;
    margin-right: 2em;
}

.statusIcon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.statusIcon i {
    font-size: 4em;
}

.togglebutton {
    position: relative;
    top: 1px;
}

.toggle {
    margin-left: 0px;
}
