<div class="row">
  <div class="col-md-6">
    <div class="card">
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">perm_identity</i></div>
          <h4 class="card-title">{{'home.stats.headers.userStatistics' | translate }}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th scope="col">{{'home.stats.userStats.type' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.total' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.enrolled' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.active' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.suspended' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.revoked' | translate }}</th>
                  <th scope="col">{{'home.stats.userStats.expiring' | translate }}</th>
                </tr>
              </thead>
              <tbody class="ng-star-inserted" *ngIf="userStats !== null && userStats !== undefined">
                <tr *ngFor="let userStat of userStats">
                  <td>{{ userStat.type | translate }}</td>
                  <td style="text-align: center;">{{userStat.totalUsers}}</td>
                  <td style="text-align: center;">{{userStat.totalEnrolled}}</td>
                  <td style="text-align: center;">{{userStat.totalActive}}</td>
                  <td style="text-align: center;">{{userStat.totalSuspended}}</td>
                  <td style="text-align: center;">{{userStat.totalRevoked}}</td>
                  <td style="text-align: center;">{{userStat.totalExpired}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">devices</i></div>
          <h4 class="card-title">{{'home.stats.headers.identityDevices' | translate }}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th scope="col">{{'home.stats.identityDevices.type' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.available' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.enrolled' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.active' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.suspended' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.revoked' | translate }}</th>
                  <th scope="col">{{'home.stats.identityDevices.expiring' | translate }}</th>
                </tr>
              </thead>
              <tbody class="ng-star-inserted" *ngIf="deviceStats !== null && deviceStats !== undefined">
                <tr *ngFor="let deviceStat of deviceStats">
                  <td>{{deviceStat.type}}</td>
                  <td style="text-align: center;">{{deviceStat.totalAvailable}}</td>
                  <td style="text-align: center;">{{deviceStat.totalEnrolled}}</td>
                  <td style="text-align: center;">{{deviceStat.totalActive}}</td>
                  <td style="text-align: center;">{{deviceStat.totalSuspended}}</td>
                  <td style="text-align: center;">{{deviceStat.totalRevoked}}</td>
                  <td style="text-align: center;">{{deviceStat.totalExpired}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<br/>
