.openImage {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.openImage img {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardIcon {
    cursor: pointer;
    width: 35%;
}

.openImage .material-icons {
    position: absolute;
    left: 70%;
    top: 2%;
    color: #000;
}

.openImage .material-icons:hover {
    cursor: pointer;
}

.zoomAnimation {
    animation: mymove 2s 1;
}

@-webkit-keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 50%;
    }
}

/* Standard syntax */
@keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 50%;
    }
}

.showingBtn {
    animation: showBtn 5s 1;
}

@-webkit-keyframes showBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes showBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
