<div class="main-content">
    <div class="container-fluid">
    	<div class="mat-elevation-z8">
       		<div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="card" >
	            <div class="card-header card-header-primary card-header-icon" [ngStyle]="isDuplicateBiometricChecked ? null: {'margin-bottom': '20px'}">
	                <div class="card-icon"><i class="material-icons">person</i></div>
	                <h4 class="card-title">{{'enroll.enrollmentDetailstitle' | translate}}</h4>
				</div>
	            <div class="card-body" *ngIf="display && isDuplicateBiometricChecked">

					<div style="margin-bottom: 1.5em;" class="row">
						<div class="col-md-3">
							<span (mouseover)="check('fn', 'userFirstAndLastName')" id="userFirstAndLastName" class="dispalyDots1"
								[matTooltip]="showToolTip ? userFirstAndLastName: null">{{'user' | translate}} : <strong
									class="userTBE">{{userFirstAndLastName}}</strong></span>
						</div>
						<div class="col-md-3">
							<span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
								[matTooltip]="showToolTip ? groupName: null">{{'searchUser.searchUserResult.group' | translate}}: <strong
									class="userTBE">{{groupName}}</strong></span>
						</div>
						<div class="col-md-3">
							<span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
								[matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}}:
								<strong class="userTBE">{{identityType}}</strong></span>
						</div>
					</div>
	                <div>
					<h5 class="rgpara card-header card-text">{{'enroll.wizard.tab.summary.headerContent' | translate}}</h5>
	                <!-- Summary Content Start -->
	                <div class="container-fluid" *ngIf="!isDuplicateBiometricsFound">
						<div class="alert alert-success" *ngIf="isBiometricsValid">
							<span>{{'approveRequests.adjudication.noDuplicatesFound' | translate}}</span>
						</div>
						<div class="alert alert-danger" *ngIf="!isBiometricsValid">
							<span>{{'approveRequests.adjudication.noProperBiometrics' | translate}}</span>
						</div>
	                    <div class="col-md-12">
	                        <div class="row" *ngIf="hasWorkflowStep(sourceUser, 'ID_PROOFING')">
	                            <div class="col-md-12">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderIdProofingDocuments' | translate}}</h5>
	                            </div>
	                        <div class="table-responsive">
	                            <table class="table" mat-table [dataSource]="dataSource" matSort>
	                                <!-- Type Column -->
	                                <ng-container matColumnDef="Type">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.type'
	                                        | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc"> {{idProofDoc.idProofType.identityTypeName}} </mat-cell>
	                                </ng-container>
	                                <!-- Issuing Authority Column -->
	                                <ng-container matColumnDef="Issuing Authority">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.issuingAuthority'
	                                        | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc"> {{idProofDoc.idProofIssuingAuthority.issuingAuthority}} </mat-cell>
	                                </ng-container>
	                                <!-- Front Image Column -->
	                                <ng-container matColumnDef="Front Image">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.front' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.frontImg">
	                                            <img style="width: 12%;border-style: outset;" [src]='idProofDoc.frontImg' matTooltip="Zoom" (click)="openImage('front')">
	                                                <div *ngIf="openFrontImageBlock" class="openImage">
	                                                        <img [ngClass]="{zoomAnimation:isAnimate}" [src]='idProofDoc.frontImg'>
	                                                        <i class="material-icons" [ngClass]="{showingBtn:isAnimate}" matTooltip="Close" (click)="closeImage()">cancel</i>
	                                                    </div>
	                                        </div>
	                                        <!-- <div *ngIf="idProofDoc.source === 'upload'">--</div>  -->
	                                    </mat-cell>
	                                </ng-container>
	                                <!-- Back Iamge Column -->
	                                <ng-container matColumnDef="Back Iamge">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.back' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.backImg">
	                                            <img style="width: 12%;border-style: outset;" [src]='idProofDoc.backImg' matTooltip="Zoom" (click)="openImage('back')">
	                                            <div *ngIf="openBackImageBlock" class="openImage">
	                                                    <img [ngClass]="{zoomAnimation:isAnimate}" [src]='idProofDoc.backImg'>
	                                                    <i class="material-icons" [ngClass]="{showingBtn:isAnimate}" matTooltip="Close" (click)="closeImage()">cancel</i>
	                                                </div>
	                                        </div>
	                                        <!-- <div *ngIf="idProofDoc.source === 'upload'">--</div> -->
	                                    </mat-cell>
	                                </ng-container>
	                                <!-- File Column -->
	                                <!-- <ng-container matColumnDef="File">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.file' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.source === 'upload'">
												<div *ngIf="idProofDoc.frontFileType === 'application/pdf'">
													{{idProofDoc.frontFileName}}
	                                            </div>
	                                        </div>
	                                    </mat-cell>
	                                </ng-container> -->
	                                <mat-header-row *matHeaderRowDef="idProofDisplayedColumns"></mat-header-row>
	                                <mat-row *matRowDef="let row; columns: idProofDisplayedColumns;"></mat-row>
	                            </table>
	                        </div>
	                       </div>
	
	                        <div class="row">
	                            <div class="col-md-12">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderRegistration' | translate}}</h5>
	                            </div>
	
	                            <div class="col-md-12" style = "display: flex; ">
	                                <div class="col-md-6" *ngIf="registrationStepDetail && registrationStepDetail.wfStepRegistrationConfigs && isUserDetialsLoaded">
	                                    <div class="row" *ngFor="let registrationField of registrationStepDetail.wfStepRegistrationConfigs; let even=even">
	                                        <div *ngIf="even" style="margin-bottom: 10px">
	                                            <label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
	                                            <span
	                                                *ngIf="(registrationField.fieldName === 'Date of Birth' || registrationField.fieldName === 'Vaccination Date'); else notShow"  class="summaryInfoValue">{{formatmeetidentityDate(sourceUser.enrollForm.controls[registrationField.id].value)}}</span>
	                                           
	                                            <ng-template #notShow>
													<span *ngIf="registrationField.fieldName === 'Contact Number'; else notShow1" class="summaryInfoValue">
														{{sourceUser.enrollForm.controls.countryCode.value}} {{sourceUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
												<ng-template #notShow1>
													<span class="summaryInfoValue">{{sourceUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>

	                                        </div>
	                                    </div>
	                                </div>
	    
	                                <div class="col-md-6" *ngIf="registrationStepDetail && registrationStepDetail.wfStepRegistrationConfigs && isUserDetialsLoaded">
	                                    <div class="row" *ngFor="let registrationField of registrationStepDetail.wfStepRegistrationConfigs; let odd=odd">
	                                        <div *ngIf="odd" style="margin-bottom: 10px">
	                                            <label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
	                                            <span
	                                                *ngIf="(registrationField.fieldName === 'Date of Birth' || registrationField.fieldName === 'Vaccination Date'); else notShow" class="summaryInfoValue">{{formatmeetidentityDate(sourceUser.enrollForm.controls[registrationField.id].value)}}</span>
	                                            
	                                            <ng-template #notShow>
													<span *ngIf="registrationField.fieldName === 'Contact Number'; else notShow1" class="summaryInfoValue">
														{{sourceUser.enrollForm.controls.countryCode.value}} {{sourceUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
												<ng-template #notShow1>
													<span class="summaryInfoValue">{{sourceUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- <div class="col-md-4" *ngIf="credentialTemplates.length > 0">
	                                    <div>
	                                        <mat-form-field>
	                                            <mat-label>Visual Credentials</mat-label>
	                                            <mat-select [formControl]="selectedCredentialTemplate"
	                                                (selectionChange)="onCredentialTemplateChanged($event)">
	                                                <div>
	                                                    <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate.id">
	                                                        {{credentialTemplate.visualTemplateName}}
	                                                    </mat-option>
	                                                </div>
	                                            </mat-select>
	                                        </mat-form-field>
	                                    </div>
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDFront' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.front}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront"></span>
	                                        </figure>
	                                    </div>
	                                
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDBack' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.back}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidBack"></span>
	                                        </figure>
	                                    </div>
	                                </div> -->
	                            </div>
	                        </div>
	
	                         <div class="row">
	                                    <div class="col-md-3">
	                                        <div *ngIf="hasWorkflowStep(sourceUser, 'FACE_CAPTURE')">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderPhotograph' | translate}}
	                                            </h5>
	                            
	                                            <img [hidden]="sourceUser.isCropped" src="../../content/images/mypic.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryPhoto">
	                                            <img [hidden]="!sourceUser.isCropped" [src]="sourceUser.croppedImg" width="180" height="300"
	                                                class="img-responsive img-thumbnail summaryPhoto" />
	                                        </div>
	                                    </div>
	                            
	                                    <div class="col-md-4">
	                                        <div *ngIf="hasWorkflowStep(sourceUser, 'SIGNATURE_CAPTURE')">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderSignature' | translate}}
	                                            </h5>
	                                            <div class="img-responsive img-thumbnail summarySignIris">
	                                                <img *ngIf="signature == undefined" src="../../content/images/signature.png">
	                                                <img *ngIf="signature != undefined" [src]="signature">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-5">
	                                        <div *ngIf="hasWorkflowStep(sourceUser, 'IRIS_CAPTURE')">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderIris' | translate}}
	                                            </h5>
	                                            <div class="img-responsive img-thumbnail summarySignIris">
	                                                <div class="row"> <br/>
	                                                 <div class="col-md-5">
	                                                    <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textRightEye' | translate}}</h5>
	                                                    <img *ngIf="sourceUser.rightEye != undefined" src="data:image/jpeg;base64,{{sourceUser.rightEye}}"
	                                                            alt="photo" class="img-responsive">                                                               
	                                                 </div>
	                                                 <div class="col-md-5">
	                                                        <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textLeftEye' | translate}}</h5>
	                                                        <img *ngIf="sourceUser.leftEye != undefined" src="data:image/jpeg;base64,{{sourceUser.leftEye}}"
	                                                                alt="photo" class="img-responsive">                                                                
	                                                 </div>
	                                               </div>
	                                             </div>
	                                            <br />
	                                        </div>
	                                    </div>
	                            
	                        </div> <br/>
	 
	                        <div class="row">
	                            <div class="col-md-12" *ngIf="hasWorkflowStep(sourceUser, 'FINGERPRINT_CAPTURE')">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderFingerprints' | translate}}</h5>
	                                <!-- <div *ngIf="isSlapFPCaptured" class="row">
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Right Hand Fingers</h5>
	                                        <img *ngIf="rightFourFingers != undefined" src="data:image/jpeg;base64,{{rightFourFingers.jpegData}}"
	                                            alt="photo" class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100"
	                                                [style.width]="rightFourFingers != undefined ? rightFourFingers.imageQuality + '%' : '0%'">
	                                                {{rightFourFingers != undefined ? rightFourFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Thumb Fingers</h5>                                            
	                                        <img *ngIf="thumbFingers != undefined" src="data:image/jpeg;base64,{{thumbFingers.jpegData}}" alt="photo"
	                                            class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100" [style.width]="thumbFingers != undefined ? thumbFingers.imageQuality + '%' : '0%'">
	                                                {{thumbFingers != undefined ? thumbFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Left Hand Fingers</h5>                                            
	                                        <img *ngIf="leftFourFingers != undefined" src="data:image/jpeg;base64,{{leftFourFingers.jpegData}}" alt="photo"
	                                            class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100"
	                                                [style.width]="leftFourFingers != undefined ? leftFourFingers.imageQuality + '%' : '0%'">
	                                                {{leftFourFingers != undefined ? leftFourFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div> <br /> -->
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.rightFingerprintImages[0] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[5] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[5] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.rightFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.rightFingerprintImages[1] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[6] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[6] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.rightFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.rightFingerprintImages[2] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[7] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[7] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.rightFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.rightFingerprintImages[3] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[8] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[8] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.rightFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.rightFingerprintImages[4] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[9] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[9] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.rightFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="rfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.rightFingerprintImages[0] != undefined ? sourceUser.rightFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.rightFingerprintImages[0] != undefined ? sourceUser.rightFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.rightFingerprintImages[1] != undefined ? sourceUser.rightFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.rightFingerprintImages[1] != undefined ? sourceUser.rightFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.rightFingerprintImages[2] != undefined ? sourceUser.rightFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.rightFingerprintImages[2] != undefined ? sourceUser.rightFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.rightFingerprintImages[3] != undefined ? sourceUser.rightFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.rightFingerprintImages[3] != undefined ? sourceUser.rightFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.rightFingerprintImages[4] != undefined ? sourceUser.rightFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.rightFingerprintImages[4] != undefined ? sourceUser.rightFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.leftFingerprintImages[0] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[0] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.leftFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.leftFingerprintImages[1] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[1] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.leftFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.leftFingerprintImages[2] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[2] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.leftFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.leftFingerprintImages[3] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[3] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.leftFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="sourceUser.leftFingerprintImages[4] == undefined">
	                                                            <i *ngIf="sourceUser.skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="sourceUser.skippedFingers[4] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="sourceUser.leftFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="lfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.leftFingerprintImages[0] != undefined ? sourceUser.leftFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.leftFingerprintImages[0] != undefined ? sourceUser.leftFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.leftFingerprintImages[1] != undefined ? sourceUser.leftFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.leftFingerprintImages[1] != undefined ? sourceUser.leftFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.leftFingerprintImages[2] != undefined ? sourceUser.leftFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.leftFingerprintImages[2] != undefined ? sourceUser.leftFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.leftFingerprintImages[3] != undefined ? sourceUser.leftFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.leftFingerprintImages[3] != undefined ? sourceUser.leftFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="sourceUser.leftFingerprintImages[4] != undefined ? sourceUser.leftFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{sourceUser.leftFingerprintImages[4] != undefined ? sourceUser.leftFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                            
	                                </div> <br />
	                            </div>
	                        </div> 
	                    </div>
	                    <div class="row">
	                        <!-- visual id section starts -->
	                        <div class="col-md-12" *ngIf="credentialTemplates.length > 0">
	                            <div class="row">
	                                <div class="col-md-4">
	                                    <mat-form-field>
	                                        <mat-label>{{'enroll.wizard.tab.summary.visualCredential' | translate}}</mat-label>
	                                        <mat-select [formControl]="selectedCredentialTemplate" (selectionChange)="onCredentialTemplateChanged($event)">
	                                            <div>
	                                                <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate.id">
	                                                    {{credentialTemplate.visualTemplateName}}
	                                                </mat-option>
	                                            </div>
	                                        </mat-select>
	                                    </mat-form-field>
	                                </div>
	                            </div>
	
	                            <div class="row">
	                                <div class="col-md-6">
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDFront' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.front}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront">
	                                        </figure>
	                                    </div>
	                                </div>
	                                <div class="col-md-6">
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDBack' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.back}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront">
	                                        </figure>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- visual id section ends -->
	                    </div>
					</div>
					<div *ngIf="isDuplicateBiometricsFound">
						<div class="alert alert-danger">
							<span> {{duplicatesFoundMsg}} </span>
						</div>
						<div style="text-align: center">
							<span *ngIf="currentDuplicateUser.faceMatchScore !=0" style="margin-right: 20px;">{{'approveRequests.adjudication.facesScore' | translate}} <b>{{currentDuplicateUser.faceMatchScore}}</b></span>
							<span *ngIf="currentDuplicateUser.irisMatchScore !=0" style="margin-right: 20px;">{{'approveRequests.adjudication.irisScore' | translate}}<b>{{currentDuplicateUser.irisMatchScore}}</b></span>
							<span *ngIf="currentDuplicateUser.fingersMatchScore !=0" style="margin-right: 20px;">{{'approveRequests.adjudication.fingersScore' | translate}}<b>{{currentDuplicateUser.fingersMatchScore}}</b></span>
						</div>
						<br>
						<div>
							<div class="offset-md-6">
								<button mat-raised-button type="button" class="btn btn-info btn-link paddingBtn" [disabled]='currentDuplicateUser.id == 1' (click)="onClickOfLeftArrow(currentDuplicateUser)">
									<i class="material-icons">keyboard_arrow_left</i>
								</button>
								{{'approveRequests.adjudication.matches' | translate}}
								<button mat-raised-button type="button" class="btn btn-info btn-link paddingBtn" [disabled]='currentDuplicateUser.id == matchedUsersCount' (click)="onClickOfRightArrow(currentDuplicateUser)">
									<i class="material-icons">keyboard_arrow_right</i>
								</button>
								{{currentDuplicateUser.id}}/{{matchedUsersCount}}
							</div>
						
						<br>
						<!-- Registration Info and Face -->
						<div class="row">
							<div class="col-md-3" style="padding-left: 50px;">
								<div><b class="text-info font-weight-bold">{{'approveRequests.adjudication.probeUserInfo' | translate}}</b></div><br>
								<div class="col-md-12" style="display: flex;">
									<div *ngIf="sourceUser.adjudicationUserInfoFields && isUserDetialsLoaded">
										<div class="row" *ngFor="let registrationField of sourceUser.adjudicationUserInfoFields">
											<div>
												<label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
												<span *ngIf="(registrationField.fieldName === 'Date of Birth' ); else notShow" class="summaryInfoValue">{{formatmeetidentityDate(sourceUser.enrollForm.controls[registrationField.id].value)}}</span>
								
												<ng-template #notShow>
													<span class="summaryInfoValue">{{sourceUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div *ngIf="hasWorkflowStep(sourceUser, 'FACE_CAPTURE')">
									<div style="text-align: end;"><b class="text-info font-weight-bold">{{'approveRequests.adjudication.probePhoto' | translate}}</b></div><br>
									<div style="float: right;">
										<img [hidden]="sourceUser.isCropped" src="../../content/images/mypic.png" alt="photo" class="img-responsive img-thumbnail summaryPhoto">
										<img [hidden]="!sourceUser.isCropped" [src]="sourceUser.croppedImg" width="180" height="300" class="img-responsive img-thumbnail summaryPhoto" />
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div *ngIf="hasWorkflowStep(currentDuplicateUser, 'FACE_CAPTURE')">
									<div><b class="text-info font-weight-bold">{{'approveRequests.adjudication.duplicatePhoto' | translate}}</b></div><br>                                                                                                     
									<div>
										<img [hidden]="currentDuplicateUser.isCropped" src="../../content/images/mypic.png" alt="photo" class="img-responsive img-thumbnail summaryPhoto">
										<img [hidden]="!currentDuplicateUser" [src]="currentDuplicateUser.croppedImg" width="180" height="300" class="img-responsive img-thumbnail summaryPhoto" />
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div><b class="text-info font-weight-bold">{{'approveRequests.adjudication.duplicateUserInfo' | translate}}</b></div><br>
								<div class="col-md-12" style="display: flex;">
									<div *ngIf="currentDuplicateUser.adjudicationUserInfoFields && isUserDetialsLoaded">
										<div class="row" *ngFor="let registrationField of currentDuplicateUser.adjudicationUserInfoFields">
											<div>
												<label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
												<span *ngIf="(registrationField.fieldName === 'Date of Birth' ); else notShow" class="summaryInfoValue">{{formatmeetidentityDate(currentDuplicateUser.enrollForm.controls[registrationField.id].value)}}</span>
												<ng-template #notShow>
													<span class="summaryInfoValue">{{currentDuplicateUser.enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<!-- Iris and Face -->
						<div class="row">
							<div class="col-md-1"></div>
							<!-- *ngIf="hasWorkflowStep('IRIS_CAPTURE')" -->
							<div class="col-md-5" *ngIf="hasWorkflowStep(sourceUser, 'IRIS_CAPTURE'); else irisElseBlock" style="text-align: end;">
								<div><b class="text-info font-weight-bold">{{'approveRequests.adjudication.probeIris' | translate}}</b></div><br>
								<div >
									<div class="img-responsive img-thumbnail summarySignIris">
										<div class="row"> <br />
											<div class="col-md-5">
												<div class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textRightEye' | translate}}</div>
												<img *ngIf="sourceUser.rightEye != undefined" src="data:image/jpeg;base64,{{sourceUser.rightEye}}" alt="photo" class="img-responsive">
											</div>
											<div class="col-md-5">
												<h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textLeftEye' | translate}}</h5>
												<img *ngIf="sourceUser.leftEye != undefined" src="data:image/jpeg;base64,{{sourceUser.leftEye}}" alt="photo" class="img-responsive">
											</div>
										</div>
									</div>
									<br />
								</div>
							</div>
							<!-- *ngIf="hasWorkflowStep('IRIS_CAPTURE')" -->
							<div class="col-md-5" *ngIf="hasWorkflowStep(currentDuplicateUser, 'IRIS_CAPTURE'); else irisElseBlock">
								<div><b class="text-info font-weight-bold">{{'approveRequests.adjudication.duplicateIris' | translate}}</b></div><br>
								<div >
									<div class="img-responsive img-thumbnail summarySignIris">
										<div class="row"> <br />
											<div class="col-md-5">
												<div class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textRightEye' | translate}}</div>
												<img *ngIf="currentDuplicateUser.rightEye != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightEye}}" alt="photo" class="img-responsive">
											</div>
											<div class="col-md-5">
												<h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textLeftEye' | translate}}</h5>
												<img *ngIf="currentDuplicateUser.leftEye != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftEye}}" alt="photo" class="img-responsive">
											</div>
										</div>
									</div>
									<br />
								</div>
							</div>
							<ng-template #irisElseBlock>
								<div class="col-md-5"></div>
							</ng-template>
							<div class="col-md-1"></div>
						</div>
						<br>
						<!-- Registration Info and Face -->
						<div class="row">
							<!-- *ngIf="hasWorkflowStep('FINGERPRINT_CAPTURE')" -->
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6" *ngIf="hasWorkflowStep(sourceUser, 'FINGERPRINT_CAPTURE'); else fpElseBlock">
										<div class="text-info font-weight-bold" style="text-align: end;">{{'approveRequests.adjudication.probeFingerPrints' | translate}}</div><br>
										<div class="table-responsive">
											<table class="table table-bordered text-center summaryFps">
												<tr>
													<td>
														<div *ngIf="sourceUser.leftFingerprintImages[0] == undefined">
															<i *ngIf="sourceUser.skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="sourceUser.skippedFingers[0] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="sourceUser.leftFingerprintImages[0] != undefined" src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[0].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="sourceUser.leftFingerprintImages[1] == undefined">
															<i *ngIf="sourceUser.skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="sourceUser.skippedFingers[1] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="sourceUser.leftFingerprintImages[1] != undefined" src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[1].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="sourceUser.leftFingerprintImages[2] == undefined">
															<i *ngIf="sourceUser.skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="sourceUser.skippedFingers[2] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="sourceUser.leftFingerprintImages[2] != undefined" src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[2].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="sourceUser.leftFingerprintImages[3] == undefined">
															<i *ngIf="sourceUser.skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="sourceUser.skippedFingers[3] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="sourceUser.leftFingerprintImages[3] != undefined" src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[3].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="sourceUser.leftFingerprintImages[4] == undefined">
															<i *ngIf="sourceUser.skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="sourceUser.skippedFingers[4] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="sourceUser.leftFingerprintImages[4] != undefined" src="data:image/jpeg;base64,{{sourceUser.leftFingerprintImages[4].data}}"
														 alt="photo" class="img-responsive">
													</td>
												</tr>
												<tr class="lfp_names">
													<td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
												</tr>
												<tr>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="sourceUser.leftFingerprintImages[0] != undefined ? sourceUser.leftFingerprintImages[0].imageQuality + '%' : '0%'">
																{{sourceUser.leftFingerprintImages[0] != undefined ? sourceUser.leftFingerprintImages[0].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="sourceUser.leftFingerprintImages[1] != undefined ? sourceUser.leftFingerprintImages[1].imageQuality + '%' : '0%'">
																{{sourceUser.leftFingerprintImages[1] != undefined ? sourceUser.leftFingerprintImages[1].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="sourceUser.leftFingerprintImages[2] != undefined ? sourceUser.leftFingerprintImages[2].imageQuality + '%' : '0%'">
																{{sourceUser.leftFingerprintImages[2] != undefined ? sourceUser.leftFingerprintImages[2].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="sourceUser.leftFingerprintImages[3] != undefined ? sourceUser.leftFingerprintImages[3].imageQuality + '%' : '0%'">
																{{sourceUser.leftFingerprintImages[3] != undefined ? sourceUser.leftFingerprintImages[3].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="sourceUser.leftFingerprintImages[4] != undefined ? sourceUser.leftFingerprintImages[4].imageQuality + '%' : '0%'">
																{{sourceUser.leftFingerprintImages[4] != undefined ? sourceUser.leftFingerprintImages[4].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<ng-template #fpElseBlock>
										<div class="col-md-6"></div>
									</ng-template>
									<div class="col-md-6" *ngIf="hasWorkflowStep(currentDuplicateUser, 'FINGERPRINT_CAPTURE'); else fpElseBlock">
										<div class="text-info font-weight-bold">{{'approveRequests.adjudication.duplicateFingerPrints' | translate}}</div><br>
										<div class="table-responsive">
											<table class="table table-bordered text-center summaryFps">
												<tr>
													<td>
														<div *ngIf="currentDuplicateUser.leftFingerprintImages[0] == undefined">
															<i *ngIf="currentDuplicateUser.skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="currentDuplicateUser.skippedFingers[0] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="currentDuplicateUser.leftFingerprintImages[0] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftFingerprintImages[0].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="currentDuplicateUser.leftFingerprintImages[1] == undefined">
															<i *ngIf="currentDuplicateUser.skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="currentDuplicateUser.skippedFingers[1] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="currentDuplicateUser.leftFingerprintImages[1] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftFingerprintImages[1].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="currentDuplicateUser.leftFingerprintImages[2] == undefined">
															<i *ngIf="currentDuplicateUser.skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="currentDuplicateUser.skippedFingers[2] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="currentDuplicateUser.leftFingerprintImages[2] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftFingerprintImages[2].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="currentDuplicateUser.leftFingerprintImages[3] == undefined">
															<i *ngIf="currentDuplicateUser.skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="currentDuplicateUser.skippedFingers[3] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="currentDuplicateUser.leftFingerprintImages[3] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftFingerprintImages[3].data}}"
														 alt="photo" class="img-responsive">
													</td>
													<td>
														<div *ngIf="currentDuplicateUser.leftFingerprintImages[4] == undefined">
															<i *ngIf="currentDuplicateUser.skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
															<i *ngIf="currentDuplicateUser.skippedFingers[4] != undefined" class="material-icons summaryFpImages">clear</i>
														</div>
														<img *ngIf="currentDuplicateUser.leftFingerprintImages[4] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.leftFingerprintImages[4].data}}"
														 alt="photo" class="img-responsive">
													</td>
												</tr>
												<tr class="lfp_names">
													<td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
													<td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
												</tr>
												<tr>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="currentDuplicateUser.leftFingerprintImages[0] != undefined ? currentDuplicateUser.leftFingerprintImages[0].imageQuality + '%' : '0%'">
																{{currentDuplicateUser.leftFingerprintImages[0] != undefined ? currentDuplicateUser.leftFingerprintImages[0].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="currentDuplicateUser.leftFingerprintImages[1] != undefined ? currentDuplicateUser.leftFingerprintImages[1].imageQuality + '%' : '0%'">
																{{currentDuplicateUser.leftFingerprintImages[1] != undefined ? currentDuplicateUser.leftFingerprintImages[1].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="currentDuplicateUser.leftFingerprintImages[2] != undefined ? currentDuplicateUser.leftFingerprintImages[2].imageQuality + '%' : '0%'">
																{{currentDuplicateUser.leftFingerprintImages[2] != undefined ? currentDuplicateUser.leftFingerprintImages[2].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="currentDuplicateUser.leftFingerprintImages[3] != undefined ? currentDuplicateUser.leftFingerprintImages[3].imageQuality + '%' : '0%'">
																{{currentDuplicateUser.leftFingerprintImages[3] != undefined ? currentDuplicateUser.leftFingerprintImages[3].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
													<td>
														<div class="progress">
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
															 aria-valuemax="100" [style.width]="currentDuplicateUser.leftFingerprintImages[4] != undefined ? currentDuplicateUser.leftFingerprintImages[4].imageQuality + '%' : '0%'">
																{{currentDuplicateUser.leftFingerprintImages[4] != undefined ? currentDuplicateUser.leftFingerprintImages[4].imageQuality + '%' : '0%'}}
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div> <br />
							</div>
						</div>
						<div class="row">
							<!-- *ngIf="hasWorkflowStep('FINGERPRINT_CAPTURE')" -->
							<div class="col-md-6" *ngIf="hasWorkflowStep(sourceUser, 'FINGERPRINT_CAPTURE'); else fpElseBlock">
								<div class="table-responsive">
									<table class="table table-bordered text-center summaryFps">
										<tr>
											<td>
												<div *ngIf="sourceUser.rightFingerprintImages[0] == undefined">
													<i *ngIf="sourceUser.skippedFingers[5] == undefined" class="material-icons">fingerprint</i>
													<i *ngIf="sourceUser.skippedFingers[5] != undefined" class="material-icons summaryFpImages">clear</i>
												</div>
												<img *ngIf="sourceUser.rightFingerprintImages[0] != undefined" src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[0].data}}"
												 alt="photo" class="img-responsive">
											</td>
											<td>
												<div *ngIf="sourceUser.rightFingerprintImages[1] == undefined">
													<i *ngIf="sourceUser.skippedFingers[6] == undefined" class="material-icons">fingerprint</i>
													<i *ngIf="sourceUser.skippedFingers[6] != undefined" class="material-icons summaryFpImages">clear</i>
												</div>
												<img *ngIf="sourceUser.rightFingerprintImages[1] != undefined" src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[1].data}}"
												 alt="photo" class="img-responsive">
											</td>
											<td>
												<div *ngIf="sourceUser.rightFingerprintImages[2] == undefined">
													<i *ngIf="sourceUser.skippedFingers[7] == undefined" class="material-icons">fingerprint</i>
													<i *ngIf="sourceUser.skippedFingers[7] != undefined" class="material-icons summaryFpImages">clear</i>
												</div>
												<img *ngIf="sourceUser.rightFingerprintImages[2] != undefined" src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[2].data}}"
												 alt="photo" class="img-responsive">
											</td>
											<td>
												<div *ngIf="sourceUser.rightFingerprintImages[3] == undefined">
													<i *ngIf="sourceUser.skippedFingers[8] == undefined" class="material-icons">fingerprint</i>
													<i *ngIf="sourceUser.skippedFingers[8] != undefined" class="material-icons summaryFpImages">clear</i>
												</div>
												<img *ngIf="sourceUser.rightFingerprintImages[3] != undefined" src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[3].data}}"
												 alt="photo" class="img-responsive">
											</td>
											<td>
												<div *ngIf="sourceUser.rightFingerprintImages[4] == undefined">
													<i *ngIf="sourceUser.skippedFingers[9] == undefined" class="material-icons">fingerprint</i>
													<i *ngIf="sourceUser.skippedFingers[9] != undefined" class="material-icons summaryFpImages">clear</i>
												</div>
												<img *ngIf="sourceUser.rightFingerprintImages[4] != undefined" src="data:image/jpeg;base64,{{sourceUser.rightFingerprintImages[4].data}}"
												 alt="photo" class="img-responsive">
											</td>
										</tr>
										<tr class="rfp_names">
											<td><span>{{'enroll.wizard.tab.summary.textRightThumb' | translate}}</span></td>
											<td><span>{{'enroll.wizard.tab.summary.textRightIndex' | translate}}</span></td>
											<td><span>{{'enroll.wizard.tab.summary.textRightMiddle' | translate}}</span></td>
											<td><span>{{'enroll.wizard.tab.summary.textRightRing' | translate}}</span></td>
											<td><span>{{'enroll.wizard.tab.summary.textRightLittle' | translate}}</span></td>
										</tr>
										<tr>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
													 aria-valuemax="100" [style.width]="sourceUser.rightFingerprintImages[0] != undefined ? sourceUser.rightFingerprintImages[0].imageQuality + '%' : '0%'">
														{{sourceUser.rightFingerprintImages[0] != undefined ? sourceUser.rightFingerprintImages[0].imageQuality + '%' : '0%'}}
													</div>
												</div>
											</td>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
													 aria-valuemax="100" [style.width]="sourceUser.rightFingerprintImages[1] != undefined ? sourceUser.rightFingerprintImages[1].imageQuality + '%' : '0%'">
														{{sourceUser.rightFingerprintImages[1] != undefined ? sourceUser.rightFingerprintImages[1].imageQuality + '%' : '0%'}}
													</div>
												</div>
											</td>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
													 aria-valuemax="100" [style.width]="sourceUser.rightFingerprintImages[2] != undefined ? sourceUser.rightFingerprintImages[2].imageQuality + '%' : '0%'">
														{{sourceUser.rightFingerprintImages[2] != undefined ? sourceUser.rightFingerprintImages[2].imageQuality + '%' : '0%'}}
													</div>
												</div>
											</td>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
													 aria-valuemax="100" [style.width]="sourceUser.rightFingerprintImages[3] != undefined ? sourceUser.rightFingerprintImages[3].imageQuality + '%' : '0%'">
														{{sourceUser.rightFingerprintImages[3] != undefined ? sourceUser.rightFingerprintImages[3].imageQuality + '%' : '0%'}}
													</div>
												</div>
											</td>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
													 aria-valuemax="100" [style.width]="sourceUser.rightFingerprintImages[4] != undefined ? sourceUser.rightFingerprintImages[4].imageQuality + '%' : '0%'">
														{{sourceUser.rightFingerprintImages[4] != undefined ? sourceUser.rightFingerprintImages[4].imageQuality + '%' : '0%'}}
													</div>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-md-6" *ngIf="hasWorkflowStep(currentDuplicateUser, 'FINGERPRINT_CAPTURE'); else fpElseBlock">
									<div class="table-responsive">
										<table class="table table-bordered text-center summaryFps">
											<tr>
												<td>
													<div *ngIf="currentDuplicateUser.rightFingerprintImages[0] == undefined">
														<i *ngIf="currentDuplicateUser.skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
														<i *ngIf="currentDuplicateUser.skippedFingers[0] != undefined" class="material-icons summaryFpImages">clear</i>
													</div>
													<img *ngIf="currentDuplicateUser.rightFingerprintImages[0] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightFingerprintImages[0].data}}"
													 alt="photo" class="img-responsive">
												</td>
												<td>
													<div *ngIf="currentDuplicateUser.rightFingerprintImages[1] == undefined">
														<i *ngIf="currentDuplicateUser.skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
														<i *ngIf="currentDuplicateUser.skippedFingers[1] != undefined" class="material-icons summaryFpImages">clear</i>
													</div>
													<img *ngIf="currentDuplicateUser.rightFingerprintImages[1] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightFingerprintImages[1].data}}"
													 alt="photo" class="img-responsive">
												</td>
												<td>
													<div *ngIf="currentDuplicateUser.rightFingerprintImages[2] == undefined">
														<i *ngIf="currentDuplicateUser.skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
														<i *ngIf="currentDuplicateUser.skippedFingers[2] != undefined" class="material-icons summaryFpImages">clear</i>
													</div>
													<img *ngIf="currentDuplicateUser.rightFingerprintImages[2] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightFingerprintImages[2].data}}"
													 alt="photo" class="img-responsive">
												</td>
												<td>
													<div *ngIf="currentDuplicateUser.rightFingerprintImages[3] == undefined">
														<i *ngIf="currentDuplicateUser.skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
														<i *ngIf="currentDuplicateUser.skippedFingers[3] != undefined" class="material-icons summaryFpImages">clear</i>
													</div>
													<img *ngIf="currentDuplicateUser.rightFingerprintImages[3] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightFingerprintImages[3].data}}"
													 alt="photo" class="img-responsive">
												</td>
												<td>
													<div *ngIf="currentDuplicateUser.rightFingerprintImages[4] == undefined">
														<i *ngIf="currentDuplicateUser.skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
														<i *ngIf="currentDuplicateUser.skippedFingers[4] != undefined" class="material-icons summaryFpImages">clear</i>
													</div>
													<img *ngIf="currentDuplicateUser.rightFingerprintImages[4] != undefined" src="data:image/jpeg;base64,{{currentDuplicateUser.rightFingerprintImages[4].data}}"
													 alt="photo" class="img-responsive">
												</td>
											</tr>
											<tr class="lfp_names">
												<td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
												<td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
												<td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
												<td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
												<td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
											</tr>
											<tr>
												<td>
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
														 aria-valuemax="100" [style.width]="currentDuplicateUser.rightFingerprintImages[0] != undefined ? currentDuplicateUser.rightFingerprintImages[0].imageQuality + '%' : '0%'">
															{{currentDuplicateUser.rightFingerprintImages[0] != undefined ? currentDuplicateUser.rightFingerprintImages[0].imageQuality + '%' : '0%'}}
														</div>
													</div>
												</td>
												<td>
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
														 aria-valuemax="100" [style.width]="currentDuplicateUser.rightFingerprintImages[1] != undefined ? currentDuplicateUser.rightFingerprintImages[1].imageQuality + '%' : '0%'">
															{{currentDuplicateUser.rightFingerprintImages[1] != undefined ? currentDuplicateUser.rightFingerprintImages[1].imageQuality + '%' : '0%'}}
														</div>
													</div>
												</td>
												<td>
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
														 aria-valuemax="100" [style.width]="currentDuplicateUser.rightFingerprintImages[2] != undefined ? currentDuplicateUser.rightFingerprintImages[2].imageQuality + '%' : '0%'">
															{{currentDuplicateUser.rightFingerprintImages[2] != undefined ? currentDuplicateUser.rightFingerprintImages[2].imageQuality + '%' : '0%'}}
														</div>
													</div>
												</td>
												<td>
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
														 aria-valuemax="100" [style.width]="currentDuplicateUser.rightFingerprintImages[3] != undefined ? currentDuplicateUser.rightFingerprintImages[3].imageQuality + '%' : '0%'">
															{{currentDuplicateUser.rightFingerprintImages[3] != undefined ? currentDuplicateUser.rightFingerprintImages[3].imageQuality + '%' : '0%'}}
														</div>
													</div>
												</td>
												<td>
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
														 aria-valuemax="100" [style.width]="currentDuplicateUser.rightFingerprintImages[4] != undefined ? currentDuplicateUser.rightFingerprintImages[4].imageQuality + '%' : '0%'">
															{{currentDuplicateUser.rightFingerprintImages[4] != undefined ? currentDuplicateUser.rightFingerprintImages[4].imageQuality + '%' : '0%'}}
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
							</div>
						</div>
						<br>
					    </div>
					</div>
					</div>
					<div class="float-right saveCancelBtns">
						<!-- <button class="btn btn-primary summaryback" (click)="editEnrollment()">{{'edit' | translate}}</button> -->
						<button class="btn btn-primary" data-toggle="modal" (click)="OnClickOfApprove()" data-target="#approveUser">{{'approve' | translate}}</button>
						<button class="btn btn-primary" data-toggle="modal" (click)="OnClickOfReject()" data-target="#rejectUser">{{'reject' | translate}}</button>
						<button mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goBack()">{{'back' | translate}}</button>
					</div>
	            </div> 


				<div *ngIf="displaySuccessMsg">
					<div class="card-body">
						<div class="text-black alert alert-success">
							<div>{{message}}</div>
						</div>
						<div *ngIf="rejectSuccess && !hasIssuancePermission" class="card-footer">
							<button class="btn btn-primary" (click)="navigateToDashboard()" mat-raised-button style="margin-left: auto; margin-right: 5px;">{{'done'
								| translate}}</button>
						</div>
						<div class="text-center" *ngIf="approveSuccess && hasIssuancePermission">
							<div class="card">
								<div class="card-body">
									<div>
										<span>{{'enroll.messages.saveSuccess.approvalNotRequired' | translate}}</span>
									</div>
									<div>
										<button mat-raised-button class="btn btn-primary" (click)="navigateToDashboard()" style="background-color: white;color:black;">{{'no' | translate}}</button>
										<button mat-raised-button class="btn btn-primary" (click)="issueUser()">{{'yes' | translate}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    	</div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="userSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'searchUser.deleteUser' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style=" margin-left: auto; margin-right: auto;">
                <p>{{'searchUser.confirmDeleteUser' | translate}}</p>
        </div>
        <div class="text-center">
            <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="deleteUser()" data-dismiss="modal">{{'yes' | translate}}</button>
            <button mat-raised-button type="button" class="btn"  data-dismiss="modal">{{'no' | translate}}</button>
        </div>
    </div>
</div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="approveUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">{{'approveRequests.approveUser' | translate}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<mat-form-field>
					<mat-label>{{'approvalReason' | translate}}</mat-label>
					<mat-select [formControl]="approvalReason">
						<mat-option *ngFor="let approvalReason of approvalReasons" [value]="approvalReason.value">
							{{approvalReason.value}}
						</mat-option>
					</mat-select>
					<mat-error>
						<div *ngIf="approvalReason.hasError('required')">
							{{'global.entity.validation.required' | translate }}
						</div>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="text-center">
				<button mat-raised-button type="submit" [disabled]="approvalReason.hasError('required')" (click)="approveUser()" class="btn modalBtnMarginLeft" data-dismiss="modal">{{'yes' | translate}}</button>
				<button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
			</div>
		</div>
</div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="rejectUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">{{'approveRequests.rejectUser' | translate}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<mat-form-field>
					<mat-label>{{'rejectionReason' | translate}}</mat-label>
						<mat-select [formControl]="rejectionReason">
							<mat-option *ngFor="let rejectionReason of rejectionReasons" [value]="rejectionReason.value">
								{{rejectionReason.value}}
							</mat-option>
						</mat-select>
						<mat-error>
							<div *ngIf="rejectionReason.hasError('required')">
								{{'global.entity.validation.required' | translate }}
							</div>
						</mat-error>
					</mat-form-field>
			</div>
			<div class="text-center">
				<button mat-raised-button type="submit" [disabled]="rejectionReason.hasError('required')" (click)="rejectUser()" class="btn modalBtnMarginLeft" data-dismiss="modal">{{'yes' | translate}}</button>
				<button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
			</div>
		</div>	
</div>
</div>





