@font-face {
    font-family: 'uia';
    src: url('../css/fonts/uia.eot?ykzw2u');
    src: url('../css/fonts/uia.eot?ykzw2u#iefix') format('embedded-opentype'), url('../css/fonts/uia.ttf?ykzw2u') format('truetype'),
        url('../css/fonts/uia.woff?ykzw2u') format('woff'), url('../css/fonts/uia.svg?ykzw2u#uia') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='uia-'],
[class*=' uia-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'uia' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uia-face:before {
    content: '\e900';
}
.uia-fingerprint:before {
    content: '\e901';
}
.uia-iot_idustrial_device:before {
    content: '\e902';
}
.uia-iot_medical_device:before {
    content: '\e903';
}
.uia-iris:before {
    content: '\e904';
}
.uia-machine:before {
    content: '\e905';
}
.uia-mobile_device:before {
    content: '\e906';
}
.uia-mobile_id:before {
    content: '\e907';
}
.uia-otp:before {
    content: '\e908';
}
.uia-pki_certs:before {
    content: '\e909';
}
.uia-smart_card:before {
    content: '\e90a';
}
.uia-tpm_chip:before {
    content: '\e90b';
}
.uia-usb_token:before {
    content: '\e90c';
}
