@import 'material-dashboard.scss';
@import '~https://use.fontawesome.com/releases/v5.2.0/css/all.css';
// Needed for ENROLL FACE CROPPER
@import '~cropperjs/dist/cropper.css';
@import './custom-fonts.scss';
@import '../../../../../node_modules/angular-calendar/css/angular-calendar.css';

/* MeetIdentity Styles */
.main-panel .main-content {
    margin-top: 30px;
}

.main-panel {
    background-color: #eee !important;
}

.example-full-width {
    width: 100%;
}

.user span {
    padding: 5px 5px;
}

.btn-danger {
    background-color: white;
    color: #195cab;
    border: 3px solid #e3e1e2;
    font-size: 12px;
}

.btn-danger:hover {
    background-color: #195cab;
    border: 4px solid #195cab;
}

.wBtn,
.wBtn2,
.wBtn3,
.wBtn4,
.wBtn5 {
    border-radius: 50%;
    width: 6em !important;
    height: 6em !important;
    border: 4px solid #e3e1e2;
    background-color: #fff;
    color: #e3e1e2;
    text-align: center;
    padding: 12px 0px;
}

.wBtn svg,
.wBtn2 svg,
.wBtn3 svg,
.wBtn4 svg,
.wBtn5 svg {
    fill: none;
    stroke: #e3e1e2;
    width: 4em;
}

.wBtn ~ span,
.wBtn2 ~ span,
.wBtn3 ~ span,
.wBtn4 ~ span,
.wBtn5 ~ span {
    color: #e3e1e2;
}

.wBtn i,
.wBtn2 i,
.wBtn3 i,
.wBtn4 i,
.wBtn5 i {
    font-size: 30px !important;
}

.wBtn.active,
.wBtn2.active,
.wBtn3.active,
.wBtn4.active,
.wBtn5.active {
    background: linear-gradient(60deg, $amber-500, $amber-500) !important;
    border: 4px solid $amber-500 !important;
}

.wBtn:hover,
.wBtn2:hover,
.wBtn3:hover,
.wBtn4:hover,
.wBtn5:hover {
    background: linear-gradient(60deg, $amber-500, $amber-500);
    border: 4px solid $amber-500;
}

.wBtn:disabled:hover,
.wBtn2:disabled:hover,
.wBtn3:disabled:hover,
.wBtn4:disabled:hover,
.wBtn5:disabled:hover {
    background: linear-gradient(60deg, #fff, #fff);
    border: 4px solid #e3e1e2;
    color: #e3e1e2;
}

.rgprofile {
    margin: 0.6em 0em 0em 0em;
    font-weight: 400;
}

.wT td {
    padding: 0px 8px !important ;
}

.mat-form-field-infix {
    border-top: none;
}

.blink {
    position: absolute;
    top: 39%;
    left: 43%;
    font-size: 1.5vw !important;
    color: red;
}

.fp_captured1,
.fp_captured2,
.fp_captured3,
.fp_captured4,
.fp_captured5,
.fp_captured6,
.fp_captured7,
.fp_captured8,
.fp_captured9,
.fp_captured10 {
    position: absolute;
    font-size: 1.5vw !important;
    color: #4caf50;
    display: none;
}

.lfp_names td,
.rfp_names td,
.iris_names {
    padding: 0px 8px !important;
}

.fp_captured1 {
    top: 39%;
    left: 43%;
}
.fp_captured2 {
    top: 8%;
    left: 36%;
}
.fp_captured3 {
    top: 1%;
    left: 25%;
}
.fp_captured4 {
    top: 7%;
    left: 15%;
}
.fp_captured5 {
    top: 22%;
    left: 7%;
}
.fp_captured6 {
    top: 39%;
    left: 49%;
}
.fp_captured7 {
    top: 8%;
    left: 56%;
}
.fp_captured8 {
    top: 1%;
    left: 67%;
}
.fp_captured9 {
    top: 7%;
    left: 79%;
}
.fp_captured10 {
    top: 22%;
    left: 88%;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

body {
    color: #74777b;
}

//   .active{
//       background-color: #195cab !important;
//       border-color: #195cab !important;
//   }

textarea.mat-input-element {
    padding: 0em !important;
}

.progress {
    height: 1.2em !important;
}

.eye_capture {
    background-color: #e5e1e3;
    text-align: center;
    padding: 1em;
}

.eye_capture i {
    font-size: 11vw;
    text-align: center;
    opacity: 0.5;
    color: #fff;
}

.bartext {
    font-size: 0.8em;
}

.progress-bar-warning {
    background: linear-gradient(45deg, #efb874, #fb8d02);
}

.progress-bar-success {
    background: linear-gradient(45deg, #72e777, #46a24a);
}

.capturetext {
    text-align: center;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}

.selectdevice {
    width: 18em;
    margin: 0em 0em 0em 1.2em;
    background-color: #9c27b0;
    border: none;
    color: #fff;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    height: 2.8em;
    padding: 12px 12px;
}

.startCancelbtns {
    padding: 12px 20px !important;
}

.startCancelbtns i {
    font-size: 24px !important;
}

.closebtn {
    background-color: $brand-danger;
    color: #fff;
}

#f1,
#f2,
#f3,
#f4,
#f5,
#f6,
#f7,
#f8,
#f9,
#f10 {
    position: relative;
}

#f1 .fpCancel,
#f2 .fpCancel,
#f3 .fpCancel,
#f4 .fpCancel,
#f5 .fpCancel,
#f6 .fpCancel,
#f7 .fpCancel,
#f8 .fpCancel,
#f9 .fpCancel,
#f10 .fpCancel {
    position: absolute;
    font-size: 15px;
    top: 1px;
    right: 1px;
    color: red;
    display: none;
}

.closebtn:hover {
    cursor: pointer;
}

.mat-select-panel {
    max-height: 300px !important;
}

.summarySignIris {
    width: 950px;
    height: 200px;
}

.summaryPhoto {
    width: 200px;
    height: 200px;
}

.fpbox {
    border: 3px solid #e3e1e2;
    float: left;
    margin-left: 2%;
    margin-top: 50%;
    position: relative;
}

.fpbox img {
    width: 100%;
    height: 100%;
}

.closebtn-group {
    width: 15px;
    height: 15px;
    background-color: #195cab;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
    font-size: 0.6em;
}

.modal-body > ul > li {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0px;
}

.id_front,
.id_back {
    width: 60%;
}

.doc_front,
.doc_back {
    width: 65%;
}

.mypicbox_face {
    position: relative;
    display: inline-block;
}

.mypicbox_face img {
    max-height: 500px;
}
.mypicbox_iris,
.mypicbox_sign {
    width: 90%;
    position: relative;
    margin: auto;
    bottom: 0;
}

.mypicbox_sign {
    text-align: center;
    color: #e3e1e2;
    border: 1.5px solid #e3e1e2;
}

.capturebtns {
    text-align: right;
}

.fig {
    width: 50%;
    float: left;
    margin: 0px;
}

.figprog {
    background-color: #fff;
    margin-top: 1em;
}

/* fps1 CSS Start*/
.fps1 .progress {
    font-size: 0.6rem;
}

.fps1 td span {
    font-size: 0.7rem;
}

.capture div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #edeaec;
    position: absolute;
}

.fpHands1 .fpImg1 {
    width: 35vw;
    height: 20vw;
    background: url(../images/fp_hands.png) no-repeat 0 0;
    display: block;
    background-size: contain;
}

.table-responsive > .table-bordered {
    border: 1px solid #f3f1f1 !important;
}

// .test1 {
//     -webkit-animation: cycle1 1s 1;
// }

// @-webkit-keyframes cycle1 {
//     0% {
//         width: 0%;
//     }
//     100% {
//         width: 0%;
//     }
// }

// .test2 {
//     -webkit-animation: cycle2 1s 1;
// }

// @-webkit-keyframes cycle2 {
//     0% {
//         width: 0%;
//     }
//     100% {
//         width: 20%;
//     }
// }

// .test3 {
//     -webkit-animation: cycle3 1s 1;
// }

// @-webkit-keyframes cycle3 {
//     0% {
//         width: 20%;
//     }
//     100% {
//         width: 40%;
//     }
// }

// .test4 {
//     -webkit-animation: cycle4 1s 1;
// }

// @-webkit-keyframes cycle4 {
//     0% {
//         width: 40%;
//     }
//     100% {
//         width: 60%;
//     }
// }

// .test5 {
//     -webkit-animation: cycle5 1s 1;
// }

// @-webkit-keyframes cycle5 {
//     0% {
//         width: 60%;
//     }
//     100% {
//         width: 80%;
//     }
// }

// .test6 {
//     -webkit-animation: cycle6 1s 1;
// }

// @-webkit-keyframes cycle6 {
//     0% {
//         width: 80%;
//     }
//     100% {
//         width: 100%;
//     }
// }

/* fps1 CSS end*/

.borderless td,
.borderless th {
    border: none;
}

.cdk-overlay-connected-position-bounding-box {
    z-index: 2000;
}

.certiTable a .material-icons {
    color: #00000061;
}

.datepick {
    width: 150px;
    display: inline-block;
}

.shadowclass {
    box-shadow: 1px 0px 10px #b3b3b3;
}

.wf-check {
    margin-top: 4px !important;
}

.wf-check .check {
    border: 1px solid #fff !important;
}

.wftable {
    margin-top: 1em;
    margin-bottom: 1em;
}

#cardAuth_SubjectDN {
    width: 50px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link:hover {
    background-color: #c8c8c833;
}

.wftable .form-check + .form-check {
    margin-top: 15px !important;
}

.datepick .form-control {
    text-align: center;
}

.wf_main_card .card-body table .form-check {
    margin-top: 0px !important;
}

.wf_face_capture_table td {
    width: 20%;
}

.regFormTable td {
    width: 20%;
}

.regFormTable mat-form-field,
.certiTable mat-form-field {
    width: 80%;
}

.SigningTable td {
    width: 20%;
}

.certiTable td {
    width: 12%;
}

.example-h2 {
    margin: 10px;
}

.fp_names td {
    padding: 4px 8px !important;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
    width: 20px;
    height: 20px;
}

.arrow .caret {
    transform: rotate(180deg);
}

//media Quert start
@media only screen and (max-width: 626px) {
    .wBtn {
        width: 5em !important;
        height: 5em !important;
    }

    .mypicbox_iris,
    .mypicbox_sign {
        width: 50%;
    }
    .mypicbox_sign {
        margin-bottom: 1em;
    }

    .wBtn ~ span {
        font-size: 2vw;
    }
}

@media print {
    @page {
        margin: 0;
    }
}

//media Quert end

.select_dropdown {
    display: inline-block;
    width: 152px;
}

// Material Style Overrides
.card-header .mat-checkbox-layout .mat-checkbox-label {
    color: #ffffff !important;
}

.card-header .mat-checkbox-frame {
    border: 1px solid #ffffff !important;
}

.card-header .mat-checkbox-anim-unchecked-checked .mat-checkbox-background {
    border: 1px solid #ffffff !important;
}

.mat-checkbox-frame {
    border: 1px solid $brand-primary !important;
}

.mat-checkbox-anim-unchecked-checked .mat-checkbox-background {
    border: 1px solid $brand-primary !important;
}

.mat-checkbox-checkmark-path {
    stroke: $brand-primary !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ffffff !important;
}

.mat-radio-inner-circle {
    background-color: $brand-primary !important;
}

.mat-radio-outer-circle {
    border-color: $brand-primary !important;
}

.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: $brand-primary !important;
}

.mat-option.mat-selected:hover {
    background-color: $brand-primary !important;
}

.mat-option:hover {
    background-color: $brand-primary !important;
}

.portalUse li button {
    text-transform: none !important;
    font-size: 0.875rem !important;
}

.summaryTable td {
    vertical-align: top !important;
}

// ENROLL FACE CROPPER STYLES
img {
    max-width: 100%;
}

.img-preview {
    float: left;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

.img-preview > img {
    max-width: 100%;
}

.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.preview-lg {
    height: 9rem;
    width: 16rem;
}

.activate,
.activate:hover {
    background-color: $amber-500 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.fa.fa-user-cog,
.fa.fa-user-clock,
.fa.fa-user-circle,
.fa.fa-address-card,
.fa.fa-users {
    font-size: 18px !important;
    color: transparent;
    -webkit-text-stroke-width: 1.2px !important;
    color: transparent !important;
    -webkit-text-stroke-color: #fff;
}
.fa.fa-upload {
    font-size: 1em !important;
    color: transparent;
    -webkit-text-stroke-width: 1.2px !important;
    color: transparent !important;
    -webkit-text-stroke-color: #fff;
}

.svgIconSidebar {
    fill: #fff;
    stroke: #fff;
    float: left;
    margin-right: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
}

.actionIcons {
    fill: #ebb64d;
    stroke: #ebb64d;
    width: 24px;
}

.pageTitle {
    display: inline-block;
    position: relative;
    top: 42px;
    left: 2em;
    color: #333433;
    font-weight: bold;
}

.pageTitle:hover {
    color: #333433;
}

.navbarMatFormField .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em !important;
}

.card-avatar {
    max-width: 2.5em;
    max-height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.alertVlineFail {
    width: 10px;
    height: 100%;
    background-color: red !important;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.alertVlineSuccess {
    width: 10px;
    height: 100%;
    background-color: green !important;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.alertFail {
    width: 33%;
    position: fixed;
    right: 2%;
    top: 5%;
    z-index: 10001;
    background-color: #fff !important;
    color: red !important;
    font-weight: bold;
}

.alertSuccess {
    width: 33%;
    position: fixed;
    right: 2%;
    top: 5%;
    z-index: 10001;
    background-color: #fff !important;
    color: green !important;
    font-weight: bold;
}

.alertFail .close i {
    color: red !important;
    font-size: 0.875em !important;
}

.alertSuccess .close i {
    color: green !important;
    font-size: 0.875em !important;
}

.searchIcon {
    position: relative;
    top: 3px !important;
    display: inline-block;
    left: -2px;
}

.searchIcon:hover {
    cursor: pointer;
}

.saveCancelBtns button {
    min-width: 9em !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #00bcd4;
}

.dateRight {
    width: 15%;
    float: right;
    margin-top: 1.2em;
}

.dateLeft {
    width: 15%;
    float: right;
    margin-right: 20px;
    margin-top: 1.2em;
}

.licenseNote {
    position: relative;
    top: 1em;
}

.modal-dialog .btn {
    background-color: transparent !important;
    color: #74777b !important;
    box-shadow: none !important;
}

.modal-dialog .btn:hover {
    background-color: #00bcd4 !important;
    color: #fff !important;
}
.dispalyDots {
    display: block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
