<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">list</i> -->
                        <svg-icon  style="width: 33px;height:35px" src="../../content/images/icons/workflow_ic.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
                    
                    </div>
                    <h4 class="card-title"> {{'manageWorkflow.header' | translate}} </h4> 
                    <div class="float-right" style="margin-top: -30px;">
                        <button class="btn btn-primary" (click)="addWorkflow()">
                            <mat-icon>add</mat-icon>{{'manageWorkflow.addWorkflow' | translate}}
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngIf="showMessage">
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{message}}</span>
                        </div>
                    </div>
                    <div>
                        <table class="manage_wf_table example-full-width" mat-table [dataSource]="data" matSort matSortDisableClear matSortDirection="desc">
                
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary" mat-sort-header> {{'manageWorkflow.header-section.name' | translate}}</th>
                                <td mat-cell *matCellDef="let workflow">{{ workflow.name }}</td>
                            </ng-container>

                            <!-- Default Column -->
                            <ng-container matColumnDef="defaultWorkflow">
                                <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageWorkflow.header-section.defaultWorkflow' | translate}}</th>
                                <td mat-cell *matCellDef="let workflow">
                                    <div *ngIf="workflow.defaultWorkflow">
                                        {{ 'manageWorkflow.header-section.defaultWorkflow' | translate }}
                                    </div>
                                    <div *ngIf="!workflow.defaultWorkflow">
                                       -
                                    </div>
                                </td>
                            </ng-container>
                          
                            <!-- Device Profiles Column -->
                            <ng-container matColumnDef="deviceProfiles">
                                <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageWorkflow.header-section.deviceProfiles' | translate}}</th>
                                <td mat-cell *matCellDef="let workflow"><li *ngFor="let deviceProfile of workflow.deviceProfiles" class="list-unstyled">{{ deviceProfile.name }}</li></td>
                            </ng-container>

                            <!-- Groups Column -->
                            <ng-container matColumnDef="groups">
                                <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageWorkflow.header-section.groups' | translate}}</th>
                                <td mat-cell *matCellDef="let workflow"><li *ngFor="let group of workflow.groups" class="list-unstyled">{{ group.name }}</li></td>
                            </ng-container>

                            <!-- Allowed Devices Column -->
                            <ng-container matColumnDef="allowedDevices">
                            <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary" mat-sort-header>Allowed Devices</th>
                            <td mat-cell *matCellDef="let workflow">{{ workflow.allowedDevices }}</td>
                        </ng-container>

                        <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th scope="col" mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageWorkflow.header-section.actions' | translate}}</th>
                                <td class="td-actions" mat-cell *matCellDef="let workflow">
                                    <button mat-raised-button type="button" matTooltip="{{'edit' | translate}}" class="btn btn-success btn-link" (click)="editWorkflow(workflow.name)">
                                        <i *ngIf="workflow.canEdit" class="material-icons text-success">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="{{'clone' | translate}}" class="btn btn-success btn-link" (click)="cloneWorkflow(workflow.name)">
                                        <i class="material-icons text-success">file_copy</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="{{'delete' | translate}}" class="btn btn-danger btn-link closebtn" (click)="delWorkflow(workflow.name)" data-toggle="modal" data-target="#workflow">
                                        <i *ngIf="workflow.canDelete" class="material-icons text-danger">close</i>
                                    </button>
                                </td>
                            </ng-container>
                                    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="workflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'manageWorkflow.delWorkflow' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p style="text-align: center">{{'manageWorkflow.confirmDelete' | translate}} '{{workflowName}}' ?</p>
        </div>
        <div class="text-center">
            <button mat-raised-button type="button" class="btn modalBtnMarginLeft" data-dismiss="modal" (click)="deleteWorkflow()">{{'yes' | translate}}</button>
            <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
        </div>
    </div>
</div>
</div> 





