.manage_wf_table {
    width: 100%;
}

.manage_wf_table th {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
}

.manage_wf_table th,
.manage_wf_table td {
    width: 18% !important;
    padding-left: 0px;
}

.actionIcons .material-icons:hover {
    cursor: pointer !important;
}

.td-actions button {
    padding: 12px 0px !important;
}
