<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">directions_car</i></div>
                    <h4 class="card-title">{{'manageVehicles.title' | translate}}</h4>
                </div>
                <div class="card-body">
                    <!-- Success Message Starts -->
                    <div *ngIf="saveSuccess">
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goHome()">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{'manageVehicles.vehicleMapped' | translate}}</span>
                        </div>
                    </div>
                    <!-- Success Message Ends -->

                    <!-- Error Message Starts-->
                    <div *ngIf="saveFailure">
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{'manageVehicles.vehicleNotMapped' | translate}}</span>
                        </div>
                    </div>
                    <!-- Error Message Ends-->
                        <form [formGroup]="manageVehiclesForm">
                            <div class="row">
                                <div class="col-md-12">  
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'manageVehicles.user' | translate}}</label>
                                        </div>
                                        
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <mat-select formControlName="userId">
                                                    <mat-option *ngFor="let userIdName of userIdNamePairs" [value]="userIdName.userId">
                                                        {{ userIdName.userName }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="manageVehiclesForm.controls['userId'].hasError('required')">
                                                        {{'manageVehicles.userIsRequired' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label> {{'manageVehicles.vin' | translate}}</label>
                                        </div>
                                       
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput type="text" formControlName="vin">
                                                <mat-error *ngIf="manageVehiclesForm.controls['vin'].hasError('required')">
                                                        {{'manageVehicles.vinIsRequired' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="float-right saveCancelBtns">
                            <button  class="btn btn-primary"  style="background-color: white;color:black;"  (click)="goHome()">{{'cancel' | translate}}</button>
                        	<button  class="btn btn-primary" (click)="assignVehicleToUser()">{{'save' | translate}}</button>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>