<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
                
    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
            <h4 class="card-title" style="float:left;">{{'monitor.reports.compliance_report_names.issued_devices.headers.name' | translate }}</h4>
            
                            <mat-icon class="dateRight mat-icon notranslate material-icons mat-icon-no-color" style=" cursor:pointer;color:#00bcd4;" aria-hidden="true" role="img">open_in_new</mat-icon>
          
                          <mat-form-field class="dateRight" style="padding-right:20px">
                                <input matInput [matDatepicker]="picker" placeholder="Choose an end date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <span>&nbsp;</span>
                              <mat-form-field class="dateLeft" style="padding-right:20px">
                                <input matInput [matDatepicker]="picker1" placeholder="Choose a start date">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                              <span>&nbsp;</span>
                            <!-- <mat-icon aria-hidden="false" aria-label="Example launch icon">launch</mat-icon> -->
                            <!-- <span style="display: inline-block; color:red;">
                                    Export <i class="material-icons-outlined">launch</i>
                            </span> -->
                            
           
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{'monitor.reports.compliance_report_names.issued_devices.headers.issuancDevicesReport.timestamp' | translate }}</th>
                            <th scope="col">{{'monitor.reports.compliance_report_names.issued_devices.headers.issuancDevicesReport.device_type' | translate }}</th>
                            <th scope="col">{{'monitor.reports.compliance_report_names.issued_devices.headers.issuancDevicesReport.unique_identifier' | translate }}</th>
                            <th scope="col">{{'monitor.reports.compliance_report_names.issued_devices.headers.issuancDevicesReport.userIssued(Username)' | translate }}</th>
                            <th scope="col">{{'monitor.reports.compliance_report_names.issued_devices.headers.issuancDevicesReport.userIssued(Full Name)' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody class="ng-star-inserted">
                    <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
						</tr>
					</tbody>
                </table>
            </div>
        
        <div class="float-right saveCancelBtns"  style="float: right">
            <button mat-raised-button class="btn btn-primary" type="submit" (click)="onClick('/reports')">{{'back' | translate}}</button>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
<br/>
