<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">people_outline</i></div>
          <h4 class="card-title float-left">{{'home.subscriptions.headers.subscriptionsPeople' | translate }}</h4>
          <div class="stats float-right licenseNote"><a href="#pablo">{{'home.subscriptions.subscriptionsIot.licenseUsageDetails' | translate }}</a></div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <mat-progress-spinner class="example-margin" [color]="color" [diameter]="diameter" [mode]="mode"
                      [value]="value">
                    </mat-progress-spinner>
                  </td>
                  <td>
                    {{'home.subscriptions.subscriptionsIot.assignedPurchased' | translate }}</br><b>--/--</b> <br />
                    {{'home.subscriptions.subscriptionsIot.remaining' | translate }}</br><b>--</b> <br />
                    {{'home.subscriptions.subscriptionsIot.nextExpiration' | translate }}</br><b>--</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">devices_other</i></div>
            <h4 class="card-title float-left">{{'home.subscriptions.headers.subscriptionsIot' | translate}}</h4>
            <div class="stats float-right licenseNote"><a href="#pablo">{{'home.subscriptions.subscriptionsIot.licenseUsageDetails' | translate }}</a></div>
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <mat-progress-spinner class="example-margin" [color]="color" [diameter]="diameter" [mode]="mode" [value]="value">
                    </mat-progress-spinner> 
                  </td>
                  <td>
                    {{'home.subscriptions.subscriptionsIot.assignedPurchased' | translate }}</br><b>--/--</b> <br />
                    {{'home.subscriptions.subscriptionsIot.remaining' | translate }}</br><b>--</b> <br />
                    {{'home.subscriptions.subscriptionsIot.nextExpiration' | translate }}</br><b>--</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
