<footer class="copyright pull-right">
    <div class="col-md-12"  *ngIf="organizationBrandingInfo !== null">
      <div class="row" *ngIf="!organizationBrandingInfo.hideServiceName">
          <div class="col-md-6" >
              <p style="margin-left: 6em">{{'poweredBy' | translate: {domainName: poweredBy} }}</p>
          </div>
        
          <div class="col-md-6">
            <p class="text-right" style="margin-right: 6em">{{'login.footer.appVersion' | translate}}{{version}}</p>
          </div>
      </div>
      <div class="row" *ngIf="organizationBrandingInfo.hideServiceName">
          <div class="col-md-6">
            <p>{{'login.footer.appVersion' | translate}}{{version}}</p>
          </div>
          <div class="col-md-6">
            <p style="text-align-last: right;">{{'poweredBy' | translate: {domainName: poweredBy} }}</p>
          </div>
    </div>
    </div>
    
  </footer>