footer {
    position: fixed;
    bottom: 0px;
    background-color: #eeeeee;
    width: calc(100% - 260px);
    right: 0px;
    padding: 0px !important;
    z-index: 1000;
    height: 35px !important;
    line-height: 35px;
}

footer img {
    width: 2em;
}
@media only screen and (max-width: 990px) {
    footer {
        width: calc(100% - 0px);
    }
}
