.reg_form_table mat-header-cell {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
}

.reg_form_table mat-form-field {
    width: 75%;
}

.reg_form_table .material-icons:hover {
    cursor: pointer;
}

.ContentSigningTable mat-radio-button {
    margin-right: 2em;
}

.ContentSigningTable td {
    width: 33.33%;
}

.numpicker {
    width: 80px;
    text-align: center;
    display: inline-block !important;
}

.numpicker input {
    font-size: 18px;
}

.numberPicker_btn {
    padding: 12px 0px !important;
}

.numberPicker_btn i {
    font-size: 24px;
    color: black;
}

.expirationLabel {
    text-align: center;
    display: inline-block;
    width: 44%;
    width: 100%;
    position: relative;
    top: 14px;
}

.generalErrorPositionTop {
    top: 38px;
    font-size: 75%;
}

.positionTop {
    top: 38px;
    font-size: 75%;
    width: 100%;
}

.wfGeneralTable td:first-child {
    width: 25%;
}

.enrollmentTable td {
    width: 25%;
}

.enrollmentTable mat-form-field {
    width: 80%;
}

.mat-select-panel {
    overflow: auto !important;
    max-height: 300px !important;
}

.dropdown-menu {
    left: -22% !important;
}

.subAN {
    width: 24em;
    padding: 20px 15px;
    left: -72% !important;
}

.subAN mat-form-field {
    width: 100% !important;
}

.subAN label {
    margin-top: 0.5rem !important;
}

.subDN i:hover,
.subAN:hover {
    cursor: pointer;
}

.subDN {
    padding: 1em;
}

.subAN tr {
    background-color: #fff !important;
}

.subAN td {
    padding: 0px 0.75rem !important;
    vertical-align: middle !important;
}

.subDN textarea,
.subAN table {
    margin: auto;
    border: 1px solid grey;
}

.wfFailMessage {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

.wfSuccessMessage {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.wfCheckboxAlign {
    display: inline-block;
    margin-left: 10px;
}

.faceFieldsAlign {
    display: inline-block;
    margin-left: 10px;
    width: 150px;
}

.fpFieldsAlign {
    display: inline-block;
    margin-left: 10px;
}

.irisFieldsAlign {
    display: inline-block;
    margin-left: 10px;
}

.visualFieldsAlign {
    display: inline-block;
    margin-left: 10px;
    max-width: 300px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 100000;
    cursor: pointer;
}

.mat-checkbox-layout .mat-checkbox-label {
    color: #ffffff;
}

:host ::ng-deep .subAN .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

.dispalyDots {
    display: block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.shadowclass .card-header h4 {
    position: relative;
    top: 6px;
}

.cardPaddingBottom {
    padding-bottom: 1.5em;
}

.generalTopMargin {
    margin-top: 1em;
}

.organizationVal {
    position: relative;
    top: 14px;
}

.wd60 {
    width: 60%;
}

.mR20 {
    margin-right: 20px;
}

.addEnrollBtn {
    text-transform: capitalize !important;
}

.groupWiseErrors span {
    display: inline-block;
}

.actionBtnPadding {
    padding: 12px 0px !important;
}
.mariginLeft {
    margin-left: 1em;
}
.matFormFieldWidth {
    width: 150%;
}