.full-width {
    width: 100%;
}

.mat-form-field {
    margin-bottom: 15px;
}

.summaryInfoLabel {
    font-size: 0.875rem;
}

.summaryInfoValue {
    font-size: 0.875rem;
    font-weight: 400;
}

.ng-invalid:not(form) {
    border-left: 5px solid #ffff;
}

.card {
    height: auto;
}

.fp_table,
.iris_table {
    font-size: 0.75em;
    margin-top: 1em;
    color: #686868;
}

.fpClearBtn {
    color: red;
    font-size: 35px;
}

.capturedFace {
    margin-bottom: 10px;
    width: 125px;
}

.mypicbox_iris figcaption,
.mypicbox_iris img {
    margin-bottom: 10px;
}

.mypicbox_sign {
    margin-bottom: 10px;
}

.mypicbox_sign img {
    max-width: 100%;
    height: 70px;
}

.signPad {
    border: 1.5px solid #e3e1e2;
    width: 100%;
    margin-bottom: 10px;
    height: 94px;
}

.summaryFpImages {
    color: red;
    font-size: 75px;
}

.modalBtnMarginLeft {
    margin-left: 6px !important;
}

.capture_preview {
    width: 125px;
    height: 125px;
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

#f1,
#f2,
#f3,
#f4,
#f5,
#f6,
#f7,
#f8,
#f9,
#f10,
.summaryFps td {
    width: 20%;
}

.summaryVidFront {
    width: 350px;
    height: 175px;
}

.summaryVidBack {
    width: 350px;
    height: 175px;
}

.summarySignIris img {
    height: 94px;
    margin-top: 14%;
}

.idDocumentFront,
.idDocumentBack {
    width: 100%;
    min-height: 200px;
}

mat-form-field {
    width: 85%;
    display: block;
}

.evenFields,
.oddFields {
    display: block;
    width: 100%;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #a99d9d;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.img-roll {
    width: 7%;
    padding: 0rem;
    background-color: transparent;
    border: 0px;
    border-radius: 0rem;
}

.footerNoteRow {
    margin-left: -20px !important;
    margin-right: -20px !important;
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 1px;
}
.rect2 {
    width: 100px;
    height: 100px;
    border: 1px solid #00bcd4;
    position: absolute;
    top: 20px;
    left: 43px;
    border-radius: 10px;
}
.rectangle {
    width: 200px;
    height: 100px;
    border: 1px solid #00bcd4;
    position: absolute;
    top: 20px;
    left: 43px;
    border-radius: 10px;
}

@-webkit-keyframes rectBlinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.rectangle {
    text-decoration: blink;
    -webkit-animation-name: rectBlinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.redDot {
    position: absolute;
    top: 2%;
    left: 4%;
    font-size: 1.5vw !important;
    color: red;
}

@-webkit-keyframes redDotBlinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.redDot {
    text-decoration: blink;
    -webkit-animation-name: redDotBlinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.livePreviewPlaceHolder {
    width: 100%;
    height: 312px;
    background-color: #e5e1e3;
}

.userTBE {
    font-weight: bold;
}

.togglebutton {
    position: relative;
    top: 14px;
}

table mat-header-cell {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
}

.openImage {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.openImage img {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardIcon {
    cursor: pointer;
    width: 35%;
}

.openImage .material-icons {
    position: absolute;
    left: 70%;
    top: 2%;
    color: #000;
}

.openImage .material-icons:hover {
    cursor: pointer;
}

.zoomAnimation {
    animation: mymove 2s 1;
}

@-webkit-keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 50%;
    }
}

/* Standard syntax */
@keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 50%;
    }
}

.showingBtn {
    animation: showBtn 5s 1;
}

@-webkit-keyframes showBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes showBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closebtn-group {
    width: 20px;
    height: 20px;
    background-color: #00bcd4;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
.closebtn-group-iris {
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 40px;
    right: 5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
.paddingBtn {
    padding: 12px 0px !important;
}

.togglebutton {
    position: relative;
    top: 14px;
}
.dispalyDots1 {
    display: block;
    // width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.textMargin {
    // margin-left: 140px;
    padding: 0px 0px 20px 130px !important;
}
