.example-container {
    overflow: auto;
}

table {
    width: 100%;
}

// .mat-header-cell {
//   border-bottom-width: 1px;
//   font-size: 1.0625rem;
//   font-weight: 200;
//   color: #333433;
// }

.mat-column-index {
    max-width: 64px;
    padding: 7px;
}

.mat-row,
.mat-header-row {
    min-width: 1900px;
}

.mat-header-row {
    position: sticky;
    top: 0;
    background-color: inherit;
}
mat-footer-row mat-footer-cell {
    justify-content: center;
}
.hide {
    display: none;
}
