<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon"><i class="far fa-address-card" style="font-size:24px;"></i></div>
                        <h4 class="card-title">List of Organizations</h4> 
                        <div class="float-right">
                            <button class="btn btn-primary" (click)="createOrganization()">
                                <mat-icon>add</mat-icon>Add Organization
                            </button>
                        </div>
                    </div>
                   
                    <div class="card-body">
                            <div>
                                <table class="example-full-width" mat-table [dataSource]="dataSource">

                                        <!--- Note that these columns can be defined in any order.
                                              The actual rendered columns are set as a property on the row definition" -->
                                      
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="orgName">
                                          <th mat-header-cell class="text-primary" *matHeaderCellDef> Organization Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element.orgName}} </td>
                                        </ng-container>
                                      
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="category">
                                          <th mat-header-cell class="text-primary" *matHeaderCellDef> Category </th>
                                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell class="text-primary" *matHeaderCellDef> Actions </th> 
                                            <td class="td-actions" mat-cell *matCellDef="let element">
                                                <button mat-raised-button type="button" matTooltip="Edit" class="btn btn-success btn-link">
                                                    <i class="material-icons text-success">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Delete" class="btn btn-danger btn-link">
                                                    <i class="material-icons text-danger">close</i>
                                                </button>
                                            </td>
                                        </ng-container>
                                      
                                        <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                      </table>
                                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>