<div *ngIf="!isAuthenticated()" >
    <jhi-login></jhi-login>
</div>

<div *ngIf="isAuthenticated()" class="wrapper">
    <div style="display:none;" [innerHTML]="refreshTokenNow | iframesafe: 'html'"></div>
    <div class="sidebar" data-color="#fff" data-background-color="black" style="box-shadow: none!important">
        <jhi-sidebar></jhi-sidebar>
    </div>
    <div class="main-panel">
        <jhi-navbar></jhi-navbar></br></br></br>
        <!-- <a class="navbar-brand pageTitle" href="{{getPath()}}"> {{getTitle()}}</a> -->
        <router-outlet></router-outlet>
        <br/> <br/>
       <jhi-footer></jhi-footer>
    </div>
</div>