 <div class="main-content">
    <div class="container-fluid">
        <jhi-reports></jhi-reports>
    </div>
</div> 

<!-- <div class="main-content">
        <div class="container-fluid">
            <div class="card" >
                <div class="card-header card-header-primary card-header-icon">
                        <br />
                        <div>                            
                            <button style="float: right;"  class="btn btn-primary" (click)="goToMobile()" >
                                
                                <mat-icon>add</mat-icon>{{'manageIdentiyDevices.addIdentityDevices' | translate}}
                            </button>
                        </div>
                       
                </div>
                
                <div  class="card alert alert-danger marginTop20">
                    <div class="card-body">{{message}}
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=false">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                   
                        <div class="row">                 
                            
                        </div>
                        <div style="float: right; ">
                            <button mat-raised-button class="btn btn-primary" (click)="isMobileSelected=false"><i class="material-icons">keyboard_arrow_left</i>Back</button>
                        </div>  
                    </div>             
                </div>
            </div>
        </div>
    </div>
        
        <ng-template #elseBlock>
            <div class="card">
              <div class="card-body">
                <div class="card text-black alert alert-success">
                  <div class="card-body">{{message}}</div>
                </div>
              </div>
              <div class="card-footer">
                <button (click)="refresh()" mat-raised-button>{{'done' | translate}}</button>
              </div>
            </div>
          </ng-template>
        
        <div class="modal fade" id="addIdentityDevice">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="top:255px;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Heading</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button mat-raised-button class="btn btn-primary" style="display: block; width: 100%; margin-bottom: 1em" (click)="goToMobile()"><i class="material-icons">phone_android</i> Mobile</button>
                        <button mat-raised-button class="btn btn-primary" style="display: block; width: 100%; margin-bottom: 1em" (click)="goToCard()"><i class="material-icons">search</i> Smart Card</button>
                        <button mat-raised-button class="btn btn-primary" style="display: block; width: 100%; margin-bottom: 1em" (click)="goToToken()"><i class="material-icons">search</i> Token</button>
                    </div>
                </div>
            </div>
        </div>
         -->
        
        
        
        
                    