<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon"><i class="far fa-address-card" style="font-size:24px;"></i></div>
                        <h4 class="card-title">Create Organization</h4> 
                    </div>
                   
                    <div class="card-body">
                    <!--  Success Message Starts-->
                    <div *ngIf="successMsg">
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>Organization is successfully submitted.</span>
                        </div>
                        <div class="float-right">
                            <button mat-raised-button class="btn btn-primary" (click)="goHome()">Home</button>
                        </div>
                    </div>
                    <!--  Success Message ends -->
                    
                    <!--  Error Message Starts-->
                    <div *ngIf="failureMsg">
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>Please enter valid data to proceed.</span>
                        </div>
                    </div>
                    <!--  Error Message ends -->
                    <div *ngIf="!successMsg">
                        <h5>Displayed mandatory fields for a selected device type cannot be removed. Add more fields to the list from the Optional Fields drop-down for each device type. You can add new fields for the organization clicking on <strong>Add Field</strong> button.</h5>
                        <form [formGroup]="organizationForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-form-label">
                                        <label>Organization Name</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p class="orgName">{{OrganizationName}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-form-label">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field>
                                            <mat-select name="category" formControlName="category">
                                                <mat-option *ngFor="let category of categories" [value]="category.value">
                                                    {{category.viewValue}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.category.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                        
                                <div class="row" *ngIf="organizationForm.get('category').value !== ''">
                                    <div class="col-md-2 col-form-label">
                                        <label>Device Type</label>
                                    </div>
                        
                                    <div class="col-md-5">
                                        <!-- governmentDeviceTypes -->
                                        <mat-form-field *ngIf="organizationForm.get('category').value == 'government'">
                                            <mat-select name="government" formControlName="government">
                                                <mat-option *ngFor="let governmentDeviceType of governmentDeviceTypes"
                                                    [value]="governmentDeviceType.value">
                                                    {{governmentDeviceType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.government.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                        
                                        <!-- federalDeviceTypes -->
                                        <mat-form-field *ngIf="organizationForm.get('category').value == 'federal'">
                                            <mat-select name="federal" formControlName="federal">
                                                <mat-option *ngFor="let federalDeviceType of federalDeviceTypes"
                                                    [value]="federalDeviceType.value">
                                                    {{federalDeviceType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.federal.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                        
                                        <!-- enterpriseDeviceTypes -->
                                        <mat-form-field *ngIf="organizationForm.get('category').value == 'enterprise'">
                                            <mat-select name="enterprise" formControlName="enterprise">
                                                <mat-option *ngFor="let enterpriseDeviceType of enterpriseDeviceTypes"
                                                    [value]="enterpriseDeviceType.value">
                                                    {{enterpriseDeviceType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.enterprise.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                        
                                        <!-- healthDeviceTypes -->
                                        <mat-form-field *ngIf="organizationForm.get('category').value == 'health'">
                                            <mat-select name="health" formControlName="health">
                                                <mat-option *ngFor="let healthDeviceType of healthDeviceTypes" [value]="healthDeviceType.value">
                                                    {{healthDeviceType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.health.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                        
                                        <!-- educationDeviceTypes -->
                                        <mat-form-field *ngIf="organizationForm.get('category').value == 'education'">
                                            <mat-select name="education" formControlName="education">
                                                <mat-option *ngFor="let educationDeviceType of educationDeviceTypes"
                                                    [value]="educationDeviceType.value">
                                                    {{educationDeviceType.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <div *ngIf="organizationForm.controls.education.hasError('required')">
                                                    Category is required.
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="(organizationForm.get('category').value !== '') && (organizationForm.get('government').value !== '' || organizationForm.get('federal').value !== '' || organizationForm.get('enterprise').value !== '' || organizationForm.get('health').value !== '' || organizationForm.get('education').value !== '')">
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>Optional Fields</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <mat-select multiple formControlName="groupId">
                                                    <mat-option *ngFor="let orgFieldOptional of orgFieldsOptional; let index = index"
                                                        (click)="onAddToOrgFields(index)">
                                                        {{orgFieldOptional.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <!-- <ul class="list-group"> 
                                            <li class="list-group-item" >
                                                <a href="" onclick="return false" class="list-group-item-action" 
                                                *ngFor="let orgFieldOptional of orgFieldsOptional; let index = index"
                                                (click)="onAddToOrgFields(index)">
                                                 {{orgFieldOptional.name}}
                                                </a>
                                            </li>
                                        </ul> -->
                                     </div> <br/>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="text-primary">Organization Fields</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="text-primary">Values</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="text-primary">Required</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="text-primary">Action</h5>
                                        </div>
                                    </div>
                        
                                    <div class="row" *ngFor="let orgField of orgFields; let i = index">
                                        <div class="col-md-2 col-form-label">
                                            <label for="">{{orgField.name}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field name="elements">
                                                <input matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-checkbox name="required" class="example-margin" [checked]="orgField.isChecked" [disabled]="orgField.isDisabled"></mat-checkbox>
                                        </div>

                                        <div class="col-md-2">
                                            <button mat-raised-button type="button" matTooltip="Delete" class="btn btn-danger btn-link btnPadding" (click)="onOptionDelete(i)" [disabled]="!orgField.canDelete">
                                                <i class="material-icons text-danger">close</i>
                                            </button>
                                        </div>

                                    </div>
                        
                                    <!-- <div class="row">
                                        <div class="col-md-2 col-form-label"></div>
                                        <div class="col-md-5">
                                            <button mat-raised-button class="btn btn-info" (click)="onAddField()">
                                                <mat-icon class="mat-icon material-icons">add</mat-icon>Add Field
                                            </button>
                                        </div>
                                        <div class="col-md-5"></div>
                                    </div> -->
                                </div>
                            </div> <br />
                            <div class="float-right saveCancelBtns">
                                <button mat-raised-button class="btn btn-primary" (click)="saveOrg()">{{'save' | translate}}</button>
                                <button mat-raised-button class="btn btn-primary">{{'cancel' | translate}}</button>
                            </div>
                        </form>
                    </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>