.orgTable th{
 width: 33.33%;
 border-bottom-width: 1px;
 font-size : 1.0625rem;
 font-weight : 300;
}

.orgName {
    position: relative;
    top: 14px;
}

.btnPadding{
    padding: 12px 0px !important;
}
