<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="far fa-address-card" style="font-size:24px;"></i> -->
                        <svg-icon  style="width: 33px;height:35px" src="../../content/images/icons/visual_ic_edited.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
                    </div>
                    <h4 class="card-title">{{'manageVisualDesign.title' | translate}}</h4>
                    <div class="float-right" style="margin-top: -30px;">
                            <button mat-raised-button class="btn btn-primary" (click)="addVisualDesign()">
                                <mat-icon>add</mat-icon>{{'manageVisualDesign.addVisualDesign' | translate}}
                            </button>
                        </div>
                </div>
                <div class="card-body">
                   
                     <!-- Success Message Starts -->
                     <div *ngIf="succesMsg">
                            <div class="alert alert-success">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{message}}</span>
                            </div>
                        </div>

                        <div *ngIf="delFailure">
                            <div class="alert alert-danger">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{message}}</span>
                            </div>
                        </div>
                        <!-- Success Message Ends -->
                        <table mat-table [dataSource]="data" matSort matSortDisableClear matSortDirection="desc">
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'manageVisualDesign.header-section.name' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let visualDesign"> {{visualDesign.name}} </mat-cell>
                            </ng-container>
                        
                             <!-- Device Type Column -->
                            <ng-container matColumnDef="deviceType">
                                <mat-header-cell *matHeaderCellDef>{{'manageVisualDesign.header-section.deviceType' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let visualDesign">
                                    <ul class="list-unstyled">
                                        <li *ngFor="let deviceType of visualDesign.deviceTypes">{{ deviceType.name }}</li>
                                    </ul>
                                </mat-cell>
                            </ng-container>

                            <!-- Visual Design Type Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'manageVisualDesign.header-section.type' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let visualDesign"> {{visualDesign.organizationIdentity.identityTypeName}} </mat-cell>
                            </ng-container>
                        
                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="width:30%">{{'manageVisualDesign.header-section.actions' | translate}}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let visualDesign">
                        
                                    <button mat-raised-button type="button" matTooltip="{{'edit' | translate}}" class="btn btn-success btn-link paddingBtn"
                                        (click)="editVisualDesign(visualDesign.name)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <!-- *ngIf="workflow.canEdit" *ngIf="workflow.canDelete"  -->
                                    <button mat-raised-button type="button" matTooltip="{{'delete' | translate}}"
                                        class="btn btn-danger btn-link paddingBtn closebtn" (click)="deleteVisualDesign(visualDesign.name)"
                                        data-toggle="modal" data-target="#visualDesign">
                                        <i class="material-icons">close</i>
                                    </button>
                                </mat-cell>
                            </ng-container>
                           
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                          
                        </table>
                        <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="visualDesign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'manageVisualDesign.deleteVisualDesign' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{'manageVisualDesign.confirmDelete' | translate}}</p>
        </div>
        <div class="text-center">
            <button mat-raised-button type="button" style="background-color: white;color:black;" class="btn" data-dismiss="modal">{{'no' | translate }}</button>
        	<button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="deleteVD()" data-dismiss="modal">{{'yes' | translate }}</button>
        </div>
    </div>
</div>
</div> 