<h2 mat-dialog-title>Webauthn FIDO2 Registration</h2>
<h2 mat-dialog-title>Scan below QRCode to register your mobile device to be used as an authenticator. Alternately, a notification is sent to your registered email for registration.</h2>
<mat-dialog-content class="mat-typography" style="text-align: center;">
  <img src="data:image/png;base64,{{configQrcode}}" alt="QR Code" title="QR Code" class="float-centre">
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
</mat-dialog-actions>