 <!-- Pair mobile device new UI starts -->
 <div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">phone_android</i></div>
                    <h4 class="card-title">{{'pairMobileDevice.heading' | translate: {appName: walletApp} }}</h4>
                </div>
                <div *ngIf="!userEnrolled && isSelfService && onboardSelfService === 'false'" style="text-align: center">
                                <br>
                                <div *ngIf="isEnrollmentEnabled" style="text-align: center">
                                    <h4  style="text-align: center">{{'issuance.usernotenrolled_1' | translate}} <a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.usernotenrolled_2' | translate}}</a> {{'issuance.usernotenrolled_3' | translate}}</h4>
                                </div>
                                <h4 *ngIf="!isEnrollmentEnabled" style="text-align: center">
                                    {{'issuance.notenrolledMsgForUser' | translate}}
                                </h4>
                                <br>
                </div>
                <div *ngIf="!(!userEnrolled && isSelfService && onboardSelfService === 'false')" class="card-body">
                     <!-- Error Message Starts-->
                        <div *ngIf="isPendingApproval">
                            <br>
                            <h4  style="text-align: center">{{'pairMobileDevice.enrollmentHasNotBeenApproved' | translate}}</h4>
                            <br>
                        </div>
                   
                   
                        <div  style="margin-bottom: 1.5em;" class="row" *ngIf="!isPendingApproval">
                            <div *ngIf="!isSelfService" class="col-md-4">
                                <span  (mouseover)="check('fn', 'userFirstAndLastName')" id="userFirstAndLastName" class="dispalyDots1"
                                    [matTooltip]="showToolTip ? userFirstAndLastName: null">{{'pairMobileDevice.forUser' | translate}} <strong
                                        style="font-weight: bold;">{{userFirstAndLastName}}</strong></span>
                            </div>
                            <div class="col-md-3">
                                <span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
                                    [matTooltip]="showToolTip ? groupName: null">{{'searchUser.searchUserResult.group' | translate}}: <strong
                                        style="font-weight: bold;">{{groupName}}</strong></span>
                            </div>
                            <div class="col-md-3">
                                <span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
                                    [matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}}:
                                    <strong style="font-weight: bold;">{{identityType}}</strong></span>
                            </div>
                        </div>

                        <!-- Error Message Ends-->
                        <!-- <div class="row text-center">
                            <div class="col-md-12">
                                <div class="logoIcon text-center img-responsive">
                                    <img src="../../content/images/logo-jhipster.png" alt="Icon">
                                </div>
                                <h4 *ngIf="showDisableQrCode">{{'pairMobileDevice.heading' | translate}}</h4>
                            </div>
                        </div> -->
                    <div *ngIf="issuanceAllowed; else elseBlock">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>{{'pairMobileDevice.decription' | translate: {appName: walletApp} }} </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="descripAndSteps">
                                    <div>
                                        <h5 *ngIf="onboardSelfService === 'true'">{{'pairMobileDevice.description_me' |
                                            translate: {appName: walletApp} }}</h5>
                                        <h5>{{'pairMobileDevice.step1' | translate: {appName: walletApp} }} <a
                                                href="{{pairMobileDeviceConfig.googlePlayStoreAppUrl}}">Android</a>
                                            {{'or' | translate}} <a
                                                href="{{pairMobileDeviceConfig.appleAppStoreAppUrl}}">IOS</a> {{'pairMobileDevice.step1-1' | translate}}.</h5>
                                        <h5 class="font-weight-bolder">{{'pairMobileDevice.step2' | translate}}</h5>
                                        <div class="col-md-4 text-center">
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 text-center">
                                            <h5 class="expiryTime"><span style="font-weight:100;">{{'pairMobileDevice.qrCodeExpiring' |
                                                    translate}}</span> <span style="font-weight: 100;">{{countDown | async |
                                                    formatTime}}</span></h5>
                                            <div class="img-responsive qrCode" *ngIf='!expiryQrcode'>
                                                <img src="data:image/png;base64,{{pairMobileDeviceConfig.qrCode}}"
                                                    alt="QR Code" title="QR Code" class="float-centre"
                                                    style="width:35%">
                                                <!--
                                                    <h5 class="invisible">{{'pairMobileDevice.successMessage' | translate}}
                                                </h5>
                                            -->
                                            </div>
                                            <div *ngIf='expiryQrcode' class="position-relative">
                                                <div class="refreshQrCode">
                                                    <div>
                                                        <i class="material-icons text-white refresh"
                                                            (click)="refreshQrCode()">refresh</i>
                                                        <p class="text-white">{{'pairMobileDevice.refresh' | translate}}
                                                            <br> {{'pairMobileDevice.qrCode' | translate}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="img-responsive expiredQrCode">
                                                    <img src="data:image/png;base64,{{pairMobileDeviceConfig.qrCode}}"
                                                        alt="QR Code" title="QR Code" class="float-centre"
                                                        style="width:35%">
                                                </div>
                                                <!--
                                                <h5 class="invisible">{{'pairMobileDevice.successMessage' | translate}}
                                                </h5>
                                            -->
                                            </div>
                                            <div *ngIf='false'>
                                                <div class="successQrCode">
                                                    <i class="material-icons text-white refresh">done</i>
                                                </div>
                                                <h5>{{'pairMobileDevice.successMessage' | translate}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="row footerVideo" *ngIf='pairMobileDeviceConfig.enableDemoVideo === true'>
                                        <br>
                                        <video width="210%" height="180px" controls>
                                            <source src="movie.mp4" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                    <!-- <div>
                                        <iframe   width="150%" height="230px"class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                                      </div> -->
                                </div>
                                <!-- <button mat-raised-button class="btn btn-link btn-info" (click)="refreshQrCode()">
                                        <i class="material-icons text-info refresh" style="font-size:2em;">refresh</i> <span style="text-transform:none">{{'pairMobileDevice.refresh'
                                            | translate}}</span>
                                    </button> -->
                            </div>
                        </div>
                        <br>
                    <div class="col-md-10 footerNoteRow">
                            <h5 class="font-weight-bolder">{{'pairMobileDevice.footer.step1' | translate: {appName: walletApp} }}</h5>
                            <h5>URL: {{pairMobileDeviceConfig.pairMobileDeviceUrl}}/{{organizationName}}</h5>
                            <h5>{{'pairMobileDevice.footer.secretKey' | translate}}:
                                {{pairMobileDeviceConfig.secretKey}}</h5>
                    </div>
                    </div>
                    <div *ngIf=isSelfService><br></div>
                    <div *ngIf="isSelfService && issuanceAllowed && isFIDO2MobileRegistrationEnabled">
                        <button mat-button (click)="openDialog()">{{'pairMobileDevice.webauthn-fido2' | translate}}</button>
                    </div>
                    <div *ngIf=isSelfService><br></div>
                    <div *ngIf=!isSelfService class="float-right">
                        <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()">{{'back' | translate}}</button>
                </div>
                </div>
                
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <h4 style="text-align: center">{{message}}</h4>
        </br>
    </ng-template>
</div>
<!-- Pair mobile device new UI ends -->

<!-- Pair mobile device old UI starts -->
<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">phone_android</i></div>
                    <h4 class="card-title">{{'pairMobileDevice.title' | translate}}</h4>
                </div>
                <div class="card-body">
                     Error Message Starts
                    <div *ngIf='errorMsg'>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{errorMsg}}</span>
                        </div>
                    </div>
                     Error Message Ends
                    <h5 class="text-primary">{{'pairMobileDevice.subTitle' | translate}}</h5>
                    <p class="text-primary">
                        {{'pairMobileDevice.description' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                    
                        </div>
                    
                        <div class="col-md-4 text-center">
                            <button mat-raised-button class="btn btn-link btn-info" (click)="refreshQrCode()">
                                <i class="material-icons text-info refresh" style="font-size:2em;">refresh</i> <span style="text-transform:none">{{'pairMobileDevice.refresh'
                                    | translate}}</span>
                            </button>
                            <div class="img-responsive" *ngIf='!errorMsg'>
                                <img src="data:image/png;base64,{{ base64QRCodeData }}" alt="QR Code" title="QR Code" style="width: 264px;">
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Pair mobile device old UI ends -->