<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="card">
                <div class="card-header card-header-primary card-header-text">
                    <div class="card-icon">
                        <svg-icon style="width: 33px;height:35px"
                            src="../../content/images/icons/factory_reset.svg"
                            [svgStyle]="{'fill':'rgb(255, 255, 255)','padding-left.px': 5,'width.px':35}"></svg-icon>
                    </div>
                    <h4 class="card-title">{{'factoryReset.title' | translate}}</h4>
                </div>
                <div class="card-body">
                    <div *ngIf="display">
                        <!-- Error Message Starts -->
                        <div *ngIf="errorDisplay">
                            <div class="alert alert-danger">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{errorMsg}}</span>
                            </div>
                        </div>
                        <!-- Error Message Ends -->
                        
                        <form [formGroup]="factoryResetForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <label for="perso" class="col-md-2 col-2 col-form-label">{{'issuance.connected' |
                                        translate}}
                                        {{'issuance.cardReader' | translate}}</label>
                                    <div class="col-md-5 col-5">
                                        <mat-form-field>
                                            <mat-select formControlName="identityDevice">
                                                <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                                                    {{cardReader.cardReaderName}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="factoryResetForm.controls['identityDevice'].hasError('required')">
                                                {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5" style="margin-bottom: 1.5em;">
                                        <label>{{'issuance.authenticatorDevice' | translate}} : </label> <span
                                            style="font-weight: bold">{{selectedCardName}}</span>
                                    </div>
                                </div>
                                <!-- showDeviceProfile &&  *ngIf="deviceProfiles.length != 1 && deviceProfiles.length != 0" -->
                                <div class="row">
                                    <label for="perso" class="col-md-2 col-2 col-form-label">{{'idreader.deviceProfile'
                                        | translate}}</label>
                                    <div class="col-md-5 col-5">
                                        <mat-form-field>
                                            <mat-select formControlName="deviceProfile">
                                                <mat-option *ngFor="let deviceProfile of deviceProfiles"
                                                    [value]="deviceProfile">{{deviceProfile.name}}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="factoryResetForm.controls['deviceProfile'].hasError('required')">
                                                {{'createWorkflow.validations.required' | translate: {field:
                                                'createWorkflow.general.deviceProfile' | translate } }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div> <br />

                            <div class="saveCancelBtns float-right">
                                <button mat-raised-button class="btn  btn-primary" [jhiSubmitIfValid]="factoryResetForm"
                                    (valid)="resetDeviceOrToken()">{{'ok' | translate}}</button>
                                <button mat-raised-button class="btn btn-primary" routerLink="../dashboard">{{'cancel' |
                                    translate}}</button>
                            </div>
                        </form>

                    </div>
                    <div *ngIf="!display" >
                        <div class="card-body">
                            <div *ngIf="success">
                                <div class="alert alert-success">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>{{message}}</span>
                                </div>
                                <div class="float-right">
                                    <button mat-raised-button class="btn btn-primary" routerLink='../dashboard' (click)="goHome()">{{'global.menu.home' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>