<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">dvr</i>
                    </div>
                    <h4 class="card-title">{{'onboarding.title' | translate}}</h4>
                </div>
                <div class="card-body">
                        <!-- Success Message Starts -->
                        <div class="card-body" *ngIf="saveOnboardingUserSuccess">
                            <div class="alert alert-success">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{ editOnboarding == true ? ('onboarding.messages.updateSuccess' | translate) : ('onboarding.messages.success' | translate) }}</span>
                            </div>
                            <div class="float-right" *ngIf="!hasEnrollmentPermission && !isEnrolled">
                                <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()">{{'ok' | translate}}</button>
                            </div>
                            <div class="float-right" *ngIf="!hasIssuancePermission && isEnrolled && !approvalRequired">
                                <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()">{{'ok' | translate}}</button>
                            </div>
                            <div class="float-right" *ngIf="!hasApprovalPermission && isEnrolled && approvalRequired">
                                <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()">{{'ok' | translate}}</button>
                            </div>
                            <div class="text-center" *ngIf="hasEnrollmentPermission && !isEnrolled">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <span>{{'onboarding.messages.proceedwithEnrollment' | translate}}</span>
                                        </div>
                                        <ng-container [ngTemplateOutlet]="itemTemplate"> </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="hasIssuancePermission && isEnrolled && !approvalRequired" >
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <span>{{'enroll.messages.saveSuccess.approvalNotRequired' | translate}}</span>
                                        </div>
                                        <ng-container [ngTemplateOutlet]="itemTemplate"> </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="hasApprovalPermission && isEnrolled && approvalRequired">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <span>{{'enroll.messages.saveSuccess.approvalRequiredIfHasPermission' | translate}}</span>
                                        </div>
                                        <ng-container [ngTemplateOutlet]="itemTemplate"> </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #itemTemplate>
                            <div>
                                <button mat-raised-button class="btn btn-primary" (click)="goSearchPage()" style="background-color: white;color:black;">{{'no' | translate}}</button>
                                <button mat-raised-button *ngIf="!isEnrolled" class="btn btn-primary" (click)="navigateToEnrollment()">{{'yes' | translate}}</button>
                                <button mat-raised-button *ngIf="isEnrolled && !approvalRequired" class="btn btn-primary" (click)="issueUser()">{{'yes' | translate}}</button>
                                <button mat-raised-button *ngIf="isEnrolled && approvalRequired" class="btn btn-primary" (click)="navigateToApproval()">{{'yes' | translate}}</button>
                            </div>
                        </ng-template>
                        <!-- Error Message Starts-->

                        <div *ngIf="!saveOnboardingUserSuccess && saveError">
                            <div class="alert alert-danger">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span> {{errorMsg}}</span>
                            </div>
                        </div>
                             <!-- Error Message Ends-->
                        <div *ngIf="!saveOnboardingUserSuccess">
                            <form [formGroup]="onboardingForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.firstName' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <input   matInput placeholder="" type="text" formControlName="firstName">
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.firstName.hasError('required')">
                                                                {{'onboarding.errors.firstName' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['firstName'].hasError('minlength')">
                                                                {{'onboarding.errors.minLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['firstName'].hasError('maxlength')">
                                                                {{'onboarding.errors.maxLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['firstName'].hasError('pattern')">
                                                                {{'onboarding.errors.allowedCharactersAndNumbersAndSpace' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['firstName'].hasError('ValidationNumberError') ">
                                                                {{'onboarding.errors.numbersValidationForFirstName' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['firstName'].hasError('SpaceValidationError') && !onboardingForm.controls['firstName'].hasError('minlength')">
                                                                {{'onboarding.errors.firstNameSpaceValidation' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.userName' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <input matInput (keyup)="onKeyUp($event)" placeholder="" type="text" formControlName="userName">
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.userName.hasError('required')">
                                                                {{'onboarding.errors.userName' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['userName'].hasError('minlength')">
                                                                {{'onboarding.errors.minLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['userName'].hasError('maxlength')">
                                                                {{'onboarding.errors.maxLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="userNameValidationError && !onboardingForm.controls['userName'].hasError('minlength')">{{'onboarding.errors.userNameValidation' | translate}}
                                                             </div>
                                                             <div *ngIf="userNameValidationNumberError && !onboardingForm.controls['userName'].hasError('minlength')">{{'onboarding.errors.numbersValidation' | translate}}
                                                            </div> 
                                                            <div *ngIf="userNameSpaceValidationError && !onboardingForm.controls['userName'].hasError('minlength')">
                                                                {{'onboarding.errors.userNameSpaceValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['userName'].hasError('pattern') && !userNameSpaceValidationError && !userNameValidationError && !userNameValidationNumberError && !onboardingForm.controls['userName'].hasError('minlength')">
                                                                {{'onboarding.errors.specialCharsValidation' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.assignGroup' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <mat-select formControlName="groupId">
                                                            <mat-option *ngFor="let group of groups" [value]="group">
                                                                {{ group.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.groupId.hasError('required')">
                                                                {{'onboarding.errors.assignGroup' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.assignRole' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <mat-select multiple formControlName="authServiceRoleID">
                                                            <mat-option [disabled]="role.disabled" (onSelectionChange)="checkRole($event)" *ngFor="let role of roles" [value]="role">
                                                                {{ role.description }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.authServiceRoleID.hasError('required')">
                                                                {{'onboarding.errors.assignRole' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls.authServiceRoleID.hasError('selectedItemsValidator')">
                                                                {{'onboarding.errors.maxRoles' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- <label class="col-md-3 col-2 col-form-label" *ngIf="!onboardingForm.get('enabled').value"> {{'onboarding.disableUser' | translate}}</label> -->
                                                <label class="col-md-3 col-2 col-form-label" > {{'onboarding.enableUser'| translate}}</label>
                                                <div class="col-md-3 col-2">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="enabled">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.lastName' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <input  matInput placeholder="" type="text" formControlName="lastName">
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.lastName.hasError('required')">
                                                                {{'onboarding.errors.lastName' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['lastName'].hasError('minlength')">
                                                                {{'onboarding.errors.minLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['lastName'].hasError('maxlength')">
                                                                {{'onboarding.errors.maxLengthValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['lastName'].hasError('pattern')">
                                                                {{'onboarding.errors.allowedCharactersAndNumbersAndSpace' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['lastName'].hasError('ValidationNumberError') && !onboardingForm.controls['lastName'].hasError('minlength')">
                                                                {{'onboarding.errors.numbersValidationForLastName' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['lastName'].hasError('SpaceValidationError') && !onboardingForm.controls['lastName'].hasError('minlength')">
                                                                {{'onboarding.errors.lastNameSpaceValidation' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.email' | translate}}</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="" type="email" formControlName="email">
                                                            <!-- pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$" -->
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.email.hasError('required')">
                                                                {{'onboarding.errors.email' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls.email.hasError('pattern')">
                                                                {{'onboarding.errors.emailNotValid' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <label class="col-md-3 col-2 col-form-label">{{'onboarding.contactNumber' | translate}}</label>
                                                <div class="col-md-9 col-9" style="display: inline-flex;">
                                                   <mat-form-field style="width: 25%;">
                                                        <!-- <span matPrefix>+ &nbsp;</span> -->
                                                        <mat-select placeholder="Country code" formControlName="countryCode">
                                                            <mat-option *ngFor="let country of countryCodes" [value]="country.countryCode">
                                                                <img class="flag" [src]="'../../../content/images/flags/' + country.flagName + '.png'" alt="flag">
                                                                <span style="margin-left: 10px;">{{country.countryCode}}</span>  
                                                            </mat-option>
                                                        </mat-select>

                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.countryCode.hasError('required')">
                                                                {{'onboarding.errors.countryCode' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['countryCode'].hasError('pattern')">
                                                                {{'onboarding.errors.charsValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['countryCode'].hasError('maxlength')">
                                                                {{'onboarding.errors.maxLengthVlidator'  | translate : {maxLength: 3} }}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field  style="width: 69%; margin-left: 20px;">
                                                        <input matInput placeholder="Subscriber number" type="text" formControlName="contactNumber">
                                                        <mat-error>
                                                            <div *ngIf="onboardingForm.controls.contactNumber.hasError('required')">
                                                                {{'onboarding.errors.contactNumber' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['contactNumber'].hasError('minlength')">
                                                                {{'onboarding.errors.minLengthCNValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['contactNumber'].hasError('maxlength')">
                                                                {{'onboarding.errors.maxLengthCNValidation' | translate}}
                                                            </div>
                                                            <div *ngIf="onboardingForm.controls['contactNumber'].hasError('pattern')">
                                                                {{'onboarding.errors.charsValidation' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">&nbsp;</label>
                                                <div class="col-md-9 col-9">&nbsp;</div>
                                            </div> -->
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label"></label>
                                                    <div class="col-md-9 col-9">
                                                        <label class="col-form-label"> {{'onboarding.sendInvite' | translate}}</label>
                                                        <div>
                                                            <mat-checkbox formControlName="emailInvite" style="margin-right: 2em; margin-top:1em;">{{'onboarding.emailInvite' | translate}}</mat-checkbox>
                                                        </div>
                                                        <!-- <mat-checkbox formControlName="smsInvite" disabled style="margin-right: 2em; margin-top:1em;">{{'onboarding.smsInvite' |translate}}</mat-checkbox> -->
                                                        <!-- <div *ngFor='let via of sendInvitesVia; let i=index' >
                                                            <mat-checkbox style="margin-right: 2em; margin-top:1em;" [formControlName]= 'via[i].formControlName'>
                                                                <span>{{via[i].displayValue}}</span>
                                                            </mat-checkbox>
                                                        </div> -->
                                                    </div> 
                                            </div>
                                        </div>
                                    </div>
    
                                <div class="float-right saveCancelBtns">
                                    <button *ngIf="data !== null" type="button" mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goBack()">{{'back' | translate}}</button>
                                	<button *ngIf="data === null" type="button" mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goSearchPage()">{{'cancel' | translate}}</button>
                                	<button mat-raised-button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="onboardingForm" (valid)="saveOnboardingUser()">
                                            {{ editOnboarding == true ? ('update' | translate) : ('save' | translate) }} </button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
