<div class="main-content">
    <div class="container-fluid">
       	<div class="mat-elevation-z8">
       		<div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">dvr</i></div>
                    <h4 class="card-title">{{'expressenroll.title' | translate}}</h4>
                </div> <br />

                <div class="card-body">   
                    <div *ngIf="saveExpressEnrollUserSuccess">
                        <div class="alert alert-success">
                            {{'expressenroll.messages.success' | translate}}
                        </div>
                    
                        <!-- <div class="float-right" style="margin-top:20px; margin-right: 20px;">
                            <button mat-raised-button class="btn btn-primary" (click)="goBack()">
                                <i class="material-icons">done</i>&nbsp; {{'ok' | translate}}
                            </button>
                             <button mat-raised-button class="btn btn-primary" (click)="goBack()">
                                <i class="material-icons">done</i>&nbsp; {{'expressenroll' | translate}}
                            </button>
                        </div> -->
                    </div>

                    <div *ngIf="!saveExpressEnrollUserSuccess">
                        <div class="alert alert-danger" *ngIf="saveExpressEnrollUserFailure">
                            {{'expressenroll.messages.failure' | translate}}
                        </div>
                        <div class="alert alert-danger" *ngIf="saveExpressEnrollUserConflict">
                            {{'expressenroll.messages.conflict' | translate}}
                        </div>
                        <div class="alert alert-danger" *ngIf="saveExpressEnrollUserServiceErr">
                            {{'expressenroll.messages.serverError' | translate}}
                        </div>
                        <div class="alert alert-danger" *ngIf="saveExpressEnrollUserInvalid">
                            {{'expressenroll.messages.invalid' | translate}}
                        </div>
                    </div>
                    <div>
                        <form [formGroup]="expressEnrollForm" (ngSubmit)="onFormSubmit()">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="table-responsive">
                                        <table class="table borderless">
                                            <tr>
                                                <td><label>{{'expressenroll.jsonPath' | translate}}</label> <span class="mandatory">*</span></td>
                                                <td>
                                                    <!--<mat-form-field class="example-full-width"> -->
                                                        <input placeholder="" type="file" (change)="expressEnrollFile($event)" formControlName="jsonPath">
                                                        <!-- <mat-error>
                                                            <div *ngIf="expressEnrollForm.controls.jsonPath.hasError('required')">
                                                                {{'expressenroll.errors.jsonPath' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>-->
                                                </td>
                                            </tr>
                                          
                                            <tr>
                                                <td><label>{{'expressenroll.assignGroup' | translate}}</label> <span class="mandatory">*</span></td>
                                                <td>
                                                    <mat-form-field>
                                                        <!-- <mat-select formControlName="groupId" (change)="expressEnrollGroup($event)"> -->
                                                        <mat-select formControlName="groupId" >
                                                            <mat-option *ngFor="let group of groups" [value]="group">
                                                                {{ group.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error>
                                                            <div *ngIf="expressEnrollForm.controls.groupId.hasError('required')">
                                                                {{'expressenroll.errors.assignGroup' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </td>
                                            </tr> 
                                            <tr>
                                                <td><label>{{'expressenroll.assignRole' | translate}}</label> <span class="mandatory">*</span></td>
                                                <td>
                                                    <mat-form-field>
                                                        <mat-select multiple formControlName="authServiceRoleID">
                                                            <mat-option [disabled]="role.disabled" (onSelectionChange)="checkRole($event)" *ngFor="let role of roles" [value]="role">
                                                                {{ role.name | translate }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error>
                                                            <div *ngIf="expressEnrollForm.controls.authServiceRoleID.hasError('required')">
                                                                {{'expressenroll.errors.assignRole' | translate}}
                                                            </div>
                                                            <div *ngIf="expressEnrollForm.controls.authServiceRoleID.hasError('selectedItemsValidator')">
                                                                {{'expressenroll.errors.maxRoles' | translate}}
                                                            </div>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </td>
                                            </tr> 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right">
                                <button mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goHome()"><i class="material-icons">close</i>&nbsp;{{'cancel' | translate}}</button>
                                <button type="submit" mat-raised-button class="btn btn-primary" ><i class="material-icons">save</i>&nbsp;{{'save' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>