.weight300 {
    font-weight: 300;
}
table {
    width: 100%;
}

table th {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
}

.paddingBtn {
    padding: 12px 0px !important;
}

/* Column Widths */
.mat-column-index {
    max-width: 64px;
    padding: 7px;
}
