<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
<div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
                    <!-- <i class="material-icons">person_add</i> -->
                    <svg-icon  style="width: 33px;height:35px;
                    padding-left: 7px;
                    padding-top: 5px;" src="../../content/images/icons/report_ic.svg" [svgStyle]="{'width.px':20,'fill':'rgb(255, 255, 255)'}"></svg-icon>
            
                </div>
            <h4 class="card-title">{{'monitor.reports.title' | translate }}</h4>
        </div>
        <div class="card-body">
            <!-- <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{'monitor.reports.reportName' | translate }}</th>
                            <th scope="col">{{'monitor.reports.description' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody class="ng-star-inserted">
                        <tr (click)="onClick('authenticationReport')" style="cursor: pointer">
                            <td>1</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.authentication.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.authentication.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('verificationReport')" style="cursor: pointer">
                            <td>2</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.verification.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.verification.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('userAccountStatsReport')" style="cursor: pointer">
                            <td>3</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.user_stats.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.user_stats.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('signleUserDetailsReport')" style="cursor: pointer">
                            <td>4</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.single_user_details.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.single_user_details.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('enrollmentReport')" style="cursor: pointer">
                            <td>5</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.enrollment.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.enrollment.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('issuanceReport')" style="cursor: pointer">
                            <td>6</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.issuance.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.issuance.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('issuedDevicesReport')" style="cursor: pointer">
                            <td>7</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.issued_devices.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.issued_devices.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('issuedCredentialsReport')" style="cursor: pointer">
                            <td>8</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.issued_credentials.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.issued_credentials.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('uimsClientAppsReport')" style="cursor: pointer">
                            <td>9</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.uims_clients_apps.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.uims_clients_apps.description' | translate }}</td>
                    </tr>
                    <tr (click)="onClick('uimSystemAlertsReport')" style="cursor: pointer">
                            <td>10</td>
                            <td class="text-info weight300">{{'monitor.reports.compliance_report_names.uims_system_alerts.name' | translate }}</td>
                            <td>{{'monitor.reports.compliance_report_names.uims_system_alerts.description' | translate }}</td>
                    </tr>        
                     </tbody> 
                </table>
            </div> -->

            <div class="example-table-container">
                <table mat-table [dataSource]="data"
                       matSort  matSortDisableClear matSortDirection="desc">
                  <!-- index Column -->
                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let row; let i = index;">{{i+1}}</td>
                  </ng-container>
            
                  <!-- reportName Column -->
                  <ng-container matColumnDef="reportName">
                    <th mat-header-cell *matHeaderCellDef>{{'monitor.reports.reportName' | translate }}</th>
                    <td mat-cell *matCellDef="let row" class="text-info" (click)='row.active && onClickOfReport(row)'
                    [ngStyle]="row.active? {'cursor': 'pointer'}: null " >{{row.displayName}}</td>
                  </ng-container>
            
                  <!-- description Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{'monitor.reports.description' | translate }}</th>
                    <td mat-cell *matCellDef="let row">{{row.description}}</td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngStyle]="!row.active && {'background-color': 'lightgrey'}"></tr>
                </table>
              </div>

        </div>
    </div>
    </div></div></div>
<br/>
  
