        <div class="main-content">
    <div class="container-fluid">
        <span *ngIf="isApplicantNow">
            <jhi-issued-devices *jhiHasAnyAuthority="'Table_Dashboard_Issued_Devices'"></jhi-issued-devices>
        </span>
        <span *ngIf="!isApplicantNow">
            <jhi-pending-enrollment *jhiHasAnyAuthority="'Table_Dashboard_Pending_Enrollment'"></jhi-pending-enrollment>
            <jhi-pending-issuance *jhiHasAnyAuthority="'Table_Dashboard_Pending_Issuance'"></jhi-pending-issuance>
            <jhi-pending-request *jhiHasAnyAuthority="'Table_Dashboard_Pending_Requests'"></jhi-pending-request>
            <jhi-stats *jhiHasAnyAuthority="'Table_Dashboard_Stats'"></jhi-stats>
            <!-- <jhi-subscription *jhiHasAnyAuthority="'Table_Dashboard_Subscriptions'"></jhi-subscription> -->
        </span>
        <span *ngIf="noRoleAssigned">
            <div class="alert alert-danger">
                <span> {{ 'home.error.userHasNoRole' | translate }}</span>
            </div>
        </span>
    </div>
</div>