<div mat-dialog-content>
    <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button> <br />
    <h4 class="text-center">{{headerText}}  </h4>
  </div>
  <div class="text-center">
    <div>
      <div *ngFor="let deviceProf of devProfiles">
        <!-- [disabled]=!isIssuancePermissionEnabled -->
        <button mat-raised-button class="btn btn-primary"   style="display: block; width: 100%; margin-bottom: 1em" [mat-dialog-close]="deviceProf">
          {{deviceProf.name}}</button>
      </div>
    </div>
  </div>