<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon"><i class="material-icons">person_search</i></div>
                    <!-- <div *ngIf="userType_isAdmin" > -->
                    <div>
                        <span><h4 class="card-title">{{'searchUser.title' | translate}}</h4></span>
                        <span ><form [formGroup]="searchUserForm" class="" style="position: absolute; margin-top: -30px; margin-left: 400px;width: 430px;" >
                                <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="{{searchBy | translate}}" formControlName="searchCriteria" (keyup.enter)="getUsers()">
                                <button mat-raised-button type="submit"  style="margin-left: 15px;" class="btn btn-white btn-round btn-just-icon" (click)="getUsers()" [disabled]='disableSearchButton' >
                                    <i class="material-icons">person_search</i>
                                    <div class="ripple-container"></div>
                                </button>
                                </div>
                                <!-- <div>
                                    <label class="container" style="padding-left: 0px;"> 
                                        <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                                            {{'searchUser.location' | translate}} : <span *ngIf="locationmarked">{{'searchUser.enabled' | translate}}</span><span *ngIf="!locationmarked">{{'searchUser.disabled' | translate}}</span>
                                        
                                          <span class="checkmark"></span>
                                        </label>
                                </div> -->

                            </form>
                        </span>
                    </div>
                    <div class="float-right" style="margin-top: -30px;">
                        <button mat-raised-button class="btn btn-primary" (click)="onBoardUsers()" [disabled]=!isOnboardingEnabled>
                            <mat-icon>person_add</mat-icon>  {{'searchUser.OnboardUsers' | translate}}
                        </button>
                    </div>

                    <!-- </div>
                    <div *ngIf="!userType_isAdmin" >
                        <span><h4 class="card-title">{{'searchUser.groupMembersTitle' | translate}}</h4></span>
                    </div> -->
                </div> <br />
                <div class="card-body">
                      <!-- Success Message Starts -->
                      <div *ngIf="success">
                            <div class="alert alert-success">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{message}}</span>
                            </div>
                        </div>

                    <div style="overflow: auto;">
        
                        <!-- <div *ngIf="searchUserResults.length > 0" class="table-responsive"> -->
                        <!-- matSortDisableClear matSortDirection="desc" -->
                        <table *ngIf="!locationmarked"  mat-table [dataSource]="data" matSort style="overflow-x: scroll;">
                           
                            <!-- First Name Column -->
                            <!-- <ng-container matColumnDef="firstName">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px">{{'searchUser.searchUserResult.firstName' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"> {{searchUserResult.firstName}} </mat-cell>
                            </ng-container> -->

                            <!-- Last Name Column -->
                            <!-- <ng-container matColumnDef="lastName">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px">{{'searchUser.searchUserResult.lastName' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"> {{searchUserResult.lastName}} </mat-cell>
                            </ng-container> -->
                            
                            <!-- Name Column -->
                            <ng-container matColumnDef="name" >
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef >{{'searchUser.searchUserResult.name' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult"><span (mouseover)="check($event)" class="dispalyDots1"
                                    [matTooltip]="showToolTip ? searchUserResult.firstName + searchUserResult.lastName: null">{{searchUserResult.firstName}} {{searchUserResult.lastName}} </span> </mat-cell>
                            </ng-container>

                             <!-- userName Column -->
                            <ng-container matColumnDef="userName" >
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px">{{'searchUser.searchUserResult.userName' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"><span (mouseover)="check($event)" class="dispalyDots1"
                                    [matTooltip]="showToolTip ? searchUserResult.email: null">{{searchUserResult.email}}</span></mat-cell>
                            </ng-container>

                             <!-- Role Column -->
                             <ng-container matColumnDef="role">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px"><span >{{'searchUser.searchUserResult.roles' | translate}}</span></mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px">
                                    <!-- <li *ngFor="let assignedRole of searchUserResult.roles" class="list-unstyled">{{ assignedRole.name | translate }}</li> -->
                                        <mat-select multiple  (click)="getUserRoles(searchUserResult)" [(ngModel)]="searchUserResult.roleIDs" style="width:120px" (selectionChange)="changeRole($event,searchUserResult)">
                                            <mat-option *ngFor="let userRole of userRoles" [disabled]="(!userType_isAdmin && userRole.name === 'ROLE_ADMIN') || userRole.disabled" [value]="userRole.authServiceRoleID" >
                                                 {{ userRole.name | translate }}
                                            </mat-option>
                                        </mat-select>
                                </mat-cell>
                             </ng-container>
                             
                            <!-- Email Column -->
                            <!-- <ng-container matColumnDef="email">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px">{{'searchUser.searchUserResult.email' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"> {{searchUserResult.email}} </mat-cell>
                            </ng-container> -->

                            <!-- login Column -->
                            <ng-container matColumnDef="enabled">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px"><span>{{'searchUser.searchUserResult.login' | translate}}</span></mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"><span id="{{searchUserResult.userName}}">{{ (searchUserResult.enabled ? 'Enabled' : 'Disabled') | translate }}
                                </span>
                                    <span class="togglebutton" *ngIf="!((searchUserResult.userName === userName) || (!userType_isAdmin && searchUserResult.admin))">
                                        <label>
                                            <span *ngIf="searchUserResult.enabled">
                                                <input type="checkbox" checked  (click)="changeUserAccess($event, searchUserResult.userName)">
                                                <span class="toggle" id="{{searchUserResult.userName}}span"></span>
                                            </span> 
                                            <span *ngIf="!searchUserResult.enabled">
                                                <input type="checkbox"  (click)="changeUserAccess($event, searchUserResult.userName)">
                                                <span class="toggle" id="{{searchUserResult.userName}}span"></span>
                                            </span>
                                        </label>
                                    </span>
                              
                                </mat-cell>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px">{{'searchUser.searchUserResult.status' | translate}}</mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"> {{searchUserResult.userStatus | translate }} </mat-cell>
                            </ng-container>

                            <!-- group Column -->
                            <ng-container matColumnDef="group">
                               <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px"><span  >{{'searchUser.searchUserResult.group' | translate}}</span></mat-header-cell>
                               <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"><span (mouseover)="check($event)" class="dispalyDots1"
                                [matTooltip]="showToolTip ? searchUserResult.groupName: null">{{searchUserResult.groupName}}</span></mat-cell>
                            </ng-container>

                            <!-- workflow Column -->
                            <!-- <ng-container matColumnDef="workflow">
                               <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px"><span  >{{'searchUser.searchUserResult.workflow' | translate}}</span></mat-header-cell>
                               <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"><span  >{{searchUserResult.workflowName}}</span></mat-cell>
                            </ng-container> -->

                             <!-- Identity Type Column -->
                             <ng-container matColumnDef="identityType">
                                <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef style="width:150px"><span  >{{'searchUser.searchUserResult.identityType' | translate}}</span></mat-header-cell>
                                <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let searchUserResult" style="width:150px"><span  (mouseover)="check($event)" class="dispalyDots1"
                                    [matTooltip]="showToolTip ? searchUserResult.identityTypeName: null">{{searchUserResult.identityTypeName}}</span></mat-cell>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell  *matHeaderCellDef style="width:510px"><span >{{'searchUser.actions' | translate}}</span></mat-header-cell>
                                 <mat-cell  *matCellDef="let searchUserResult" style="width:350px;">
                               		<button [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canEnroll && isOnboardingEnabled) || (!userType_isAdmin && searchUserResult.admin)" (click)="editOnboardUserInfo(searchUserResult)" 
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.editOnboardedInformation' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                         <i class="material-icons">manage_accounts</i>
                                    </button>
                                    <button *ngIf="searchUserResult.userStatus === 'Enrollment In Progress'" [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canEnroll && isEnrollmentEnabled ) || (!userType_isAdmin && searchUserResult.admin)" (click)="editEnrollment(searchUserResult)"
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.enrollmentInProgress' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">wysiwyg</i>
                                    </button>
                                    <button *ngIf="searchUserResult.userStatus !== 'Enrollment In Progress'" [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canEnroll && isEnrollmentEnabled ) || (!userType_isAdmin && searchUserResult.admin)" (click)="enrollUser(searchUserResult)"
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.beginEnrollment' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">web_asset</i>
                                    </button>
                                    <button [disabled]="(searchUserResult.userName === userName) || !searchUserResult.canDisplayEnrollDetails || (!userType_isAdmin && searchUserResult.admin)" (click)="enrollUserWithMobileID(searchUserResult)"
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.invitetoPairMobileDevice' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">link</i>
                                    </button>
                                    <button [disabled]="(searchUserResult.userName === userName) || !searchUserResult.canDisplayEnrollDetails || (!userType_isAdmin && searchUserResult.admin)" (click)="displayEnrollmentDetails(searchUserResult)"
                                         mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.enrollmentDetails' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                         <i class="material-icons">account_box</i>
                                   </button>
                                   <button [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canApprove && isApprovalEnabled) || (!userType_isAdmin && searchUserResult.admin)" (click)="approveEnrollmentDetails(searchUserResult)"
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.approve/rejectEnrollment' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">how_to_reg</i>
                                    </button>
                                    <button [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canIssue && isIssuanceEnabled) || (!userType_isAdmin && searchUserResult.admin)" (click)="issueUser(searchUserResult)" 
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.issueIdentity' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">devices_other</i>
                                    </button>
                                    <button [disabled]="(searchUserResult.userName === userName) || !(searchUserResult.canLifeCycle && isLifeCycleEnabled) || (!userType_isAdmin && searchUserResult.admin)" (click)="manageDevicesOfUser(searchUserResult)" 
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.identityLifecycle' | translate}}" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">cached</i>
                                    </button>
                                    <button [disabled]="(searchUserResult.userName === userName) || !(isUserDeletePermissionEnabled)" (click)="setTBDeletedUser(searchUserResult)" 
                                        mat-raised-button type="button" matTooltip="{{'searchUser.tooltip.deleteUser' | translate}}"  data-toggle="modal" data-target="#userSearch" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <!-- <i class="material-icons">delete_outline</i> -->
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <!-- <button [disabled]="!(searchUserResult.canLifeCycle && isLifeCycleEnabled) || (!userType_isAdmin && searchUserResult.admin)" (click)="manageDevicesOfUser(searchUserResult)" 
                                        mat-raised-button type="button" matTooltip="Configure OTP" class="btn btn-info btn-link paddingBtn" style="padding: 0px;">
                                        <i class="material-icons">phonelink_setup</i>
                                    </button> -->
                                   <!-- *ngIf="searchUserResult.canDisplayEnrollDetails"    data-target="#visualDesign"-->
                                   <!-- <button mat-raised-button (click)="setDeleteUser(searchUserResult)" type="button" matTooltip="Delete" class="btn btn-info btn-link paddingBtn closebtn"
                                                 data-toggle="modal" data-target="#userSearch">
                                         <i class="material-icons-outlined">delete_outline</i>
                                   </button> -->
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef>{{'searchUser.noUsersFound' | translate}}</td>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(data!=null && data.length==0) || isLoadingResults}"></mat-footer-row>
                         </table>
                         <table *ngIf="locationmarked" mat-table [dataSource]="dataWithLocation" matSort >
                           
                           <ng-container matColumnDef="checkbox" style="width: 50px;">
                                <mat-header-cell *matHeaderCellDef style="width: 50px;"><label  style="padding-left: 0px;" > 
                                        <input type="checkbox" [formControl]='isChecked' data-md-icheck (change)="selectAllUserIDs($event)" [disabled]="isDisabled"/>
                                        </label>
                                </mat-header-cell>
                                <!-- [(ngModel)]="isChecked" -->
                                <mat-cell *matCellDef="let searchUserResult" style="width: 50px;"> <label style="padding-left: 0px;" > 
                                        <!-- <mat-checkbox [(ngModel)]="searchUserResult.checked" (change)="setSelectedUser($event)"></mat-checkbox> -->
                                        <input type="checkbox" [(ngModel)]="searchUserResult.checked" data-md-icheck (change)="setSelectedUser($event)" [id]="searchUserResult.userID" [checked]="searchUserResult.checked"/>
                                            
                                        </label>
                                </mat-cell>
                            </ng-container>
                            <!-- userName Column -->
                            <ng-container matColumnDef="userName">
                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.userName' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult"> {{searchUserResult.userName}} </mat-cell>
                            </ng-container>

                            <!-- Make Column -->
                            <ng-container matColumnDef="firstName">
                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.firstName' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult"> {{searchUserResult.firstName}} </mat-cell>
                            </ng-container>

                            <!-- Year Column -->
                            <ng-container matColumnDef="lastName">
                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.lastName' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult"> {{searchUserResult.lastName}} </mat-cell>
                            </ng-container>

                            <!-- Model Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.email' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult"> {{searchUserResult.email}} </mat-cell>
                            </ng-container>

                            <!-- Number Plate Column -->
                            
                            
                            	<ng-container matColumnDef="location">
	                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.location' | translate}}</mat-header-cell>
	                                <mat-cell *matCellDef="let searchUserResult"> {{ searchUserResult.location }} </mat-cell>
	                            </ng-container>
	                            
	                            <ng-container matColumnDef="date">
	                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.date' | translate}}</mat-header-cell>
	                                <mat-cell *matCellDef="let searchUserResult"> {{ searchUserResult.date  }} </mat-cell>
	                            </ng-container>
                            
                            <!-- Number Plate Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef>{{'searchUser.searchUserResult.status' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult"> <span >{{ statusTypes[(searchUserResult.status)].value }}</span> </mat-cell>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="width:30%">{{'searchUser.actions' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let searchUserResult">
                    
                                   <button mat-raised-button  type="button" matTooltip="Update" class="btn btn-info btn-link paddingBtn" [disabled]="!searchUserResult.checked" 
                                                 data-toggle="modal" data-target="#locationSearch">
                                         <i class="material-icons-outlined">edit</i>
                                   </button>
                                </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef>{{'searchUser.noUsersFound' | translate}}</td>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns_location"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns_location;"></mat-row>
                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(data!=null && data.length==0)}"></mat-footer-row>
                        </table>
                        
                        <!-- Paginator column -->
                        <!-- <mat-toolbar *ngIf="selectAllUsers" style="background-color: #ffffff;" >
                              <mat-icon data-toggle="modal" data-target="#locationSearch" title="Update" style=" width: 100%;text-align: right;padding-right: 8%;">edit</mat-icon>
                        </mat-toolbar> -->
                        <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons style="float: right;"></mat-paginator>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Starts -->
<div class="modal fade" id="userSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">{{'searchUser.deleteUser' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" margin-left: auto; margin-right: auto;">
                    <p style="text-align: center">{{'searchUser.confirmDeleteUser' | translate: {username: userFirstLastName_tbd} }} </p>
            </div>
            <div class="text-center">
                <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="deleteUser()" data-dismiss="modal">{{'yes' | translate}}</button>
                <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="locationSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Activation Options</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" margin-left: auto; margin-right: auto;width:100%">
                    <mat-form-field>
					  <mat-label>Alert User:</mat-label>
					  <mat-select [(ngModel)]="selectedValue" name="activationType">
					    <mat-option *ngFor="let activationType of activationTypes" [value]="activationType.id">
					      {{activationType.value}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
					<p> Selected Activation Option: <span style="font-weight: bold;">{{statusTypes[selectedValue].value}} </span></p>
            </div>
            <div class="text-center">
                <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="updateUserLocationStatus_bulk()" data-dismiss="modal">{{'send' | translate}}</button>
                <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>