table {
    width: 100%;
}

table mat-header-cell {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
}
.paddingBtn {
    padding: 12px 2px !important;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
/* mat-table */
mat-footer-row mat-footer-cell {
    justify-content: center;
}
.customWidthClass {
    padding-top: 15px;
    display: inline-block; /* for em, a, span, etc (inline by default) */
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1em;
}

button:disabled {
    opacity: 0.2;
}
.togglebutton {
    position: relative;
}
.dispalyDots1 {
    display: block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
