<div class="main-content">
    <div class="container-fluid">
    	<div class="mat-elevation-z8">
       		<div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="card" *ngIf="display; else elseBlock">
	            <div class="card-header card-header-primary card-header-icon">
	                <div class="card-icon"><i class="material-icons">person</i></div>
	                <h4 class="card-title">{{'enroll.enrollmentDetailstitle' | translate}}</h4>
	            </div>
	
	            <div class="card-body">
					<div style="margin-bottom: 1.5em;" class="row">
						<div class="col-md-3">
							<span (mouseover)="check('fn', 'userFirstAndLastName')" id="userFirstAndLastName" class="dispalyDots1"
								[matTooltip]="showToolTip ? userFirstAndLastName: null">{{'user' | translate}} : <strong
									class="userTBE">{{userFirstAndLastName}}</strong></span>
						</div>
						<div class="col-md-3">
							<span id="groupName" (mouseover)="check('fn', 'groupName')" class="dispalyDots1"
								[matTooltip]="showToolTip ? groupName: null">{{'searchUser.searchUserResult.group' | translate}} : <strong
									class="userTBE">{{groupName}}</strong></span>
						</div>
						<div class="col-md-3">
							<span id="identityType" class="dispalyDots1" (mouseover)="check('fn', 'identityType')"
								[matTooltip]="showToolTip ? identityType: null">{{'searchUser.searchUserResult.identityType' | translate}} :
								<strong class="userTBE">{{identityType}}</strong></span>
						</div>
					</div>
					 
	                <div>
	                <h5 class="rgpara card-header card-text">{{'enroll.wizard.tab.summary.headerContent' | translate}}</h5>
	                <!-- Summary Content Start -->
	                <div class="container-fluid">
	                    <div class="col-md-12">
	                        <div class="row" *ngIf="hasWorkflowStep('ID_PROOFING')">
	                            <div class="col-md-12">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderIdProofingDocuments' | translate}}</h5>
	                            </div>
	                        <div class="table-responsive">
	                            <table class="table" mat-table [dataSource]="dataSource" matSort>
	                                <!-- Type Column -->
	                                <ng-container matColumnDef="Type">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.type'
	                                        | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc"> {{idProofDoc.idProofType.identityTypeName}} </mat-cell>
	                                </ng-container>
	                                <!-- Issuing Authority Column -->
	                                <ng-container matColumnDef="Issuing Authority">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.issuingAuthority'
	                                        | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc"> {{idProofDoc.idProofIssuingAuthority.issuingAuthority}} </mat-cell>
	                                </ng-container>
	                                <!-- Front Image Column -->
	                                <ng-container matColumnDef="Front Image">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.front' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.frontImg">
	                                            <img style="width: 12%;border-style: outset;" [src]='idProofDoc.frontImg' matTooltip="Zoom" (click)="openImage('front')">
	                                                <div *ngIf="openFrontImageBlock" class="openImage">
	                                                        <img [ngClass]="{zoomAnimation:isAnimate}" [src]='idProofDoc.frontImg'>
	                                                        <i class="material-icons" [ngClass]="{showingBtn:isAnimate}" matTooltip="Close" (click)="closeImage()">cancel</i>
	                                                    </div>
	                                        </div>
	                                        <!-- <div *ngIf="idProofDoc.source === 'upload'">--</div>  -->
	                                    </mat-cell>
	                                </ng-container>
	                                <!-- Back Iamge Column -->
	                                <ng-container matColumnDef="Back Iamge">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.back' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.backImg">
	                                            <img style="width: 12%;border-style: outset;" [src]='idProofDoc.backImg' matTooltip="Zoom" (click)="openImage('back')">
	                                            <div *ngIf="openBackImageBlock" class="openImage">
	                                                    <img [ngClass]="{zoomAnimation:isAnimate}" [src]='idProofDoc.backImg'>
	                                                    <i class="material-icons" [ngClass]="{showingBtn:isAnimate}" matTooltip="Close" (click)="closeImage()">cancel</i>
	                                                </div>
	                                        </div>
	                                        <!-- <div *ngIf="idProofDoc.source === 'upload'">--</div> -->
	                                    </mat-cell>
	                                </ng-container>
	                                <!-- File Column 
	                                    <span><a [routerLink]="" (click)="downloadPdfFile(idProofDoc.file, idProofDoc.name)"><i class="material-icons">picture_as_pdf</i>{{idProofDoc.name}}</a> -->
	                                <!-- <ng-container matColumnDef="File">
	                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'enroll.wizard.tab.registration.idProofing.table.file' | translate}}</mat-header-cell>
	                                    <mat-cell *matCellDef="let idProofDoc">
	                                        <div *ngIf="idProofDoc.source === 'upload'">
												<div *ngIf="idProofDoc.frontFileType === 'application/pdf'">
													{{idProofDoc.frontFileName}}
	                                            </div>
	                                        </div>
	                                    </mat-cell>
	                                </ng-container> -->
	                                <mat-header-row *matHeaderRowDef="idProofDisplayedColumns"></mat-header-row>
	                                <mat-row *matRowDef="let row; columns: idProofDisplayedColumns;"></mat-row>
	                            </table>
	                        </div>
	                       </div>
	
	                        <div class="row" *ngIf="hasWorkflowStep('REGISTRATION')">
	                            <div class="col-md-12">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderRegistration' | translate}}</h5>
	                            </div>
	
	                            <div class="col-md-12" style = "display: flex; ">
	                                <div class="col-md-6" *ngIf="registrationStepDetail && registrationStepDetail.wfStepRegistrationConfigs && isUserDetialsLoaded">
	                                    <div class="row" *ngFor="let registrationField of registrationStepDetail.wfStepRegistrationConfigs; let even=even">
	                                        <div *ngIf="even" style="margin-bottom: 10px">
	                                            <label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
												<span *ngIf="(registrationField.fieldName === 'Date of Birth' || registrationField.fieldName === 'Vaccination Date'); else notShow"
													class="summaryInfoValue">{{formatmeetidentityDate(enrollForm.controls[registrationField.id].value)}}</span>
	                                           
	                                            <ng-template #notShow>
													<span *ngIf="registrationField.fieldName === 'Contact Number'; else notShow1" class="summaryInfoValue">
														{{enrollForm.controls.countryCode.value}} {{enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
												<ng-template #notShow1>
													<span class="summaryInfoValue">{{enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
	                                        </div>
	                                    </div>
	                                </div>
	    
	                                <div class="col-md-6" *ngIf="registrationStepDetail && registrationStepDetail.wfStepRegistrationConfigs && isUserDetialsLoaded">
	                                    <div class="row" *ngFor="let registrationField of registrationStepDetail.wfStepRegistrationConfigs; let odd=odd">
	                                        <div *ngIf="odd" style="margin-bottom: 10px">
	                                            <label style="width: 150px">{{registrationField.fieldLabel | translate}}</label>
												<span *ngIf="(registrationField.fieldName === 'Date of Birth' || registrationField.fieldName === 'Vaccination Date'); else notShow" 
														class="summaryInfoValue">{{formatmeetidentityDate(enrollForm.controls[registrationField.id].value)}}</span>
														
												<ng-template #notShow>
													<span *ngIf="registrationField.fieldName === 'Contact Number'; else notShow1" class="summaryInfoValue">
														{{enrollForm.controls.countryCode.value}} {{enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
												<ng-template #notShow1>
													<span class="summaryInfoValue">{{enrollForm.controls[registrationField.id].value}}</span>
												</ng-template>
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- <div class="col-md-4" *ngIf="credentialTemplates.length > 0">
	                                    <div>
	                                        <mat-form-field>
	                                            <mat-label>Visual Credentials</mat-label>
	                                            <mat-select [formControl]="selectedCredentialTemplate"
	                                                (selectionChange)="onCredentialTemplateChanged($event)">
	                                                <div>
	                                                    <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate.id">
	                                                        {{credentialTemplate.visualTemplateName}}
	                                                    </mat-option>
	                                                </div>
	                                            </mat-select>
	                                        </mat-form-field>
	                                    </div>
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDFront' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.front}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront"></span>
	                                        </figure>
	                                    </div>
	                                
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDBack' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.back}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidBack"></span>
	                                        </figure>
	                                    </div>
	                                </div> -->
	                            </div>
	                        </div>
	
	                         <div class="row">
	                                    <div class="col-md-3">
	                                        <div *ngIf="hasWorkflowStep('FACE_CAPTURE')">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderPhotograph' | translate}}
	                                            </h5>
	                            
	                                            <img [hidden]="isCropped" src="../../../content/images/mypic.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryPhoto">
	                                            <img [hidden]="!isCropped" [src]="croppedImg" width="180" height="300"
	                                                class="img-responsive img-thumbnail summaryPhoto" />
	                                        </div>
	                                    </div>
	                            
	                                    <div class="col-md-4">
	                                        <div *ngIf="signature != undefined">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderSignature' | translate}}
	                                            </h5>
	                                            <div class="img-responsive img-thumbnail summarySignIris">
	                                                <img *ngIf="signature == undefined" src="../../../content/images/signature.png">
	                                                <img *ngIf="signature != undefined" [src]="signature">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-5">
	                                        <div *ngIf="hasWorkflowStep('IRIS_CAPTURE')">
	                                            <h5 class="text-info font-weight-bold">
	                                                {{'enroll.wizard.tab.summary.subheaderIris' | translate}}
	                                            </h5>
	                                            <div class="img-responsive img-thumbnail summarySignIris">
	                                                <div class="row"> <br/>
	                                                 <div class="col-md-5">
	                                                    <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textRightEye' | translate}}</h5>
	                                                    <img *ngIf="rightEye != undefined" src="data:image/jpeg;base64,{{rightEye}}"
	                                                            alt="photo" class="img-responsive">                                                               
	                                                 </div>
	                                                 <div class="col-md-5">
	                                                        <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.iris.textLeftEye' | translate}}</h5>
	                                                        <img *ngIf="leftEye != undefined" src="data:image/jpeg;base64,{{leftEye}}"
	                                                                alt="photo" class="img-responsive">                                                                
	                                                 </div>
	                                               </div>
	                                             </div>
	                                            <br />
	                                        </div>
	                                    </div>
	                        </div> <br/>
	 
							<div class="row">
	                            <div class="col-md-12" *ngIf="hasWorkflowStep('FINGERPRINT_ROLL_CAPTURE')">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderRollFingerprints' | translate}}</h5>
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="rightRollFingerprintImages[0] == undefined">
	                                                            <i *ngIf="skippedFingers[5] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[5] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightRollFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightRollFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightRollFingerprintImages[1] == undefined">
	                                                            <i *ngIf="skippedFingers[6] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[6] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightRollFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightRollFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightRollFingerprintImages[2] == undefined">
	                                                            <i *ngIf="skippedFingers[7] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[7] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightRollFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightRollFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightRollFingerprintImages[3] == undefined">
	                                                            <i *ngIf="skippedFingers[8] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[8] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightRollFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightRollFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightRollFingerprintImages[4] == undefined">
	                                                            <i *ngIf="skippedFingers[9] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[9] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightRollFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightRollFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="rfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightRollFingerprintImages[0] != undefined ? rightRollFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{rightRollFingerprintImages[0] != undefined ? rightRollFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightRollFingerprintImages[1] != undefined ? rightRollFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{rightRollFingerprintImages[1] != undefined ? rightRollFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightRollFingerprintImages[2] != undefined ? rightRollFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{rightRollFingerprintImages[2] != undefined ? rightRollFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightRollFingerprintImages[3] != undefined ? rightRollFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{rightRollFingerprintImages[3] != undefined ? rightRollFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightRollFingerprintImages[4] != undefined ? rightRollFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{rightRollFingerprintImages[4] != undefined ? rightRollFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="leftRollFingerprintImages[0] == undefined">
	                                                            <i *ngIf="skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[0] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftRollFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftRollFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftRollFingerprintImages[1] == undefined">
	                                                            <i *ngIf="skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[1] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftRollFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftRollFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftRollFingerprintImages[2] == undefined">
	                                                            <i *ngIf="skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[2] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftRollFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftRollFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftRollFingerprintImages[3] == undefined">
	                                                            <i *ngIf="skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[3] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftRollFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftRollFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftRollFingerprintImages[4] == undefined">
	                                                            <i *ngIf="skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[4] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftRollFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftRollFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="lfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftRollFingerprintImages[0] != undefined ? leftRollFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{leftRollFingerprintImages[0] != undefined ? leftRollFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftRollFingerprintImages[1] != undefined ? leftRollFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{leftRollFingerprintImages[1] != undefined ? leftRollFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftRollFingerprintImages[2] != undefined ? leftRollFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{leftRollFingerprintImages[2] != undefined ? leftRollFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftRollFingerprintImages[3] != undefined ? leftRollFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{leftRollFingerprintImages[3] != undefined ? leftRollFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftRollFingerprintImages[4] != undefined ? leftRollFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{leftRollFingerprintImages[4] != undefined ? leftRollFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                            
	                                </div> <br />
	                            </div>
	                        </div> 

	                        <div class="row">
	                            <div class="col-md-12" *ngIf="hasWorkflowStep('FINGERPRINT_CAPTURE')">
	                                <h5 class="text-info font-weight-bold">{{'enroll.wizard.tab.summary.subheaderFingerprints' | translate}}</h5>
	                                <!-- <div *ngIf="isSlapFPCaptured" class="row">
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Right Hand Fingers</h5>
	                                        <img *ngIf="rightFourFingers != undefined" src="data:image/jpeg;base64,{{rightFourFingers.jpegData}}"
	                                            alt="photo" class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100"
	                                                [style.width]="rightFourFingers != undefined ? rightFourFingers.imageQuality + '%' : '0%'">
	                                                {{rightFourFingers != undefined ? rightFourFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Thumb Fingers</h5>                                            
	                                        <img *ngIf="thumbFingers != undefined" src="data:image/jpeg;base64,{{thumbFingers.jpegData}}" alt="photo"
	                                            class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100" [style.width]="thumbFingers != undefined ? thumbFingers.imageQuality + '%' : '0%'">
	                                                {{thumbFingers != undefined ? thumbFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4">
	                                        <h5 class="text-info font-weight-bold">Left Hand Fingers</h5>                                            
	                                        <img *ngIf="leftFourFingers != undefined" src="data:image/jpeg;base64,{{leftFourFingers.jpegData}}" alt="photo"
	                                            class="img-responsive">
	                                        <div class="progress">
	                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
	                                                aria-valuemax="100"
	                                                [style.width]="leftFourFingers != undefined ? leftFourFingers.imageQuality + '%' : '0%'">
	                                                {{leftFourFingers != undefined ? leftFourFingers.imageQuality + '%' : '0%'}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div> <br /> -->
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="rightFingerprintImages[0] == undefined">
	                                                            <i *ngIf="skippedFingers[5] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[5] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightFingerprintImages[1] == undefined">
	                                                            <i *ngIf="skippedFingers[6] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[6] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightFingerprintImages[2] == undefined">
	                                                            <i *ngIf="skippedFingers[7] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[7] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightFingerprintImages[3] == undefined">
	                                                            <i *ngIf="skippedFingers[8] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[8] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="rightFingerprintImages[4] == undefined">
	                                                            <i *ngIf="skippedFingers[9] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[9] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="rightFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{rightFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="rfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textRightLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightFingerprintImages[0] != undefined ? rightFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{rightFingerprintImages[0] != undefined ? rightFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightFingerprintImages[1] != undefined ? rightFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{rightFingerprintImages[1] != undefined ? rightFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightFingerprintImages[2] != undefined ? rightFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{rightFingerprintImages[2] != undefined ? rightFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightFingerprintImages[3] != undefined ? rightFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{rightFingerprintImages[3] != undefined ? rightFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="rightFingerprintImages[4] != undefined ? rightFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{rightFingerprintImages[4] != undefined ? rightFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <div class="table-responsive">
	                                            <table class="table table-bordered text-center summaryFps">
	                                                <tr>
	                                                    <td>
	                                                        <div *ngIf="leftFingerprintImages[0] == undefined">
	                                                            <i *ngIf="skippedFingers[0] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[0] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftFingerprintImages[0] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftFingerprintImages[0].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftFingerprintImages[1] == undefined">
	                                                            <i *ngIf="skippedFingers[1] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[1] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftFingerprintImages[1] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftFingerprintImages[1].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftFingerprintImages[2] == undefined">
	                                                            <i *ngIf="skippedFingers[2] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[2] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftFingerprintImages[2] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftFingerprintImages[2].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftFingerprintImages[3] == undefined">
	                                                            <i *ngIf="skippedFingers[3] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[3] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftFingerprintImages[3] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftFingerprintImages[3].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                    <td>
	                                                        <div *ngIf="leftFingerprintImages[4] == undefined">
	                                                            <i *ngIf="skippedFingers[4] == undefined" class="material-icons">fingerprint</i>
	                                                            <i *ngIf="skippedFingers[4] != undefined"
	                                                                class="material-icons summaryFpImages">clear</i>
	                                                        </div>
	                                                        <img *ngIf="leftFingerprintImages[4] != undefined"
	                                                            src="data:image/jpeg;base64,{{leftFingerprintImages[4].data}}" alt="photo"
	                                                            class="img-responsive">
	                                                    </td>
	                                                </tr>
	                                                <tr class="lfp_names">
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftThumb' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftIndex' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftMiddle' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftRing' | translate}}</span></td>
	                                                    <td><span>{{'enroll.wizard.tab.summary.textLeftLittle' | translate}}</span></td>
	                                                </tr>
	                                                <tr>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftFingerprintImages[0] != undefined ? leftFingerprintImages[0].imageQuality + '%' : '0%'">
	                                                                {{leftFingerprintImages[0] != undefined ? leftFingerprintImages[0].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftFingerprintImages[1] != undefined ? leftFingerprintImages[1].imageQuality + '%' : '0%'">
	                                                                {{leftFingerprintImages[1] != undefined ? leftFingerprintImages[1].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftFingerprintImages[2] != undefined ? leftFingerprintImages[2].imageQuality + '%' : '0%'">
	                                                                {{leftFingerprintImages[2] != undefined ? leftFingerprintImages[2].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftFingerprintImages[3] != undefined ? leftFingerprintImages[3].imageQuality + '%' : '0%'">
	                                                                {{leftFingerprintImages[3] != undefined ? leftFingerprintImages[3].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                    <td>
	                                                        <div class="progress">
	                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
	                                                                aria-valuemin="0" aria-valuemax="100"
	                                                                [style.width]="leftFingerprintImages[4] != undefined ? leftFingerprintImages[4].imageQuality + '%' : '0%'">
	                                                                {{leftFingerprintImages[4] != undefined ? leftFingerprintImages[4].imageQuality + '%' : '0%'}}
	                                                            </div>
	                                                        </div>
	                                                    </td>
	                                                </tr>
	                                            </table>
	                                        </div>
	                                    </div>
	                            
	                                </div> <br />
	                            </div>
	                        </div> 
	                    </div>
	                    <div class="row">
	                        <!-- visual id section starts -->
	                        <div class="col-md-12" *ngIf="credentialTemplates.length > 0">
	                            <div class="row">
	                                <div class="col-md-4">
	                                    <mat-form-field>
	                                        <mat-label>{{'enroll.wizard.tab.summary.visualCredential' | translate}}</mat-label>
	                                        <mat-select [formControl]="selectedCredentialTemplate" (selectionChange)="onCredentialTemplateChanged($event)">
	                                            <div>
	                                                <mat-option *ngFor="let credentialTemplate of credentialTemplates" [value]="credentialTemplate.id">
	                                                    {{credentialTemplate.visualTemplateName}}
	                                                </mat-option>
	                                            </div>
	                                        </mat-select>
	                                    </mat-form-field>
	                                </div>
	                            </div>
	
	                            <div class="row">
	                                <div class="col-md-6">
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDFront' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.front}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront">
	                                        </figure>
	                                    </div>
	                                </div>
	                                <div class="col-md-6">
	                                    <div class="mypicbox_face">
	                                        <figcaption>{{'enroll.wizard.tab.summary.textVisualIDBack' | translate}}</figcaption>
	                                        <figure>
	                                            <img *ngIf="visualCredential" src="data:image/png;base64,{{visualCredential.back}}" alt="photo"
	                                                class="img-responsive img-thumbnail ">
	                                            <img *ngIf="!visualCredential" src="../../../content/images/signature.png" alt="photo"
	                                                class="img-responsive img-thumbnail summaryVidFront">
	                                        </figure>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- visual id section ends -->
	                    </div>
						<div class="row">
							<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseExample">
								{{'enroll.wizard.tab.summary.table.userenrollmenthistory' | translate}}
							  </button>
						</div>
						<br><br>
						<div class="row" class="collapse" id="collapseTable">
								<div class="example-container mat-elevation-z8 historyTable" [ngStyle]="(historydata!=null && historydata.length != 0) ? {'height': '400px'}: null ">
									<mat-table [dataSource]="historydata">
						  
									  <!-- modified-steps Column -->
									  <ng-container matColumnDef="modifiedsteps">
										<mat-header-cell *matHeaderCellDef >{{'enroll.wizard.tab.summary.table.modifiedSteps' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;">{{row.modifiedSteps}}
											 </mat-cell>
									  </ng-container>
									 
									  <!-- status Column -->
									  <ng-container matColumnDef="status">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.status' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;">{{row.status}}  </mat-cell>
									  </ng-container>

									  	  <!-- enrolllment start date Column -->
									    <ng-container matColumnDef="enrollmentStartDate">
												<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.enrollmentStartDate' | translate}}</mat-header-cell>
												<mat-cell *matCellDef="let row;">  {{row.enrollmentStartDate | date:'medium'}}</mat-cell>
											  </ng-container>
											   <!-- enrolllment end date Column -->
								      <ng-container matColumnDef="enrollmentEndDate">
												<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.enrollmentEndDate' | translate}}</mat-header-cell>
												<mat-cell *matCellDef="let row;"> {{row.enrollmentEndDate | date:'medium'}} </mat-cell>
											  </ng-container>
											  <ng-container matColumnDef="enrolledBy">
												<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.enrolledby' | translate}}</mat-header-cell>
												<mat-cell *matCellDef="let row;"> {{row.enrolledBy}} </mat-cell>
											  </ng-container>
											
									  <!-- approval status Column -->
									  <ng-container matColumnDef="approvalStatus">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.approvalStatus' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;"> {{row.approvalStatus}} </mat-cell>
									  </ng-container>
						  
									  <!-- approved by Column -->
									  <ng-container matColumnDef="approvedBy">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.approvedBy' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;">{{row.approvedBy}}  </mat-cell>
									  </ng-container>
						  
									  <!--  approve date Column -->
									  <ng-container matColumnDef="approvedate">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.approvedDate' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;"> {{row.approvedDate | date:'medium'}} </mat-cell>
									  </ng-container>
						  
									  <!-- reason Column-->
									  <ng-container matColumnDef="reason">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.reason' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;"> {{row.reason}} </mat-cell>
									  </ng-container>
						  
									  <!-- rejectedBy Column -->
									  <ng-container matColumnDef="rejectedBy">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.rejectBy' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;"> {{row.rejectedBy}} </mat-cell>
									  </ng-container>
						  
									  <!-- rejected date Column -->
									  <ng-container matColumnDef="rejectedDate">
										<mat-header-cell *matHeaderCellDef>{{'enroll.wizard.tab.summary.table.rejectDate' | translate}}</mat-header-cell>
										<mat-cell *matCellDef="let row;"> {{row.rejectedDate | date:'medium'}}</mat-cell>
									  </ng-container>
									  
									  <ng-container matColumnDef="noData">
										  <mat-footer-cell *matFooterCellDef>{{'monitor.reports.noRecordsFound' | translate}}</td>
									 </ng-container>
									 
									  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
									  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
									  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(historydata!=null && historydata.length==0) || isLoadingResults}"></mat-footer-row>
									</mat-table>
								  </div>
									
							</div>
							<br><br>
	                    <div class="float-right saveCancelBtns">
							<!-- [disabled]="isFederatedUser" -->
	                        <button mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goBack()">{{'back' | translate}}</button>
							<button class="btn btn-primary" data-toggle="modal" data-target="#userSearch">{{'delete' | translate}}</button>
							<button class="btn btn-primary summaryback" (click)="editEnrollment()">{{'edit' | translate}}</button>
	                    </div>
	                </div>
	            </div> 

            </div>
        </div>
    	</div>
    </div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="userSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'searchUser.deleteUser' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style=" margin-left: auto; margin-right: auto;">
                <p>{{'searchUser.confirmDeleteUser' | translate: {username: userFirstAndLastName} }}</p>
        </div>
        <div class="text-center">
            <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="deleteUser()" data-dismiss="modal">{{'yes' | translate}}</button>
            <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate}}</button>
        </div>
    </div>
</div>
</div>
<ng-template #elseBlock>
    <div class="card">
        <div class="card-body">
            <div class="card text-black alert alert-success">
                <div class="card-body">{{message}}</div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="navigateToDashboard()" mat-raised-button  style="margin-left: auto; margin-right: 5px;">{{'done' | translate}}</button>
        </div>
    </div>
</ng-template>