
<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons"></i>
                        </div>
                        <h4 class="card-title">Authentication Logs</h4>
                        <div class="text-dark">
                            <i class="material-icons align-middle">keyboard_arrow_right</i> <span>Last 24 hours</span>
                        </div>
                      </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <jhi-app-md-table
                                      [data]="tableData">
                                  </jhi-app-md-table>
                                  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
                                </div>
                                <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" class="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br/>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">how_to_reg</i>
                            </div>
                            <p class="card-category">Authentications</p>
                            <h3 class="card-title">184</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Success</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Failure</span><span>120</span></div>
                                <div class="d-inline-block"><i class="material-icons">keyboard_arrow_right</i><span>Last 24 hours</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">zoom_in</i>
                            </div>
                            <p class="card-category">Verifications</p>
                            <h3 class="card-title">5521</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Approved</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Denied</span><span>120</span></div>
                                <div class="d-inline-block"><i class="material-icons">keyboard_arrow_right</i><span>Last 24 hours</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Active</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Inactive</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Revoked</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person_add</i>
                            </div>
                            <p class="card-category">Enrollments</p>
                            <h3 class="card-title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Completed</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>In Process</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Rejected</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br/>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">credit_card</i>
                            </div>
                            <p class="card-category">Issuance</p>
                            <h3 class="card-title">184</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Completed</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Waiting</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Failed</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">smartphone</i>
                            </div>
                            <!-- <p class="card-category">MeetIdentity Wallet</p> -->
                            <p class="card-category">Mobile Wallet</p>
                            <h3 class="card-title">721</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Current</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Out of Date</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Unsupported</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">credit_card</i>
                            </div>
                            <p class="card-category">Smart Cards</p>
                            <h3 class="card-title">34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Active</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Suspended</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Revoked</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">vpn_key</i>
                            </div>
                            <p class="card-category">Security Keys</p>
                            <h3 class="card-title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Active</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Suspended</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Revoked</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br/>
            
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">more_horiz</i>
                            </div>
                            <p class="card-category">Total Issued Credentials</p>
                            <h3 class="card-title">184</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="d-inline-block text-success"><span>Visual</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>PKI</span><span>120</span></div>
                                <div class="d-inline-block text-success"><span>OTP</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Push Verify Token</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">compare_arrows</i>
                            </div>
                            <!-- <p class="card-category">MeetIdentity Client</p> -->                            
                            <p class="card-category"> Client</p>
                            <h3 class="card-title">721</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Current</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Out of Date</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Unsupported</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">phone_android</i>
                            </div>
                            <p class="card-category">UIMS Mobile</p>
                            <h3 class="card-title">34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Current</span><span>120</span></div>
                                <div class="d-inline-block text-warning"><span>Out of Date</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Unsupported</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br/>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-info" data-header-animation="true">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                            <div class="text-center">Days till expiration</div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">
                                <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                    <i class="material-icons">build</i> Fix Header!
                                </button>
                                <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">Expiring Visual Identities</h4>
                            <p class="card-category">You have 100 visual identities expiring in next 90 days. <span class="invisible">You have 100 visual identities expiring in next 90 days.</span></p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="d-inline-block"><i class="material-icons">access_time</i><span>Updated 4 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-info" data-header-animation="true">
                            <div class="ct-chart" id="websiteViewsChart2"></div>
                            <div class="text-center">Days till expiration</div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">
                                <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                    <i class="material-icons">build</i> Fix Header!
                                </button>
                                <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">Expiring Visual Identities</h4>
                            <p class="card-category">You have 100 visual identities expiring in next 90 days. <span class="invisible">You have 100 visual identities expiring in next 90 days.</span></p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="d-inline-block"><i class="material-icons">access_time</i><span>Updated 4 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-info" data-header-animation="true">
                            <div class="ct-chart" id="websiteViewsChart3"></div>
                            <div class="text-center">Days till expiration</div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">
                                <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                    <i class="material-icons">build</i> Fix Header!
                                </button>
                                <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                                    [matTooltipPosition]="'below'">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">Expiring Visual Identities</h4>
                            <p class="card-category">You have 100 visual identities expiring in next 90 days. <span class="invisible">You have 100 visual identities expiring in next 90 days.</span></p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="d-inline-block"><i class="material-icons">access_time</i><span>Updated 4 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div> <br/>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">emoji_transportation</i>
                            </div>
                            <p class="card-category">Vehicles</p>
                            <h3 class="card-title">184</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"><span>Active</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Expiring</span><span>120</span></div>
                                <div class="d-inline-block text-danger"><span>Expired</span><span>120</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">check</i>
                            </div>
                            <p class="card-category">Vehicle Verifications</p>
                            <h3 class="card-title">7521</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"></div>
                                <div class="d-inline-block text-danger"></div>
                                <div class="d-inline-block"><i class="material-icons">keyboard_arrow_right</i><span>Last 24 hours</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <p class="card-category">Vehicles Reported</p>
                            <h3 class="card-title">34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats per">
                                <div class="d-inline-block text-success"></div>
                                <div class="d-inline-block text-danger"></div>
                                <div class="d-inline-block"><i class="material-icons">keyboard_arrow_right</i><span>Last 24 hours</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>