.enrollmentTable mat-form-field {
    width: 80%;
}

.cardPaddingBottom {
    padding-bottom: 1em;
}

.cardMarginTop {
    margin-top: 1em;
}

.stats,
.per {
    width: 100%;
}
.per div:first-child {
    width: 33.33%;
}
.per div:nth-child(2) {
    width: 33.33%;
}
.per div:last-child {
    width: 33.33%;
}

.stats div span:first-child {
    margin-right: 0.5em;
}
