<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="far fa-address-card" style="font-size:24px;"></i> -->
                        <svg-icon  style="width: 33px;height:35px" src="../../content/images/icons/group_ic.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
                    </div>
                    <h4 class="card-title">{{'manageGroups.title' | translate}}</h4>
                    <!-- <div class="float-right" style="margin-top: -30px;">
                            <button mat-raised-button class="btn btn-primary" (click)="addGroups()">
                                <mat-icon>add</mat-icon>{{'manageGroups.addGroup' | translate}}
                            </button>
                        </div> -->
                </div>
                <div class="card-body">
                    <!-- Success Message Starts -->
                    <div *ngIf="success">
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{message}}</span>
                        </div>
                    </div>
                    <!-- Success Message Ends -->
                    <!-- Error Message Starts-->
                    <div *ngIf="failure">
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{errorMsg}}</span>
                        </div>
                    </div>
                    <!-- Error Message Ends-->
                        <form [formGroup]="editGroupsForm">
                            <div *ngIf="editMode"  class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <div  class="row">
                                        <div class="col-md-12">
                                            <mat-form-field>
                                                <input   matInput (keyup)="onKeyUpForEditGroupForm($event)"  type="text" formControlName="groupedit">
                                                <mat-error>
                                                    <div *ngIf="editGroupsForm.controls.groupedit.hasError('required')">
                                                        {{'manageGroups.errors.groupName' | translate}}
                                                    </div>
                                                    <div *ngIf="editGroupsForm.controls['groupedit'].hasError('minlength')">
                                                        {{'manageGroups.errors.minLengthValidation' | translate: {nameMinlength: groupNameMinlength} }}
                                                    </div>
                                                    <div *ngIf="editGroupsForm.controls['groupedit'].hasError('maxlength')">
                                                        {{'manageGroups.errors.maxLengthValidation' | translate: {nameMaxlength: groupNameMaxlength} }}
                                                    </div>
                                                    <div *ngIf="editGroupNameValidationError">
                                                        {{'manageGroups.errors.groupNameValidationError' | translate}}
                                                    </div>
                                                    <div *ngIf="groupNameValidationNumberError">
                                                        {{'manageGroups.errors.numbersValidation' | translate}}
                                                    </div>
                                                    <div *ngIf="editGroupsForm.controls['groupedit'].hasError('pattern')">
                                                        {{'manageGroups.errors.specialCharsValidation' | translate}}
                                                    </div>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right saveCancelBtns">
                                    <button  type="button" mat-raised-button class="btn btn-primary" style="background-color: white;color:black;" (click)="goBack()">{{'cancel' | translate}}</button>
                                    
                                </div>
                                <div class="float-right saveCancelBtns">
                                    <div *ngIf="editMode" class="col-md-1">
                                        <button mat-raised-button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="editGroupsForm" (valid)="editGroupById()">
                                            {{'update' | translate}} </button>
                                    </div>
                                   
                                </div>
                            </div>
                        </form>
                      <div *ngIf="editMode" class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-6">
                              <p>{{'manageGroups.editNotification' | translate}} '{{updateGroup.name}}' {{'manageGroups.editNotification-1' | translate}}.</p>
                          </div>
                      </div>
                    <form [formGroup]="manageGroupsForm" #manageFormDirective="ngForm"> 
                        <div *ngIf="!editMode" class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-3 col-2 col-form-label">{{'manageGroups.groupName' | translate}}</label>
                                    <div class="col-md-9 col-9">
                                        <mat-form-field>
                                            <input   matInput (keyup)="onKeyUp($event)"  type="text" formControlName="groupName">
                                            <mat-error>
                                                <div *ngIf="manageGroupsForm.controls.groupName.hasError('required')">
                                                    {{'manageGroups.errors.groupName' | translate}}
                                                </div>
                                                <div *ngIf="manageGroupsForm.controls['groupName'].hasError('minlength')">
                                                    {{'manageGroups.errors.minLengthValidation' | translate: {nameMinlength: groupNameMinlength} }}
                                                </div>
                                                <div *ngIf="manageGroupsForm.controls['groupName'].hasError('maxlength')">
                                                    {{'manageGroups.errors.maxLengthValidation' | translate: {nameMaxlength: groupNameMaxlength} }}
                                                </div>
                                                <div *ngIf="groupNameValidationError">
                                                    {{'manageGroups.errors.groupNameValidationError' | translate}}
                                                </div>
                                                <div *ngIf="groupNameValidationNumberError">
                                                    {{'manageGroups.errors.numbersValidation' | translate}}
                                                </div>
                                                <div *ngIf="manageGroupsForm.controls['groupName'].hasError('pattern')  ">
                                                    {{'manageGroups.errors.specialCharsValidation' | translate}}
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right saveCancelBtns">
                                <button mat-raised-button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="manageGroupsForm"  (valid)="saveGroup()">
                                        {{ ('manageGroups.addGroup' | translate) }} </button>
                            </div>
                        </div>
                    </form>
                    <mat-list #group>
                        <div >
                        <h3 mat-subheader>{{'manageGroups.names' | translate}}</h3>
                            <mat-list-item *ngFor="let group of groups; last as last">
                                <mat-icon mat-list-icon>groups</mat-icon>
                                <div class="col-md-6">
                                    <h4 style="font-weight: 400;" mat-line>{{group.name}}</h4>
                                </div>
                                <button *ngIf="!editMode" mat-raised-button type="button" matTooltip="{{'edit' | translate}}" class="btn btn-success btn-link" style="padding: 12px 0px" (click)="editGroup(group)">
                                    <i  class="material-icons text-success">edit</i>
                                </button>
                                    <button  *ngIf="!editMode" mat-raised-button type="button" matTooltip="{{'delete' | translate}}"
                                        class="btn btn-danger btn-link  closebtn" style="padding: 12px 0px" (click)="deleteGroup(group)"
                                        data-toggle="modal" data-target="#group">
                                        <i class="material-icons">close</i>
                                    </button>
                                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                            </mat-list-item>
                        </div>
                    </mat-list>
                    
                          <!-- <p style="display: none;">
                            Option selected: {{group.selectedOptions.selected[0]?.value}}
                          </p> -->
                        <!-- <div class="float-right saveCancelBtns">
                            <button  class="btn btn-primary"  style="background-color: white;color:black;"  (click)="goHome()">{{'cancel' | translate}}</button>
                        	<button  class="btn btn-primary" (click)="assignGroupToUser()">{{'save' | translate}}</button>
                        </div> -->
                        <div >
                        
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--model start-->
<div class="modal" id="group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'manageGroups.messageDelete' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style=" margin-left: auto; margin-right: auto;">
            <p style="text-align: center">{{'manageGroups.deleteConfirm' | translate}} '{{groupName}}'?</br></p>
        </div>
        <div class="text-center">
        	<button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="delGroup()" data-dismiss="modal">{{'yes' | translate }}</button>
            <button mat-raised-button type="button" style="background-color: white;color:black;" class="btn" data-dismiss="modal">{{'no' | translate }}</button>
        </div>
    </div>
</div>
</div> 