<div class="main-content">
  <div class="container-fluid">
    <div class="mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
          <h4 class="card-title" style="float:left;">{{'monitor.reports.compliance_report_names.enrollment.name'
            | translate }}</h4>
            <div class="dropdown" style="padding-left: 10px; float: right; margin-top: 15px;">
              <button mat-raised-button class="btn btn-primary" data-toggle="dropdown" style="text-transform:capitalize"
              [disabled] = 'data==null || data.length == 0'>
                  <i class="material-icons">save_alt</i> {{'monitor.reports.export' | translate}} <b class="caret"></b></button>
              <ul style="cursor: pointer;" class=" dropdown-menu dropdown-menu-left actionsMenu">
                  <li style="width: 181px;" *ngFor="let file of exportFileTypes">
                      <a (click)="onClickOfExport(file)"> {{file}}</a>
                  </li>
              </ul>
          </div>
          <div style="float: right; margin-top: 15px;">
              <button [hidden]='isAdvancedSelected' mat-raised-button class="btn btn-primary" style="text-transform:capitalize"
                  (click)="onClickOfAdvanced()">
                  {{'monitor.reports.advanced' | translate}} </button>
              <button [hidden]='!isAdvancedSelected' mat-raised-button class="btn btn-primary" style="text-transform:capitalize"
                  (click)="onClickOfBasic()">
                  {{'monitor.reports.basic' | translate}} </button>
          </div>
      </div>
      
        <div class="card-body">

           <div [ngStyle] = "isAdvancedSelected ? {'margin-bottom': '20px'}: {'margin-bottom': '75px'}">
              <form *ngIf="isAdvancedSelected" [formGroup]="filterForm">
                  <div class="row">
                      <div class="col-md-4">
                        <div clas="row" *ngFor="let filter of reportFilters; let even=even; let i=index; let last = last">
                          <mat-form-field *ngIf="even && filter.displayName !== '' && filter.validationObj.type !== 'TIMESTAMP' && filter.validationObj.type !== 'JSON' ">
                            <input matInput [formControlName]="filter.name" [placeholder]="filter.displayName">
                            <mat-error>
                              <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                <small> {{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                              </div>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field *ngIf="even && filter.displayName !== '' && filter.validationObj.type === 'TIMESTAMP' ">
                            <input matInput style="color: black;" [max]="maxDate" [matDatepicker]="i" [placeholder]="filter.displayName"
                              (dateInput)="onChangeDate(filter.name, $event)" [formControlName]="filter.name">
                            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                            <mat-datepicker #i></mat-datepicker>
                            <mat-error>
                              <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                <small>{{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                              </div>
                              <div *ngIf="filterForm.controls[filter.name].hasError('dateValidator')">
                                <small>{{ ('monitor.validation.' + filter.name+"Error") | translate }}</small>
                              </div>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field *ngIf="even && filter.displayName !== '' && filter.validationObj.type === 'JSON'" >
                              <mat-select multiple [formControlName]="filter.name" [placeholder]="filter.displayName">
                                 <mat-option *ngFor="let status of userStatusForSearch" [value]="status.value">
                                  {{ status.displayName }}
                                </mat-option>
                              </mat-select>
                              <mat-error>
                                <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                  <small>{{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                                </div>
                              </mat-error>
                       </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row" *ngFor="let filter of reportFilters; let odd=odd; let last = last">
                          <mat-form-field *ngIf="odd && filter.displayName !== '' && filter.validationObj.type !== 'TIMESTAMP' && filter.validationObj.type !== 'JSON' ">
                            <input matInput [formControlName]="filter.name" [placeholder]="filter.displayName">
                            <mat-error>
                              <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                <small>{{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                              </div>
                            </mat-error>
                          </mat-form-field>
                          <!-- filter.name + MaxDate -->
                          <mat-form-field *ngIf="odd && filter.displayName !== '' && filter.validationObj.type === 'TIMESTAMP' ">
                            <input style="color: black;" matInput [max]="maxDate" [matDatepicker]="i" [placeholder]="filter.displayName"
                              (dateInput)="onChangeDate(filter.name, $event)" [formControlName]="filter.name">
                            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                            <mat-datepicker #i></mat-datepicker>
                            <mat-error>
                              <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                <small>{{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                              </div>
                              <div *ngIf="filterForm.controls[filter.name].hasError('dateValidator')">
                                <small>{{ ('monitor.validation.' + filter.name+"Error") | translate }}</small>
                              </mat-error>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field *ngIf="odd && filter.displayName !== '' && filter.validationObj.type === 'JSON' && filter.name == 'status' " >
                              <mat-select multiple [formControlName]="filter.name" [placeholder]="filter.displayName">
                                <mat-option *ngFor="let status of userStatusForSearch" [value]="status.value">
                                  {{ status.displayName }}
                                </mat-option>
                              </mat-select>
                              <mat-error>
                                <div *ngIf="filterForm.controls[filter.name].hasError('required')">
                                  <small>{{'monitor.validation.required' | translate: { field: filter.displayName } }} </small>
                                </div>
                              </mat-error>
                       </mat-form-field>
                        <div *ngIf="last">
                          <button [hidden]="!isAdvancedSelected" mat-raised-button class="btn btn-primary" style="text-transform:capitalize" 
                          [jhiSubmitIfValid]="filterForm" (valid)="onApplyFilters()"> {{'search' | translate}}</button>
                        </div>
                        </div>
                      </div>
                     
                  </div>
              </form>
           </div>
           <div class="example-container mat-elevation-z8" [ngStyle]="(data!=null && data.length != 0) ? {'height': '400px'}: null ">
          <mat-table [dataSource]="data" matSort matSortDisableClear matSortDirection="desc" >

            <!-- startTimeStamp Column -->
            <ng-container matColumnDef="enrollmentStartDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.startTimestamp'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> 
                  {{ row.enrollmentStartDate | date:'medium' }} </mat-cell>
            </ng-container>

            <!-- completedTimestamp Column -->
            <ng-container matColumnDef="enrollmentEndDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.completedTimestamp'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.enrollmentEndDate | date:'medium'}} </mat-cell>
            </ng-container>

            <!-- enrolledBy Column -->
            <ng-container matColumnDef="enrolledBy">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.enrolledBy'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.enrolledBy}} </mat-cell>
            </ng-container>

            <!-- Username)Column -->
            <ng-container matColumnDef="referenceName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.userName'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.referenceName}} </mat-cell>
            </ng-container>

            <!-- full name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.fullName' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.name}} </mat-cell>
            </ng-container>

            <!-- approvalStatus Column -->
            <!-- (mouseover)="check('fn', row.index)" [id]="row.index" class="dispalyDots" 
            [matTooltip]="showToolTip ? row.status: null" -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.status'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.status}} </mat-cell>
            </ng-container>

            <!-- approvedBy Column -->
            <ng-container matColumnDef="approvedBy">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.approvalBy'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.approvedBy}} </mat-cell>
            </ng-container>

            <!-- approvalStatus Column -->
            <ng-container matColumnDef="approvalStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.approval'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.approvalStatus}} </mat-cell>
            </ng-container>

            <!-- reason Column -->
            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'monitor.reports.compliance_report_names.enrollment.reasonIfDenied'| translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row;"> {{row.reason}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef>{{'monitor.reports.noRecordsFound' | translate}}</td>
           </ng-container>
           
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(data!=null && data.length==0) || isLoadingResults}"></mat-footer-row>
          </mat-table>
        </div>
          <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
            showFirstLastButtons></mat-paginator>

          <div class="float-right saveCancelBtns" style="float: right">
            <button mat-raised-button class="btn btn-primary" type="submit" (click)="onClick('/reports')">{{'back' |
              translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />