<div class="container-fluid">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div *ngIf="failure" class="alert alert-danger">
        {{message}}
    </div>

<div *ngIf="display; else elseBlock">
        <div class="main-content">
    <form [formGroup]="deviceProfileForm" *ngIf="!isLoadingResults">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <h4 class="card-title"> {{'deviceProfile.generalInfo' | translate}} </h4>
            </div>

            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'deviceProfile.name' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="name">
                                        <mat-error>
                                            <div *ngIf="deviceProfileForm.controls['name'].hasError('required')">
                                                <small>{{'deviceProfile.validations.name.required' | translate}} </small>
                                            </div>
                                            <div *ngIf="deviceProfileForm.controls['name'].hasError('minlength')">
                                                <small>{{'deviceProfile.validations.name.minlength' | translate}} </small>
                                            </div>
                                            <div *ngIf="deviceProfileForm.controls['name'].hasError('maxlength')">
                                                <small>{{'deviceProfile.validations.name.maxlength' | translate}}</small>
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'deviceProfile.description' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="description">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'deviceProfile.category' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="category">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'deviceProfile.supplier' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="supplier">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-form-label">
                                    <label>{{'deviceProfile.productName' | translate}}</label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="productName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right saveCancelBtns" *ngIf="!deviceProfileConfig.enableKeyManager">
                    <button class="btn btn-primary" type="button" style="background-color: white;color:black;" (click)="cancel()">{{'cancel' | translate}}</button>
                    <button  class="btn btn-primary" type="submit" [jhiSubmitIfValid]="deviceProfileForm" (valid)="saveDeviceProfile()">{{ ( editMode ? 'update' : 'save' ) | translate}}</button>
                </div>
            </div>
        </div> <br/>

        <div class="card" *ngIf="deviceProfileConfig.enableKeyManager">
            <div class="card-header card-header-primary card-header-text">
                    <div class="card-icon"><i class="material-icons">list</i></div>
                    <h4 class="card-title"> {{'deviceProfile.keyManager' | translate}} </h4>
            </div>
        
            <div class="card-body">
                <h5>{{'deviceProfile.storeKeysIn' | translate}}</h5>
                <mat-radio-group formControlName="keyStorageType">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-radio-button value="Database">{{'deviceProfile.database' | translate}}</mat-radio-button>
                        </div>
                        <div class="col-sm-4">
                            <mat-radio-button value="HSM">{{'deviceProfile.hsm.name' | translate}}</mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group> 
                <div *ngIf="deviceProfileForm.controls['keyStorageType'].value== 'HSM' ">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 col-form-label">
                                <label>{{'deviceProfile.hsm.hsmType' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <mat-select id="asdf" formControlName="hsmType">
                                        <mat-option *ngFor="let hsmType of hsmTypes" [value]="hsmType.value">
                                            {{hsmType.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div [ngSwitch]="deviceProfileForm.get('hsmType').value">
                        <div *ngSwitchCase="1">
                            <div class="container-fluid" formGroupName="hsm">
                                <div class="row">
                                    <div class="col-md-2 col-form-label">
                                        <label>{{'deviceProfile.hsm.partitionName' | translate}}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <input matInput formControlName="partitionName">
                                            <mat-error>
                                                <div *ngIf="deviceProfileForm.get('hsm.partitionName').hasError('required')">
                                                    <small>{{'deviceProfile.validations.required' | translate: {field: ('deviceProfile.hsm.partitionName' | translate) } }}</small>
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-form-label">
                                        <label>{{'deviceProfile.hsm.partitionSerialNo' | translate}}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <input matInput formControlName="partitionSerialNumber">
                                            <mat-error>
                                                <div *ngIf="deviceProfileForm.get('hsm.partitionSerialNumber').hasError('required')">
                                                    <small>{{'deviceProfile.validations.required' | translate: {field: ('deviceProfile.hsm.partitionSerialNo' | translate) } }}</small>
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-form-label">
                                        <label>{{'deviceProfile.hsm.partitionPwd' | translate}}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <input matInput type="password" formControlName="partitionPwd">
                                            <mat-error>
                                                <div *ngIf="deviceProfileForm.get('hsm.partitionPwd').hasError('required')">
                                                    <small>{{'deviceProfile.validations.required' | translate: {field: ('deviceProfile.hsm.partitionPwd' | translate) } }}</small>
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div><br />
                <!-- [ngSwitch]="deviceProfileForm.controls['keyStorageType'].value" Database-->
                <div>
                    <div >
                        <h5>{{'deviceProfile.issuerSecurityDomainKeys' | translate}}</h5>
                        <div class="container-fluid">
                            <div class="row">
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableDiversify">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.diversify' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <mat-select id="asdf" formControlName="diversify" (selectionChange)="enableKeyCeremony($event)">
                                                        <mat-option value="MasterKey">{{'deviceProfile.masterKey' | translate}}</mat-option>
                                                        <mat-option value="MasterKeyCeremony">{{'deviceProfile.masterKeyCeromny' | translate}}</mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['diversify'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.diversify.required' | translate}}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableFactoryManagementKey">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.factoryManagementKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="factoryManagementKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['factoryManagementKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.factoryManagementKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['factoryManagementKey'].hasError('maxlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('factoryManagementKey').errors.maxlength.requiredLength} }}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['factoryManagementKey'].hasError('minlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('factoryManagementKey').errors.minlength.requiredLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableCustomerManagementKey">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.customerManagementKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="customerManagementKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['customerManagementKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.customerManagementKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerManagementKey'].hasError('maxlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerManagementKey').errors.maxlength.requiredLength} }}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerManagementKey'].hasError('minlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerManagementKey').errors.minlength.requiredLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableMasterKey">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.factoryMasterKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="masterKey" (keyup)="changeAdminKeyValue($event.target.value)">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['masterKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.masterKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['masterKey'].hasError('maxlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('masterKey').errors.maxlength.requiredLength} }}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['masterKey'].hasError('minlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('masterKey').errors.minlength.requiredLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-5" *ngIf="deviceProfileConfig.enableDiversify">
                                                <button type="button" class="btn btn-primary" mat-raised-button (click)="keyCeremony=true"
                                                    [disabled]="disableKeyCeremony">
                                                    <i class="fas fa-key"></i> &nbsp;{{'deviceProfile.keyCeremony' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableAkIsIdenticalToMkCheck">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-check float-right" style="margin-top: 5px;">
                                                    <label class="form-check-label">
                                                        <input (change)="changeAdminKey($event)" class="form-check-input" type="checkbox"
                                                            formControlName="isAdminkeySameAsMasterKey">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                    {{'deviceProfile.adminKeySameAsMasterKey' | translate}}
                                            </div>
                                        </div>
                                    </div>    
                                <div class="col-md-12" *ngIf="deviceProfileConfig.enableAdminKey">
                                    <div class="row">
                                        <div class="col-md-2 col-form-label">
                                            <label>{{'deviceProfile.adminKey' | translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input matInput type="password" formControlName="adminKey" [disabled]="disableAdminKey">
                                                <mat-error>
                                                    <div *ngIf="deviceProfileForm.controls['adminKey'].hasError('required')">
                                                        <small>{{'deviceProfile.validations.adminKey.required' | translate}}</small>
                                                    </div>
                                                    <div *ngIf="deviceProfileForm.controls['adminKey'].hasError('maxlength')">
                                                        <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('adminKey').errors.maxlength.requiredLength} }}</small>
                                                    </div>
                                                    <div *ngIf="deviceProfileForm.controls['adminKey'].hasError('minlength')">
                                                        <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('adminKey').errors.minlength.requiredLength} }}</small>
                                                    </div>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableCustomerMasterKey">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.customerMasterKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="customerMasterKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['customerMasterKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.customerMasterKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerMasterKey'].hasError('maxlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerMasterKey').errors.maxlength.requiredLength} }}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerMasterKey'].hasError('minlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerMasterKey').errors.minlength.requiredLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" *ngIf="deviceProfileConfig.enableCustomerAdminKey">
                                        <div class="row">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.customerAdminKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="customerAdminKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['customerAdminKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.customerAdminKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerAdminKey'].hasError('maxlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerAdminKey').errors.maxlength.requiredLength} }}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['customerAdminKey'].hasError('minlength')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: deviceProfileForm.get('customerAdminKey').errors.minlength.requiredLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12" >
                                        <div class="row" *ngIf="deviceProfileConfig.enableEncKey">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.gpEncKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="gpEncKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['gpEncKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.gpEncKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['gpEncKey'].hasError('lengthValidator')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: validateKeyLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    
                                        <div class="row" *ngIf="deviceProfileConfig.enableMacKey">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.gpMacKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="gpMacKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['gpMacKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.gpMacKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['gpMacKey'].hasError('lengthValidator')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: validateKeyLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    
                                        <div class="row" *ngIf="deviceProfileConfig.enableKekKey">
                                            <div class="col-md-2 col-form-label">
                                                <label>{{'deviceProfile.gpKekKey' | translate}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <mat-form-field>
                                                    <input matInput type="password" formControlName="gpKekKey">
                                                    <mat-error>
                                                        <div *ngIf="deviceProfileForm.controls['gpKekKey'].hasError('required')">
                                                            <small>{{'deviceProfile.validations.gpKekKey.required' | translate}}</small>
                                                        </div>
                                                        <div *ngIf="deviceProfileForm.controls['gpKekKey'].hasError('lengthValidator')">
                                                            <small>{{'deviceProfile.validations.length' | translate: {length: validateKeyLength} }}</small>
                                                        </div>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div> -->
                            </div>
                        </div><br>
        
                        <div *ngIf="keyCeremony">
                            <div class="card-body">
                                <div style="border: 1px solid #8080803d ">
                                    <h5 class="card-header card-header-primary">{{'deviceProfile.keyCermonyComputation' | translate}}</h5> <br />
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-1 col-form-label">
                                                        <label>{{'deviceProfile.algorithm' | translate}}</label>
                                                    </div>
                                                
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <mat-select placeholder="{{'deviceProfile.algorithm' | translate}}">
                                                                <mat-option *ngFor="let algorithmType of algorithmTypes" [value]="algorithmType.value">
                                                                    {{algorithmType.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-1 col-form-label">
                                                        <label>{{'deviceProfile.encryptionKey' | translate}}</label>
                                                    </div>
                                                
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput placeholder="{{'deviceProfile.encryptionKey' | translate}}">
                                                        </mat-form-field>
                                                    </div>
                                                
                                                    <div class="col-md-1 col-form-label">
                                                        <label>{{'deviceProfile.checkValue' | translate}}</label>
                                                    </div>
                                                
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput placeholder="{{'deviceProfile.checkValue' | translate}}">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div style="border: 1px solid #8080803d; margin-top: 10px; "> 
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.tkf1' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.checkValue' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.tkf2' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.checkValue' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.tkf3' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.checkValue' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3 col-2 col-form-label">{{'deviceProfile.tkChckValue' | translate}}</label>
                                                    <div class="col-md-9 col-9">
                                                        <mat-form-field class="full-width">
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div style="margin-top: 15px">
                                    <button type="button" mat-raised-button class="btn btn-info">{{'deviceProfile.masterKeyCeromny' | translate}}</button>
                                    <button mat-raised-button type="button" class="btn btn-info" (click)="keyCeremony=false">{{'cancel' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
        

                </div>
        
                <div class="float-right saveCancelBtns">
                    <button  class="btn btn-primary" type="button" style="background-color: white;color:black;" (click)="cancel()">{{'cancel' | translate}}</button>
                    <button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="deviceProfileForm" (valid)="saveDeviceProfile()">{{ ( editMode ? 'update' : 'save' ) | translate}}</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
<br/>

<ng-template #elseBlock>
    <div class="card">
        <div class="card-body">
            <div class="card alert alert-success">
                <div class="card-body">{{message}}</div>
            </div>
        </div>
        <div class="card-body">
            <button style="float: right" mat-raised-button class="btn btn-primary" routerLink='/deviceProfile'>{{'global.menu.home' | translate}}</button>
        </div>
    </div>
</ng-template>
</div>