<div class="col-md-12">
    <!--  <div>
        <p style="float: left; margin-bottom: 50px"> Identity Devices of James Smith</p>
    </div>      -->
    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title" style="float:left;">{{'home.stats.headers.issuedDevices' | translate }}</h4>
        </div>
            <div *ngIf="isPageLoaded" class="card-body">
                <div *ngIf="!userEnrolled">
                    <div *ngIf="isEnrollmentEnabled" style="text-align: center">
                        <h4  style="text-align: center">{{'issuance.usernotenrolled_1' | translate}} <a routerLinkActive="true" [routerLink]="['/register']"> {{'issuance.usernotenrolled_2' | translate}}</a> {{'issuance.usernotenrolled_3' | translate}}</h4>
                    </div>
                    <h4 *ngIf="!isEnrollmentEnabled" style="text-align: center">
                        {{'issuance.notenrolledMsgForUser' | translate}}
                    </h4>
                </div>
                <div *ngIf="userEnrolled && issuedDevicesForUser.length == 0">
                    <div *ngIf="!isPendingApproval">
                        <button *ngIf="isIssuanceEnabled" style="float: right; margin-top: -30px" class="btn btn-primary" (click)="issueUser()">
                            <mat-icon>add</mat-icon>{{'manageIdentiyDevices.addIdentityDevices' | translate}}
                        </button>
                        <h4 *ngIf="!isIssuanceEnabled" style="text-align: center">
                            {{'manageIdentiyDevices.noIssuancePermission' | translate}}</h4>
                        <h4 *ngIf="isIssuanceEnabled" style="text-align: center">
                            {{'manageIdentiyDevices.noDevicesFound' | translate}}</h4>
                    </div>
                    <div *ngIf="isPendingApproval">
                        <h4 style="text-align: center">{{'manageIdentiyDevices.pendingApproval' | translate}}</h4>
                    </div>
                </div>
                <div *ngIf="issuedDevicesForUser.length > 0" class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{'home.stats.issuedDevices.type' | translate }}</th>
                                    <th scope="col">{{'home.stats.issuedDevices.name' | translate }}</th>
                                    <th scope="col">{{'home.stats.issuedDevices.serial' | translate }}</th>
                                    <th scope="col">{{'home.stats.issuedDevices.status' | translate }}</th>
                                    <!-- <th scope="col">{{'home.stats.issuedDevices.actions' | translate }}</th> -->
                                </tr>
                            </thead>

                            <tbody class="ng-star-inserted" *ngIf="issuedDevicesForUser.length == 0">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="issuedDevicesForUser.length > 0" class=" ng-star-inserted">
                                <tr *ngFor="let issuedDevice of issuedDevicesForUser ; let i= index;">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{issuedDevice.type}}</td>
                                    <td>{{issuedDevice.name}}</td>
                                    <td>{{issuedDevice.serialnumber}}</td>
                                    <td>{{issuedDevice.status}}</td>
                                    <!-- <td><i style="cursor:pointer" class="material-icons text-danger" title="Delete">
                                            delete </i> -->
                                </tr>
                            </tbody>

                        </table>

                        <!--  <tr>
                                                        <th scope="row">1</th>
                                                        <td></td>
                                                        <td>ID Card</td>
                                                        <td>245672345</td>
                                                        <td>Connected</td>
                                                        <td>
                                                            <i class="material-icons text-danger" title="Delete"> delete </i>
                                                        </td>
                                                    </tr> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
      