<div class="main-content">
    <div class="container-fluid">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
          <div class="card">
            <div class="card-header card-header-primary card-header-text">
                <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
                <h4 class="card-title">{{'manageIdentiyDevices.revoke' | translate}}</h4>
            </div>
       
              <div class="card-body">
                <!-- Error Message Starts -->
                <div *ngIf="error">
                  <div class="alert alert-danger">
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>{{message}}</span>
                  </div>
                </div>
                <!-- suceess message -->
                <div *ngIf="!display">
                  <div class="alert alert-success">
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goBack()">
                      <i class="material-icons">close</i>
                    </button>
                    <span>{{message}}</span>
                  </div>
                  <div class="float-right">
                    <button mat-raised-button class="btn btn-primary" (click)="goBack()">{{'done' | translate}}</button>
                  </div>
                </div>
                <!-- Error Message Ends -->
                <form [formGroup]="revokeForm" *ngIf="display">
                <h5>{{'manageIdentiyDevices.revokeDescription' | translate}}</h5>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select (selectionChange)="checkReason($event)" formControlName="reason">
                      <mat-option *ngFor="let reason of reasons" [value]="reason">
                        {{reason.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="revokeForm.controls['reason'].hasError('required')">
                      {{'manageIdentiyDevices.validations.reason.required' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="enableInputField">
                  <mat-form-field>
                    <input matInput formControlName="reasonComment" placeholder="{{'manageIdentiyDevices.reason' | translate}}">
                    <mat-error *ngIf="revokeForm.controls['reasonComment'].hasError('required')">
                        {{'manageIdentiyDevices.validations.reason.required' | translate}}
                      </mat-error>
                  </mat-form-field>
                </div>
              <div class="saveCancelBtns float-right">
                  <button mat-raised-button class="btn  btn-primary" [jhiSubmitIfValid]="revokeForm" (valid)="revokeDevice()">{{'ok' | translate}}</button>
                  <button mat-raised-button class="btn btn-primary" routerLink="../manageIdentityDevices">{{'cancel' | translate}}</button>
              </div>
            </form>
            </div>
          </div>
    
    </div>
  </div>
