<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">print</i>
                    </div>
                    <h4 class="card-title">{{'Card_Printers' | translate}}</h4>
                </div>
                <div class="card-body cardMarginTop">
                     <!--Enrollment Starts-->
                     <div class="card-body">
                            <div class="card shadowclass cardPaddingBottom">
                                <div class="card-header card-header-primary">
                                    <h4>Printer List</h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="wftable">
                                        <label>Add card printers to allow card printing option on specific work stations. Only when these printers are detected the card print option during issuance will be available.</label>
                                    </div>
                    
                                    <div class="cardPaddingBottom">
                                        <form [formGroup]="cardPrinterForm">
                                        <table class="table borderless enrollmentTable">
                                            <thead>
                                                <tr>
                                                    <th>Printer Name</th>
                                                    <th>Device Identifier</th>
                                                    <th>IP Address</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="printerListForm">
                                                <tr *ngFor="let printer of cardPrinterForm.controls.printerListForm['controls']; index as i"
                                                [formGroupName]="i">
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput type="text" formControlName="printerName">
                                                        </mat-form-field>
                                                    </td>
                    
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput type="text" formControlName="deviceIdentifier">
                                                        </mat-form-field>
                                                    </td>
                    
                                                    <td>
                                                        <mat-form-field>
                                                            <input matInput type="text" formControlName="deviceIdentifier">
                                                        </mat-form-field>
                                                    </td>
                                                    
                                                    <td>
                                                        <button class="btn btn-link"  (click)="removeEnrollment(i)">
                                                            <i class="material-icons text-danger">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button mat-raised-button class="btn btn-info addEnrollBtn text-capitalize" (click)="addPrinter()">
                                                    <mat-icon class="mat-icon material-icons">add</mat-icon>Add Printer
                                                </button>
                                            </div>
                                        </div>
                                        <div class="float-right saveCancelBtns">
                                            <button mat-raised-button class="btn btn-primary">save</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Enrollment ends-->
                </div>
            </div>
        </div>
    </div>
</div>