@charset "UTF-8";

.info {
    padding: 0px !important;
    max-width: 420px;
}

.info-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-horizontal {
    margin-bottom: 1em;
    width: 450px;
}

.info-horizontal .icon {
    margin-top: -6px;
}

.loginBg {
    background-color: #000;
    height: 100vh;
}

.loginForm mat-form-field {
    width: 80%;
}

.loginForm button {
    width: 40%;
    text-transform: none;
    color: #fff;
    text-transform: none;
}

.loginForm h4:first-child {
    font-weight: bold;
}

.loginColumn {
    background: #fbf9fa;
    border-radius: 0px 6px 6px 0px;
}

.cardPosition {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body,
html {
    height: 100%;
}

.loginsvgIcon {
    float: left;
    margin-right: 12px;
    width: 30px;
    text-align: center;
    margin-top: 1em;
    fill: #00bcd4;
}

.loginTitle,
.loginDescription {
    width: 100%;
}

.card-login {
    width: 100%;
    box-shadow: 0 1px 3px 0 #00bcd4;
}

.pkiLoginBtn,
.classicLoginBtn {
    display: block;
    width: 100%;
    margin: 3em 0em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.logo {
    width: 100%;
}

.logo img {
    width: 25%;
}

.logoIcon {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5em;
}

.logoIcon img {
    width: 50px;
}

.footerText {
    display: inline-block;
    vertical-align: top;
}

.infoBody {
    margin-top: 4em;
}

.footerText a:hover {
    cursor: pointer;
}

.poweredBy,
.privacy,
.version {
    font-weight: 400;
}

.footer {
    // position:absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 35px;
    // padding-top: 20px;
    // margin-top: 2em;
    // background-color: #f9f8f8;
    // padding: 0em;
    // border-radius: 0px 0px 6px 6px;
}

.cardPosition > .card {
    height: 586px;
}
.privacy a {
    color: #00bcd4;
}

.privacy a:hover {
    color: #008ea1 !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
.modal-ku {
    width: 750px;
    margin: auto;
}

.signUp {
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.color {
    color: #00bcd4;
    margin-left: 1%;
    font-weight: 400;
}

.modal-dialog .btn {
    background-color: #00bcd4 !important;
    color: white !important;
    box-shadow: none !important;
    text-transform: none;
    padding: 10px;
}

.vertical-line {
    border-left: 2px solid #00bcd4;
    height: 24px;
    margin-left: 1%;
}
.cursor {
    color: #00bcd4;
    cursor: pointer;
}

/******************************/
.not-available {
    margin-bottom: 10px;
}

.github {
    margin: 3px 0;
    img {
        margin-top: -3px;
    }
}

.signup,
.signin {
    height: 300px;
}

.info {
    margin: 50px 0;
}

.or {
    margin: 8px 0;
}

.user {
    margin-bottom: 5px;
    // padding: 5px;
    // border-bottom: 1px solid lightgray;
}

// .user:hover {
//   background-color: #eee;
// }
