table {
  width: 100%;
}

table mat-header-cell {
  border-bottom-width: 1px;
  font-size: 1.0625rem;
  font-weight: 300;
  color: #333433;
}

.paddingBtn{
  padding: 12px 0px !important;
}
.pendingEnrollmentHide {
   display: none;
}
  /* mat-table */
 mat-footer-row mat-footer-cell  {
  justify-content: center;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}