<div class="main-content">
  <div class="container-fluid">
    <div class="mat-elevation-z8">
      <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <!-- <i class="far fa-user-circle" style="font-size:24px;"></i> -->
              <svg-icon  style="width: 33px;height:35px"  src="../../content/images/icons/device_profile_ic.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)','padding-left.px': 5,'width.px':29}"></svg-icon></div>
             <h4 class="card-title">{{'deviceProfile.manageDevProf' | translate}} </h4>

            <div class="float-right" style="margin-top: -30px;">
              <button mat-raised-button class="btn btn-primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>{{'deviceProfile.addDevProf' | translate}}
              </button>
            </div>
              
          </div>

          <!-- <div *ngIf="deleteMsgDisplay" class="card  bg-info text-white">
            <div class="card-body">{{message}}
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="deleteMsgDisplay=false">
                <i class="material-icons">close</i>
              </button>
            </div>
          </div>  -->

            <div class="card-body">
            <!-- Delete successful message starts -->
            <div *ngIf="deleteMsgDisplay">
              <div class="alert alert-success">
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>{{message}}</span>
              </div>
            </div>
            <div *ngIf="delFailure">
              <div class="alert alert-danger">
                  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                  </button>
                  <span>{{message}}</span>
              </div>
          </div>
          <!-- Delete successful message Ends -->
            
        <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="desc">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'deviceProfile.name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
        
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'deviceProfile.description' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>
        
          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'deviceProfile.category' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.configValueCategory.value}} </mat-cell>
          </ng-container>
        
          <!-- Supplier Column -->
          <ng-container matColumnDef="supplier">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'deviceProfile.supplier' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.configValueSupplier.value}} </mat-cell>
          </ng-container>
        
          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'deviceProfile.productName' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.configValueProductName.value}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef style="width:30%"> {{'deviceProfile.actions' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="td-actions">
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="{{'edit' | translate}}" (click)="editDeviceProfile(element)">
                  <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link closebtn"  matTooltip="{{'delete' | translate}}" (click)="setDeviceProfileTBD(element)"data-toggle="modal" data-target="#deviceProfile">
                  <i class="material-icons">close</i>
              </button>
            </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Starts -->
<div class="modal fade" id="deviceProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">{{'deviceProfile.delDevPof' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{'deviceProfile.confirmDelete' | translate }}</p>
        </div>
        <div class="text-center">
            <button mat-raised-button type="button" class="btn" data-dismiss="modal">{{'no' | translate }}</button>
            <button mat-raised-button type="button" class="btn modalBtnMarginLeft" data-dismiss="modal" (click)="deleteDeviceProfile()">{{'yes' | translate }}</button>
        </div>
    </div>
</div>
</div> 