

<div mat-dialog-content>
  <!-- <p><strong> {{'deviceProfile.selectCardType' | translate}}</strong> -->
    <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button> <br/>
    <h4 class="text-center">{{'deviceProfile.title' | translate}}</h4>
    <form [formGroup]= "devProfileDialogForm">
    <mat-form-field style="width:300px;  margin-top: 25px">
        <mat-select matInput placeholder="{{'deviceProfile.category' | translate}}" (selectionChange)="changeSupplier($event)"
          formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.value}} </mat-option>
        </mat-select>
        <mat-error>
            <div *ngIf="devProfileDialogForm.controls['category'].hasError('required')">
                <small>{{'deviceProfile.validations.required' | translate: { field: 'deviceProfile.category' | translate } }}</small>
            </div>
        </mat-error>
      </mat-form-field>

  <mat-form-field style="width:300px;  margin-top: 25px">
    <mat-select matInput placeholder="{{'deviceProfile.supplier' | translate}}" (selectionChange)="changeAppleType($event)"
      formControlName="supplier">
      <mat-option *ngFor="let supplier of suppliers" [value]="supplier" >
        {{supplier.value}} </mat-option>
    </mat-select>
    <mat-error>
        <div *ngIf="devProfileDialogForm.controls['supplier'].hasError('required')">
            <small>{{'deviceProfile.validations.required' | translate: { field: 'deviceProfile.supplier' | translate } }}</small>
        </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width:300px; margin-top: 22px">
    <mat-select matInput placeholder="{{'deviceProfile.productName' | translate}}" 
    formControlName="productName" >
      <mat-option *ngFor="let productName of productNames" [value]="productName">
        {{productName.value}} </mat-option>
    </mat-select>
    <mat-error>
        <div *ngIf="devProfileDialogForm.controls['productName'].hasError('required')">
            <small>{{'deviceProfile.validations.required' | translate: { field: 'deviceProfile.productName' | translate } }}</small>
        </div>
    </mat-error>
  </mat-form-field>
</form>
</div>
<div class="text-center saveCancelBtns">
      <button class="btn btn-primary"  [disabled]="devProfileDialogForm.invalid" [mat-dialog-close]="devProfileDialogForm.value">{{'ok' | translate}}</button>
      <button  class="btn btn-primary" (click)="onNoClick()">{{'cancel' | translate}}</button>
</div> 
