table {
    width: 100%;
  }

  table mat-header-cell {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
  }

             
             
  .td-actions button {
    padding: 12px 0px !important;
  }

  .confirmBtn{
    background-color: none;
    :hover{
      background-color: red;
    }
  }

  .modal-body{
    padding-top: 24px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }