<div class="main-content">
    <div class="container-fluid">      
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
      <div class="card" >
        <div class="card-header card-header-primary card-header-text">
            <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
            <h4 class="card-title">{{'manageIdentiyDevices.activate' | translate}}</h4>
        </div>
  
        <div class="card-body">
            <!--  Error Message Starts-->
            <div *ngIf="errorDisplay">
                <div class="alert alert-danger">
                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <span>{{message}}</span>
                </div>
            </div>
            <div *ngIf="successMail">
              <div class="alert alert-success">
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span>{{successMailMsg}}</span>
            </div>
            </div>
            <!--  Error Message ends -->
          <form [formGroup]="activationForm" *ngIf="display; else elseBlock">
            <h4> {{'manageIdentiyDevices.activateDescription' | translate}} </h4>
            <h5>{{'manageIdentiyDevices.activationVerifyMsg' | translate}}</h5>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 col-form-label">
                    <label for="perso">{{'issuance.connected' | translate}} {{'issuance.cardReader' | translate}}</label>
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                      <mat-select formControlName="identityDevice">
                        <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                          {{cardReader.cardReaderName}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="activationForm.controls['identityDevice'].hasError('required')">
                        {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                    </mat-form-field>
                </div>
              </div>
  
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 col-form-label">
                  <label>Old PIN</label>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input jhiNumbersOnly matInput type="password" placeholder="{{'manageIdentiyDevices.pin' | translate}}" formControlName="pin" [type]="oldPinHide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="oldPinHide = !oldPinHide">{{oldPinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="activationForm.controls['pin'].hasError('required')">
                      {{'issuance.validations.pin.required' | translate}}</mat-error>
                    <mat-error *ngIf="activationForm.controls['pin'].hasError('pattern')">
                          {{'issuance.validations.lengthError' | translate}}</mat-error>
                  </mat-form-field>
                  <div>
                    <a class="text-info" style="cursor: pointer;" (click)="resendPinThroughMail()" >{{'manageIdentiyDevices.forgotMyPin' | translate}}</a>
                  </div>
                </div>
              </div>
  
              <div class="row" style="margin-bottom: 15px; margin-top: 12px;">
                <div class="col-md-2 col-form-label">
                    <label>{{'issuance.newPin' | translate}}</label>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input jhiNumbersOnly matInput type="password" placeholder="New PIN" formControlName="newPin" [type]="pinHide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="pinHide = !pinHide">{{pinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="activationForm.controls['newPin'].hasError('required')">
                      {{'manageIdentiyDevices.validations.newPin.required' | translate}}</mat-error>
                    <mat-error *ngIf="activationForm.controls['newPin'].hasError('compareEqual')">
                      {{'manageIdentiyDevices.validations.newPin.equal' | translate}}</mat-error>
                    <mat-error *ngIf="activationForm.controls['newPin'].hasError('pattern')">
                    {{'issuance.validations.lengthError' | translate}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="row">
                  <div class="col-md-2 col-form-label">
                      <label>{{'issuance.confirmPin' | translate}}</label>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field>
                      <input jhiNumbersOnly matInput type="password" placeholder="Confirm New PIN" formControlName="confirmPin" [type]="confirmPinHide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="confirmPinHide = !confirmPinHide">{{confirmPinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="activationForm.controls['confirmPin'].hasError('required')">
                        {{'issuance.validations.confirmPin.required' | translate}}</mat-error>
                      <mat-error *ngIf="activationForm.controls['confirmPin'].hasError('compare')">
                        {{'issuance.validations.confirmPin.compare' | translate}} </mat-error>
                      <mat-error *ngIf="activationForm.controls['confirmPin'].hasError('pattern')">
                          {{'issuance.validations.lengthError' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
              </div>
            </div>
            <div class="saveCancelBtns float-right">
              <button mat-raised-button class="btn  btn-primary" [jhiSubmitIfValid]="activationForm" (valid)="activate()">{{'ok' | translate}}</button>
              <button mat-raised-button class="btn btn-primary" routerLink="../manageIdentityDevices">{{'cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
      <div class="alert alert-success">
          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goHome()">
              <i class="material-icons">close</i>
          </button>
          <span>{{message}}</span>
      </div>
      <div class="float-right">
          <button mat-raised-button class="btn btn-primary" routerLink='../manageIdentityDevices'>{{'done' | translate}}</button>
      </div>
  </ng-template>