<div class="main-content">
    <div class="container-fluid"> 
        <div class="card" >
                <div class="card-header card-header-primary card-header-text">
                    <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
                    <h4 class="card-title">{{'manageIdentiyDevices.renew.title' | translate}}</h4>
                </div>
            <div class="card-body" *ngIf="display">
                <!-- Error Message Starts -->
                <div *ngIf="errorDisplay">
                    <div class="alert alert-danger">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>{{errorMsg}}</span>
                    </div>
                </div>
                <!-- Error Message Ends -->
                <h4>{{'manageIdentiyDevices.renew.renewDescription' | translate }}</h4>
                <form [formGroup]="renewForm">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="perso" class="col-md-2 col-2 col-form-label">{{'issuance.connected' | translate}} {{'issuance.cardReader' | translate}}</label>
                            <div class="col-md-5 col-5">
                                <mat-form-field>
                                    <mat-select formControlName="identityDevice">
                                        <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                                            {{cardReader.cardReaderName}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="renewForm.controls['identityDevice'].hasError('required')">
                                        {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <label for="perso" class="col-md-2 col-2 col-form-label">PIN</label>
                            <div class="col-md-5 col-5">
                                <mat-form-field>
                                    <input jhiNumbersOnly matInput type="password" [type]="pinHide ? 'password' : 'text'" formControlName="pin">
                                    <mat-icon matSuffix (click)="pinHide = !pinHide">{{pinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="renewForm.controls['pin'].hasError('required')">{{'issuance.validations.pin.required' | translate}}</mat-error>
                                    <mat-error *ngIf="renewForm.controls['pin'].hasError('pattern')">
                                        {{'issuance.validations.lengthError' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div> <br/>
                   
                    <h4>List of Certificates</h4>
               
                    <table class="manage_wf_table" mat-table [dataSource]="data" style="width:100%">
                    
                         <!-- check box Column -->
                        <!-- <ng-container matColumnDef="CheckBox">
                            <th mat-header-cell *matHeaderCellDef class="text-primary"> 
                                <mat-checkbox formControlName = "checkBox"  [(ngModel)] = "checkBox"  (change)="onCheckChange($event)"></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let cert"><mat-checkbox [(ngModel)] = "cert.checkBoxValue"  [disabled]="cert.disableCheckBox" (change)="onRowCheckChange($event, cert)" formControlName = "checked"></mat-checkbox></td>
                        </ng-container> -->


                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]= "isIntermediate()"  >
                                     <!--[ngStyle] = 'intermediateStyle' 
                                         [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [ngStyle] = "(selection.hasValue() && !isAllSelected()) && 
                                    {'border': '1px #00bcd4 solid; border-radius: 2px'}" -->
                                    <!-- (selection.hasValue() && !isAllSelected()) &&  isIntermediate-->
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let cert">
                                <mat-checkbox (click)="$event.stopPropagation()" [disabled]="cert.disableCheckBox" 
                                (change)="$event ? selection.toggle(cert) : null" [checked]="selection.isSelected(cert)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef class="text-primary">{{'manageIdentiyDevices.renew.name' | translate}}</th>
                            <td mat-cell *matCellDef="let cert">{{ cert.containerName }}</td>
                        </ng-container>
                    
                        <!-- Issuer Column -->
                        <ng-container matColumnDef="Issuer">
                            <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageIdentiyDevices.renew.issuer' |
                                translate}}</th>
                            <td mat-cell *matCellDef="let cert"> {{cert.certIssuer}}</td>
                        </ng-container>
                    
                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageIdentiyDevices.renew.status' |
                                translate}}</th>
                            <td mat-cell *matCellDef="let cert">{{cert.certStatus}}</td>
                        </ng-container>
                    
                        <!-- Expires Column -->
                        <ng-container matColumnDef="Expires">
                            <th mat-header-cell *matHeaderCellDef class="text-primary">{{'manageIdentiyDevices.renew.expires' |
                                translate}}</th>
                            <td mat-cell *matCellDef="let cert">{{cert.expiryDate}}</td>
                        </ng-container>

                          <!-- Renew Eligibility Column -->
                          <ng-container matColumnDef="RenewalEligibility">
                            <th mat-header-cell *matHeaderCellDef class="text-primary">{{'manageIdentiyDevices.renew.renewalEligibility' |
                                translate}}</th>
                            <td mat-cell *matCellDef="let cert">{{ cert.renewalEligibility ? 'Eligible' : 'Ineligible' }}</td>
                        </ng-container>
                    
                        <!-- Actions Column -->
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'manageIdentiyDevices.renew.action' |
                                translate}}</th>
                            <td class="actionIcons" mat-cell *matCellDef="let cert">
                               {{cert.action}}
                            </td>
                        </ng-container>
                    

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <!-- !row.disableCheckBox will prevent those rows from being clicked -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                          (click)="!row.disableCheckBox && selection.toggle(row)"
                          [ngStyle]="row.disableCheckBox && {'background-color': 'lightgrey'}">
                        </tr>


                    </table>

                    <div class="saveCancelBtns float-right">
                        <button mat-raised-button [disabled]='!isActionEligible' class="btn  btn-primary" [jhiSubmitIfValid]="renewForm" (valid)="startRenew()">{{'ok' | translate}}</button>
                        <button mat-raised-button class="btn btn-primary" routerLink="../manageIdentityDevices">{{'cancel' | translate}}</button>
                </div>
                </form>
            </div>

            <div  *ngIf="!display">
                <div class="card-body">
                    <div class="card" [hidden]='success || failure'>
                        <div class="card-body">
                            <div>
                                <div class="progress">
                                    <div [class]="progressClass" class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':width + '%'}"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{width}}%</div>
                                </div>
                                <div style="text-align: center;">{{message}}</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="card" *ngIf="success">
                        <div class="card-body">
                            <div class="card text-black alert alert-success">
                                <div class="card-body">{{message}}</div>
                            </div>
                        </div>
                        <div class="card-body">
                                <!-- routerLink='../' -->
                                <button class="btn btn-primary" style="float: right"  routerLink='../manageIdentityDevices' mat-raised-button>{{'done' | translate}}</button>
                        </div>
                    </div>
            
                    <div class="card" *ngIf="failure">
                        <div class="card-body">
                            <div class="card text-black alert alert-danger">
                                <div class="card-body">{{message}}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary" style="float: right" (click)="retry()" mat-raised-button> {{'retry' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
   
  </div>
  </div>
  <!-- <ng-template #elseBlock>
      <div class="card">
          <div class="card-body">
              <div class="card text-black alert alert-success">
                  <div class="card-body">{{message}}</div>
              </div>
          </div>
          <div class="card-footer">
              <button routerLink='/manageIdentityDevices' mat-raised-button>{{'done' | translate}}</button>
          </div>
      </div>
  </ng-template>
*ngIf="display; else elseBlock" -->
  