
table {
    width: 100%;
  }

  table mat-header-cell {
    border-bottom-width: 1px;
    font-size: 1.0625rem;
    font-weight: 300;
    color: #333433;
  }

  .paddingBtn{
    padding: 12px 0px !important;
  }