<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon"><i class="fas fa-car" style="font-size:24px;"></i></div>
                        <h4 class="card-title">{{'vehicleRegistration.title' | translate}}</h4>
                    </div>
                    <div *ngIf="succesMsg" class="alert alert-success" style="margin-top: 20px">
                        <div>{{message}}
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="succesMsg=false">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="float-right">
                            <button mat-raised-button class="btn btn-primary" (click)="addVehicleRegistration()">
                                <mat-icon>add</mat-icon>{{'vehicleRegistration.addVehicleReg' | translate}}
                            </button>
                        </div>
                    </div>
                    <table mat-table [dataSource]="data" matSort matSortDisableClear matSortDirection="desc">
                        <!-- VIN Column -->
                        <ng-container matColumnDef="vin">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.vin' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.vin}} </mat-cell>
                        </ng-container>
    
                        <!-- Make Column -->
                        <ng-container matColumnDef="make">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.make' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.make}} </mat-cell>
                        </ng-container>

                        <!-- Year Column -->
                        <ng-container matColumnDef="year">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.year' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.year}} </mat-cell>
                        </ng-container>

                        <!-- Model Column -->
                        <ng-container matColumnDef="model">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.model' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </mat-cell>
                        </ng-container>

                         <!-- Number Plate Column -->
                         <ng-container matColumnDef="licensePlateNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.numberPlate' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.licensePlateNumber}} </mat-cell>
                        </ng-container>

                        <!--Owner Column -->
                        <ng-container matColumnDef="owner">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'vehicleRegistration.header-section.owner' | translate}}</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle"> {{vehicle.ownerName}} </mat-cell>
                        </ng-container>
    
                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef style="width:30%">{{'vehicleRegistration.header-section.actions' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let vehicle">
    
                              <button mat-raised-button type="button" matTooltip="Edit" class="btn btn-success btn-link paddingBtn" (click)="editVehicleReg(vehicle.licensePlateNumber)">
                                    <i class="material-icons">edit</i>
                              </button>
                                    <!-- *ngIf="workflow.canEdit" *ngIf="workflow.canDelete"  -->
                              <button mat-raised-button type="button" matTooltip="Delete" class="btn btn-danger btn-link paddingBtn" (click)="deleteVehicleReg(vehicle.vin)">
                                    <i class="material-icons">close</i>
                              </button>
                            </mat-cell>
                          </ng-container>
    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </table>
                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>