<nav #navbar class="navbar navbar-expand-lg navbar-transparent  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="width: 300px">
      <div class="navbar-minimize">
          <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
          </button>
      </div>
      <a class="navbar-brand" href="{{getPath()}}"> {{getTitle() | translate}}</a>
    </div>
   
    
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <!-- <div *jhiHasAnyAuthority="'Header_Search_User'" class="collapse navbar-collapse justify-content-end" id="navigation">
          <form [formGroup]="searchUserForm" class="navbar-form navbarMatFormField">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Buscar usuarios" formControlName="searchCriteria" (keyup.enter)="searchUser()">
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="searchUser()">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
        </div> -->
      <ul class="navbar-nav">
        <!-- <li class="dropdown">
          <div>
            <p><strong>{{newTokenFetched}} :::  {{idleState_inact}}</strong></p>
            <p><small> Last keepalive ping <strong>{{lastPing_inact }}</strong></small></p>
            <button (click)="reset_inact()" *ngIf="timedOut_inact">Restart</button>
          </div>
      </li> -->
        <li class="dropdown">
          <!-- <div>{{expiresInSecs}} :: <span style="color: red;font-weight: bold;" >{{displayExpTimeInMilliSecs}} :: </span></div> -->
                  <!-- <p *ngIf="lastPing"><small>Session will Expire by: <strong>{{ lastPing }}</strong></small></p> -->
                  <!-- <button (click)="reset()" *ngIf="timedOut">Relogin</button> -->
        </li>
        <li class="dropdown" style="margin-bottom: -25px;">
            <p ><span>{{selectedLanguage  | translate}}</span></p>
        </li>
        <li class="dropdown">
              <!-- #docregion mat-menu-trigger-for -->
              <button mat-button [matMenuTriggerFor]="menu" style="cursor: pointer"><i title="Language" class="material-icons">language</i></button>
              <!-- #enddocregion mat-menu-trigger-for -->
              <mat-menu #menu="matMenu">
                <button mat-menu-item value="en" (click)="changeLanguage($event)">{{'English' | translate}}</button>
                <button mat-menu-item value="es" (click)="changeLanguage($event)">{{'Spanish' | translate}}</button>
              </mat-menu>
        </li>
        <li class="dropdown">
            <!-- <mat-icon matBadge="15" matBadgeColor="primary" data-toggle="dropdown" >notification_important</mat-icon> -->
              <a data-toggle="dropdown" style="cursor: pointer" (click)="openNotification(!showNotification, $event)">
                <img src="../../../content/images/icons/notificationIcon.svg" class="actionIcons">
                <span *ngIf="noOfNotifications != 0" class="notification" style="top: -8px !important; right: -3px !important;">{{noOfNotifications}}</span> 
              </a>
        </li>
      </ul>
    </div>
    <!-- (clickOutside)="openNotification(false)"  -->
    <div *ngIf="showNotification" class="notification-content" (click)="$event.stopPropagation()">
        <div class="notification-header" [style.max-height.px]="notificationWindowHeight" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" 
        (scrolled)="onScroll()" [scrollWindow]="false" [infiniteScrollDisabled]="isFullListDisplayed">
          <span class="mdi mdi-settings"></span>
          <div *ngFor="let notification of notifications; let i = index; let last = last">
              <mat-card *ngIf="notification.active" class="mat-elevation-z0" [ngStyle] = "notification.markRead ? {'background-color': 'white'}: {'background-color': '#cfd8d9'}">
                <mat-card-content >
                  <b>{{notification.name}}</b>
                  <button style="float: right; margin-top: -17px;" mat-raised-button type="button" matTooltip="{{'delete' | translate}}" 
                  class="btn btn-danger btn-link" (click)="deleteNotification(notification)">
                   <mat-icon >delete</mat-icon>
                 </button>
                 <p style="cursor: pointer" (click)="onClickOfNotification(notification)">{{notification.description}}</p>
                </mat-card-content>
              </mat-card>
            </div>
        </div>
      </div>
    
    <!-- <div  class="collapse navbar-collapse " id="search_navigation" style="position: absolute;margin-top: 95px;margin-left: 250px;width: 500px;">
        <div *jhiHasAnyAuthority="'Header_Search_User'" class="collapse navbar-collapse " id="navigation">
          <form [formGroup]="searchUserForm" class="navbar-form navbarMatFormField" style="width:100%;padding-left: 100px" >
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search by Name or Email" formControlName="searchCriteria" (keyup.enter)="searchUser()">
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="searchUser()">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
        </div>
     </div> -->
      <!-- <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link btnNotific" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!-- <img src="../../../content/images/icons/notificationIcon.svg" class="actionIcons">
            <span class="notification">0</span> -->
            <!-- <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
        </li>
      </ul> -->
      <!-- <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="../../../content/images/mypic.png">
        </a>
      </div> -->
    
    <!-- <div id="usermenu" style="display:none">
        <button class="btn btn-primary btn-sm mat-raised-button" mat-raised-button=""><span class="mat-button-wrapper">Small</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
        <button class="btn btn-primary btn-sm mat-raised-button" mat-raised-button=""><span class="mat-button-wrapper">Small</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
        <button class="btn btn-primary btn-sm mat-raised-button" mat-raised-button=""><span class="mat-button-wrapper">Small</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>

    </div> -->
  </div>
</nav>  
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" id="reLogin" data-toggle="modal" data-target="#modalConfirmDelete">Launch modal</button>
</nav>
<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
  <!--Content-->
  <div class="modal-content text-center">
  <!--Header-->
  <div class="modal-header d-flex justify-content-center">
  <p class="heading">Session is Timed Out!</p>
  </div>
 <!-- 
 //Body
  <div class="modal-body">
 
 <i class="fa fa-times fa-4x animated rotateIn"></i>
 
 </div> -->
 
 <!--Footer-->
  <div class="modal-footer flex-center">
   <button type="button" class="btn btn-primary" (click)="logout()">Relogin</button>
  </div>
  </div>
  <!--/.Content-->
  </div>
  </div>
  <!-- Modal -->
<div class="modal fade" data-backdrop="" id="timeOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body" style="display: inherit;padding: top 0px; margin-right: auto; margin-top: -1em;">
        <mat-icon style="color: red;">warning</mat-icon>
        <div style="margin-left: 1em;">{{'global.session_inactive' | translate}} <span style="font-weight: bold;" >{{idleState}}</span> {{timeInMinOrSecondsKey | translate}}</div>
                    <!-- <p *ngIf="lastPing"><small>Session will Expire by: <strong>{{ lastPing }}</strong></small></p> -->
      </div>
      <div class="text-center" style="padding-bottom: 1em;">
        <button class="btn" type="submit" (click)="reset()" style="background-color: #00bcd4 !important;color: white !important;" data-dismiss="modal">{{'global.stay_signed_in' | translate}}</button>
        <button class="btn" type="submit" (click)="logout()" style="background-color: #00bcd4 !important;color: white !important;" data-dismiss="modal">{{'Log_out' | translate}}</button>
      </div>
    </div>
  </div>
  </div>
  <!--Modal: modalConfirmDelete-->