<div class="main-content">
    <div class="container-fluid">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="card">
            <div class="card-header card-header-primary card-header-text">
                <div class="card-icon"><i class="material-icons">how_to_reg</i></div>
                <h4 class="card-title">{{'manageIdentiyDevices.setUpNewPin' | translate}}</h4>
            </div>
            <div class="card-body">
                <div *ngIf="display; else elseBlock">
                <!-- Error Message Starts -->
                <div *ngIf="errorDisplay">
                    <div class="alert alert-danger">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>{{message}}</span>
                    </div>
                </div>
                <h4>{{'manageIdentiyDevices.resetPinDescription' | translate}}</h4>
                <!-- Error Message Ends -->
                <form [formGroup]="resetPinForm">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="perso" class="col-md-2 col-2 col-form-label">{{'issuance.connected' | translate}} {{'issuance.cardReader' | translate}}</label>
                            <div class="col-md-5 col-5">
                                <mat-form-field>
                                    <mat-select formControlName="identityDevice">
                                        <mat-option *ngFor="let cardReader of cardReaders" [value]="cardReader">
                                            {{cardReader.cardReaderName}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="resetPinForm.controls['identityDevice'].hasError('required')">
                                        {{'issuance.validations.cardReader.required' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 col-2 col-form-label">{{'issuance.newPin' | translate}}</label>
                            <div class="col-md-5 col-5">
                                <mat-form-field>
                                    <input jhiNumbersOnly matInput [type]="pinHide ? 'password' : 'text'" formControlName="pin">
                                    <mat-icon matSuffix (click)="pinHide = !pinHide">{{pinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="resetPinForm.controls['pin'].hasError('required')">{{'issuance.validations.pin.required' | translate}}</mat-error>
                                    <mat-error *ngIf="resetPinForm.controls['pin'].hasError('pattern')">
                                        {{'issuance.validations.lengthError' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 15px;">
                            <label class="col-md-2 col-2 col-form-label">{{'issuance.confirmPin' | translate}}</label>
                            <div class="col-md-5 col-5">
                                <mat-form-field>
                                    <input jhiNumbersOnly matInput [type]="confirmPinHide ? 'password' : 'text'" formControlName="confirmPin">
                                    <mat-icon matSuffix (click)="confirmPinHide = !confirmPinHide">
                                        {{confirmPinHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="resetPinForm.controls['confirmPin'].hasError('required')">
                                        {{'issuance.validations.confirmPin.required' | translate}}</mat-error>
                                    <mat-error *ngIf="resetPinForm.controls['confirmPin'].hasError('compare')">
                                        {{'issuance.validations.confirmPin.compare' | translate}} </mat-error>
                                    <mat-error *ngIf="resetPinForm.controls['confirmPin'].hasError('pattern')">
                                        {{'issuance.validations.lengthError' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <label class="col-md-2 col-2 col-form-label"></label>
                            <div class="col-md-5 col-5">
                                <ul style="margin-left:-24px;">
                                    <li>{{'issuance.pinPolicies.pinLength' | translate}}</li>
                                    <li>{{'issuance.pinPolicies.notContSeqDigits' | translate}}</li>
                                    <li>{{'issuance.pinPolicies.noRepeatedDigits' | translate}}</li>
                                </ul>
                            </div>
                        </div> -->

                    </div>
                    <div class="saveCancelBtns float-right">
                        <button mat-raised-button  class="btn  btn-primary" [jhiSubmitIfValid]="resetPinForm" (valid)="resetPin()">{{'ok' | translate}}</button>
                        <button mat-raised-button  class="btn btn-primary" routerLink="../manageIdentityDevices">{{'cancel' | translate}}</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- suceess message -->
<ng-template #elseBlock>
    <div class="alert alert-success">
        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goBack()">
            <i class="material-icons">close</i>
        </button>
        <span>{{message}}</span>
    </div>
    <div class="float-right">
        <button mat-raised-button class="btn btn-primary" (click)="goBack()">{{'done' | translate}}</button>
    </div>
</ng-template>