<div class="main-content">
        <div class="container-fluid">
            <div class="mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="far fa-address-card" style="font-size:24px;"></i> -->
                            <svg-icon  style="width: 33px;height:35px" src="../../content/images/icons/visual_ic_edited.svg" [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
                        </div>
                        <h4 class="card-title">{{'manageVisualDesign.addVisualDesign' | translate}}</h4> 
                    </div>
                   
                    <div class="card-body">
                        <!-- Success Message Starts -->
                        <div *ngIf="successMsg">
                            <div class="alert alert-success">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="goHome()">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{message}}</span>
                            </div>
                            <div class="float-right">
                                <button mat-raised-button class="btn btn-primary" (click)="goHome()">{{'global.menu.home' | translate}}</button>
                            </div>
                        </div>
                        <!-- Success Message Ends -->
                        <!-- Error Message Starts -->
                        <div *ngIf="errorMsg">
                            <div class="alert alert-danger">
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>{{message}}</span>
                            </div>
                        </div>
                        <!-- Error Message Ends -->
                        <div *ngIf="!successMsg">
                            <form [formGroup]="visualDesignForm">
                                <div class="row_margins">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label">{{'manageVisualDesign.header-section.type' | translate}} :</label>
                                                <div class="col-md-9 col-9"> 
                                                    <mat-form-field>
                                                        <mat-select formControlName="type">
                                                            <mat-option *ngFor="let visualDesignType of visualDesignTypes" [value]="visualDesignType">
                                                                {{ visualDesignType.identityTypeName }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error *ngIf="visualDesignForm.controls['type'].hasError('required')">
                                                            {{'visualDesign.errors.typeError' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <label class="col-md-3 col-2 col-form-label"> {{'manageVisualDesign.header-section.deviceType' | translate}} :</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <mat-select multiple formControlName="device">
                                                            <mat-option *ngFor="let device of devices" [value]="device.name">
                                                                {{ device.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error *ngIf="visualDesignForm.controls['device'].hasError('required')">
                                                            {{'visualDesign.errors.deviceError' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div class="row mb-4">
                                                <label class="col-md-3 col-2 col-form-label">{{'visualDesign.name' | translate}} :</label>
                                                <div class="col-md-9 col-9">
                                                    <mat-form-field>
                                                        <input matInput placeholder="" type="text" formControlName="name">
                                                        <mat-error *ngIf="visualDesignForm.controls['name'].hasError('required')">
                                                            {{'visualDesign.errors.nameError' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row mb-4">
                                                    <label class="col-md-3 col-2 col-form-label">{{'visualDesign.frontCard' | translate}} :</label>
                                                    <div class="col-md-4 col-4">
                                                        <div>
                                                            <input class='hideFileName' #fileFront type="file" accept='.svg' id="frontDesign"
                                                                (change)="onFrontDesignChange($event); previewFrontDesign(fileFront.files)" />
                                                            <label #frontDesignLabel [hidden]="fileFront.files.length>0 ? true: false">{{'visualDesign.errors.noFileChoosen' | translate}}</label>
                                                            <input type="hidden" name="fileHidden" formControlName="frontDesign"/>
                                                            <mat-error class="materror" *ngIf="frontCardError">
                                                                {{'visualDesign.errors.frontCardError' | translate}}
                                                            </mat-error>
                                                        </div>
                                                    </div>
                                                    
                                                <div class="col-md-5 col-5 text-right">
                                                    <label style="margin-right:10px;">{{'visualDesign.frontOrientation' | translate}}</label>
                                                    <mat-radio-group formControlName="frontOrientation">
                                                        <mat-radio-button checked style="margin-right:10px;" value="Horizontal">
                                                                <span>{{'visualDesign.horizontal' | translate}}</span></mat-radio-button>
                                                        <mat-radio-button value="Vertical">
                                                                <span>{{'visualDesign.vertical' | translate}}</span></mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="row mb-4">
                                                    <label class="col-md-3 col-2 col-form-label">{{'visualDesign.backCard' | translate}} :</label>
                                                    <div class="col-md-4 col-4">
                                                        <div>
                                                            <input class='hideFileName' #fileBack type="file" accept=".svg" id="backDesign"
                                                                (change)="onBackDesignChange($event); previewBackDesign(fileBack.files)"/>
                                                            <label #backDesignLabel [hidden]="fileBack.files.length>0 ? true: false">{{'visualDesign.errors.noFileChoosen' | translate}}</label>
                                                            <input type="hidden" name="fileHidden" formControlName="backDesign"/>
                                                            <mat-error class="materror" *ngIf="backCardError">
                                                                {{'visualDesign.errors.backCardError' | translate}}
                                                            </mat-error>
                                                        </div>
                                                    </div>
                                                    
                                                <div class="col-md-5 col-5 text-right">
                                                    <label style="margin-right:10px;">{{'visualDesign.backOrientation' | translate}}</label>
                                                    <mat-radio-group formControlName="backOrientation">
                                                        <mat-radio-button checked style="margin-right:10px;" value="Horizontal">
                                                                <span>{{'visualDesign.horizontal' | translate}}</span></mat-radio-button>
                                                        <mat-radio-button  value="Vertical"> <span>{{'visualDesign.vertical' | translate}}</span></mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="row mb-4">
                                                    <label class="col-md-3 col-2 col-form-label">{{'visualDesign.cardAttributes' | translate}} :</label>
                                                    <div class="col-md-9 col-9">
                                                        <div>
                                                            <input class='hideFileName' #attributesFile type="file" accept=".json" id="attributeMapping"
                                                                (change)="onCardAttributeChange($event)" />
                                                            <label #attributeMapping [hidden]="attributesFile.files.length>0 ? true: false">{{'visualDesign.errors.noFileChoosen' | translate}}</label>
                                                            <input type="hidden" name="fileHidden" formControlName="attributeMapping" />
                                                            <mat-error class="materror" *ngIf="attributeCardError">
                                                                {{'visualDesign.errors.cardAttributesError' | translate}}
                                                            </mat-error>
                                                        </div>
                                                    </div>
                                                    
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-2 previewId">
                                            <img [src]="imgURLFront | sanitizerUrl" *ngIf="imgURLFront"
                                                [ngClass]="((visualDesignForm.get('frontOrientation').value)==='Vertical')?'changeOrientation':''">
                                        </div>

                                        <div class="col-md-2 previewId">
                                                <img [src]="imgURLBack | sanitizerUrl" *ngIf="imgURLBack"
                                                [ngClass]="((visualDesignForm.get('backOrientation').value)==='Vertical')?'changeOrientation':''">
                                        </div> -->
                                        <div class="col-md-2 previewId" style=" margin-top: 7em;" *ngIf="imgURLFront">
                                            <label>{{'visualDesign.frontPreview' | translate}}</label>
                                            <img [src]="imgURLFront | sanitizerUrl">
                                        </div>

                                        <div class="col-md-2 previewId" style=" margin-top: 7em;" *ngIf="imgURLBack">
                                            <label>{{'visualDesign.backPreview' | translate}}</label>
                                            <img [src]="imgURLBack | sanitizerUrl">
                                        </div>
                                    </div>
                                </div>
                           
                            <div class="float-right saveCancelBtns">
                                <button class="btn btn-primary" type="button" style="background-color: white;color:black;" (click)="goHome()">{{'cancel' | translate}}</button>
                            	<button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="visualDesignForm" (valid)="saveVisualDesign()">{{'save' | translate}}</button>
                                <!-- (click)="saveVisualDesign()" -->
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>