.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: auto;
    border: 1.5px dotted grey;
}

.picture-src {
    width: 100%;
  }

  .picture{
    width: 106px;
    height: 106px;
    background-color: #4caf50;
    border: 4px solid #4caf50;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

  .row_margins{
      margin-bottom: 50px;
  }

  .header_row_margins{
      margin-bottom: 1em;
  }

  .materror{
      font-size: 75%;
      font-weight: 400;
      position: relative;
  }

  input[type=file] {
    position: relative;
  }

  .margin-25{
    margin:0px 0px 25px -15px;
  }

  .changeOrientation{
    transform:rotate(90deg);
  }

  .previewId img{
    box-shadow: 1px 0px 5px #0fb6cb;

  }

 .hideFileName {
   width:90px;
   color:transparent;
 }
