<div class="main-content">
  <div class="container-fluid">
    <div class="mat-elevation-z8">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <!-- <i class="far fa-address-card" style="font-size:24px;"></i> -->
            <svg-icon style="width: 33px;height:35px" src="../../content/images/icons/help_ic.svg"
              [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
          </div>
          <h4 class="card-title">{{'relyingParty.title' | translate}}</h4>

        </div>
        <div class="card-body">
          <div *ngIf="success">
            <div class="alert alert-success">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>{{message}}</span>
            </div>
          </div>
          <div *ngIf="failure">
            <div class="alert alert-danger">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>{{message}}</span>
            </div>
          </div>
          <form [formGroup]="relyingPartyFormGroup">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <label class="col-md-3 col-2 col-form-label">{{'relyingParty.redirectUri' | translate}}</label>
                  <div class="col-md-9 col-9">
                    <mat-form-field>
                      <input matInput placeholder="" type="text" formControlName="redirectUri">
                      <mat-error>
                        <div *ngIf="relyingPartyFormGroup.controls.redirectUri.hasError('required')">
                          {{'relyingParty.validation.required' | translate: {field: 'relyingParty.redirectUri' | translate } }}
                        </div>
                        <div *ngIf="relyingPartyFormGroup.controls['redirectUri'].hasError('minlength')">
                          {{'manageGroups.errors.minLengthValidation' | translate}}
                        </div>
                        <div *ngIf="relyingPartyFormGroup.controls['redirectUri'].hasError('maxlength')">
                          {{'manageGroups.errors.maxLengthValidation' | translate}}
                        </div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="float-right saveCancelBtns">
                <button mat-raised-button class="btn btn-primary" type="submit" [jhiSubmitIfValid]="relyingPartyFormGroup"
                  (valid)="addRedirectUri()">{{'relyingParty.addRedirectUri' | translate}}</button>
              </div>
            </div>
          </form>
          <mat-list #redirectUri>
            <h3 mat-subheader>{{'manageGroups.names' | translate}}</h3>
            <mat-list-item *ngFor="let redirectUri of redirectUris; last as last">
              <!-- <mat-icon mat-list-icon>groups</mat-icon> -->
              <svg-icon style="width: 33px;height:35px" src="../../content/images/icons/help_ic.svg"
              [svgStyle]="{'fill':'rgb(255, 255, 255)'}"></svg-icon>
              <div class="col-md-7">
                <h4 mat-line>{{redirectUri}}</h4>
              </div>
              <div class="col-md-3">
                <button mat-raised-button type="button" matTooltip="{{'delete' | translate}}"
                  class="btn btn-danger btn-link paddingBtn closebtn" (click)="deleteRedirectUri(redirectUri)"
                  data-toggle="modal" data-target="#redirectUri">
                  <i class="material-icons">close</i>
                </button>
                </button>
              </div>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>

        </div>
      </div>
    </div>
  </div>
</div>
<!--model start-->
<div class="modal fade" id="redirectUri" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{'relyingParty.messageDelete' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'relyingParty.deleteConfirm' | translate}}</p>
      </div>
      <div class="text-center">
        <button mat-raised-button type="button" style="background-color: white;color:black;" class="btn"
          data-dismiss="modal">{{'no' | translate }}</button>
        <button mat-raised-button type="button" class="btn modalBtnMarginLeft" (click)="delRedirectUri()"
          data-dismiss="modal">{{'yes' | translate }}</button>
      </div>
    </div>
  </div>
</div>